﻿@model List<Sinif>
@{
    int index = 0;
}
@using HaveakPro.Models;

<table id="SinifListesi" class="table table-bordered table-striped table-actions datatable">
    <thead>
        <tr>
            <th>Sıra</th>            
            <th>Sınıf Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            index++;                                     

            <tr>
                <td>@index</td>                
                <td>@item.SinifAdi</td>
                <td>
                    <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.SinifAdi');"><span class="fa fa-pencil"></span></a>
                    <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');"><span class="fa fa-times"></span></a>
                </td>
            </tr>
                                                
        }
    </tbody>
</table>

<script>
    $('#SinifListesi').dataTable();
</script>