﻿@model List<Kullanici>
@{
    ViewBag.Title = "EgitimBolumAtama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var bolumList = (List<Bolum>)ViewBag.Bolum;
    var siniflar = (List<Sinif>)ViewBag.Sinif;
    HaveakEntities Entity = new HaveakEntities();
    ViewBag.Sayfa = "Egitim";
}
@using HaveakPro.Models;


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">ÜNİTELER</li>
</ul>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form id="form1" action="/PANEL/EgitimIslemler/SinifOgrenciKaydet" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>EĞİTİM SINIFA KATEGORİ ATAMA İŞLEMLERİ </strong>Sınıfa Bağlı Kategori Ekleme Kaldırma Güncelleme</h3>
                    </div>
                    <div class="panel-body">
                        <p>Eğitim Sınıflara tanımlı Öğrencilere kurslar eklendiği, düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">

                            <div class="form-group">

                                <label class="col-md-2 control-label">Kategoriler</label>
                                <div class="col-md-10" id="checklistx">

                                    @foreach (var itemBolumList in bolumList)
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="Bolum_Ref_@itemBolumList.ID" name="Bolum_Ref" type="checkbox" class="icheckbox" value="@itemBolumList.ID" />
                                                </td>
                                                <td>
                                                    <h6>@itemBolumList.BolumAdi</h6>
                                                </td>
                                            </tr>
                                        </table>
                                            <ol>
                                                @foreach (var itemMb in itemBolumList.KursModullers)
                                                {
                                                    <li>@itemMb.UniteModul.Modul</li>
                                                }
                                            </ol>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Sınıflar</label>
                                <div class="col-md-10">
                                    <select id="Sinif_Ref" name="Sinif_Ref" class="form-control select" data-style="btn-success" onchange="getData()" data-live-search="true">
                                        <option value="0">Sınıf Seçiniz</option>
                                        @foreach (var item in siniflar)
                                        {
                                            <option value="@item.ID">@item.SinifAdi</option>
                                        }
                                    </select>
                                    <input type="hidden" id="ID" value="" />
                                    <span class="help-block">Eğitim Bölüm Girişi</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-2 control-label">Başlama Tarihi</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="BaslamaTarihi" name="BaslamaTarihi" placeholder="Baslama Tarihi" class="form-control datepicker" value="" />
                                    </div>
                                    <span class="help-block">(Yıl-Ay-Gün) Uluslararası Format</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Bitiş Tarihi</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="BitisTarihi" name="BitisTarihi" placeholder="Bitis Tarihi" class="form-control datepicker" value="" />
                                    </div>
                                    <span class="help-block">(Yıl-Ay-Gün) Uluslararası Format</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Öğrenciler</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <input type="hidden" id="SeciliPersoneller" name="Personel_Ref[]" value="" />
                                    <table id="Personeller" class="table table-bordered table-striped table-actions datatable">
                                        <thead>
                                            <tr>
                                                <th style="width: 8px;">Seç</th>
                                                <th><i class="icon-sitemap"></i>Personel</th>
                                                <th><i class="icon-sitemap"></i>Yetkileri</th>
                                                <th><i class="icon-sitemap"></i>Devam ettiği Sınıf</th>
                                                <th><i class="icon-sitemap"></i>Aldığı Kurslar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <input id="pers_ref_@item.ID" name="PrsX" type="checkbox" style="width:40px; cursor:pointer" value="@item.Personel_Ref" />
                                                    </td>
                                                    <td>
                                                        <a href="#" class="friend">
                                                            <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" style="width: 45px; height: 45px">
                                                            <span>@item.Personel.Adi @item.Personel.Soyadi</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @{
                                                            string rolleri = "";
                                                            var list = item.Kull_Rolleri.Where(y => y.IsActive == true && y.IsDelete == false).Select(r => r.Kull_Rol_Adi.Name).ToList();
                                                            foreach (var itemr in list)
                                                            {
                                                                rolleri += "<span class='label label-primary'>" + itemr + "</span><br />";
                                                            }
                                                            if (rolleri == "" || rolleri == null)
                                                            {
                                                                rolleri = "<span class='label label-default'>YOK</span>";
                                                            }
                                                            <p>@Html.Raw(rolleri)</p>
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="success"></div>
                                                        @{
                                                            string sinifAdi = "";
                                                            List<string> kontrol = Entity.Sinif_Ogrenci.Where(r => r.Personel_Ref == item.Personel_Ref).Select(t => t.Sinif.SinifAdi).ToList();
                                                            foreach (var itemz in kontrol.Select((x, y) => new { Index = y, Data = x }))
                                                            {
                                                                sinifAdi += "<span class='label label-info'>" + itemz.Data + "</span><br />";
                                                            }
                                                            if (sinifAdi == "" || sinifAdi == null)
                                                            {
                                                                sinifAdi = "<span class='label label-default''>YOK</span>";
                                                            }
                                                            <p>@Html.Raw(sinifAdi)</p>
                                                        }
                                                    </td>

                                                    <td>
                                                        <div class="success"></div>
                                                        @{
                                                            string kurslar = "";
                                                            List<string> kontrol2 = Entity.AtananBolumlers.Where(r => r.Sinif_Ogrenci.Personel_Ref == item.Personel_Ref).Select(t => t.Bolum.BolumAdi).ToList();
                                                            foreach (var itemk in kontrol2.Select((x, y) => new { Index = y, Data = x }))
                                                            {
                                                                kurslar += "<span class='label label-danger'>" + itemk.Data + "</span><br />";
                                                            }
                                                            if (kurslar == "" || kurslar == null)
                                                            {
                                                                kurslar = "<span class='label label-default'>YOK</span>";
                                                            }
                                                            <p>@Html.Raw(kurslar)</p>
                                                        }
                                                    </td>
                                                </tr>
                                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sınıfa Kayıtlı Öğrenciler</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body" id="SinifOgrenci">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Sınıf Seçiniz!</strong> Sınıfa tanımlalı öğrencileri görmek için lütfen sınıf seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-default" onclick="Refresh()" value="Temizle" />
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- END PAGE CONTENT WRAPPER -->


    <button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
    <button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
    <button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

    <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
                <div class="mb-content">
                    <p>Lütfen Seçili Bölüm ve Ünite Adı bilgilerini kontrol ediniz!</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box message-box-info animated fadeIn" id="message-box-info">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
                <div class="mb-content">
                    <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Üniteye bağlı Tüm Konular sistemden kaldırılacaktır!!!)</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
    <div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
                <div class="mb-content">
                    <p>Yapılan Değişiklikler Sisteme Yansıtılacaktır Eminmisiniz ?</p>
                </div>
                <div class="mb-footer">
                    <input type="hidden" id="SOID" value="" />
                    <button class="btn btn-warning btn-lg pull-right mb-control-close" onclick="Guncelle();">Evet</button>
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/Content/js/plugins/jquery/jquery.min.js"></script>

@*@section scripts{*@
<script>
    var idler = [];
    $(function () {
        $('input[type="checkbox"][name="PrsX"]').change(function () {
            debugger

            var control = $(this).is(':checked')
            var idx = $(this).val();
            if (control) {
                idler.push(idx);
            }
            else {
                var i = idler.indexOf(idx);
                idler.splice(i, 1);
            }
        });
    });

    //function PersonelIDEkle(id)
    //{
    //    var durum = $('#pers_ref_' + id).prop('checked');
    //    if (durum) {
    //        idler.push(id);
    //    }
    //    else {
    //        idler.remove(id);
    //    }
    //}

    function BilgiGuncelle(id, mref, uadi) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Modul_Ref option:selected").removeAttr("selected");
        $("#Modul_Ref option[value='" + mref + "']").attr('selected', 'selected');
        $("#Modul_Ref").change();
        $("#UniteAdi").val(uadi);
        $("#VideoAta")
        $("#UniteAdi").focus();
        $("#ID").val(id);
    }

    function Ekle() {
        debugger
        var bolumler = [];
        $("#checklistx input:checkbox").each(function () {
            var isChecked = $(this).prop("checked");
            if (isChecked) {
                bolumler.push($(this).val());
            }
        });

        var sinifref = $('#Sinif_Ref').val();
        var baslamaTarihi = $('#BaslamaTarihi').val();
        var bitisTarihi = $('#BitisTarihi').val();

        //var personeller = [];
        //$('#Personeller input:checkbox').each(function () {
        //    var isChecked = $(this).prop("checked");
        //    if (isChecked) {
        //        personeller.push($(this).val());
        //    }
        //});

        if (bolumler.length != 0 && sinifref != 0 && baslamaTarihi != "" && bitisTarihi != "" && idler.length != 0) {
            $('#kaydet').attr('disabled', 'disabled');

            $.ajax({
                url: '/PANEL/EgitimIslemler/SinifOgrenciKaydet',
                data: { 'Bolum_Ref': bolumler, 'Personel_Ref': idler, 'Sinif_Ref': sinifref, 'BaslamaTarihi': baslamaTarihi, 'BitisTarihi': bitisTarihi },
                traditional : true,
                async: false,
                success : function(){
                    $('#onay').click();
                }
            });


            //$('#form1').submit();

        } else {
            $('#uyari').click();
        }
    }

    function Guncelle() {
        var modul = $("#Modul_Ref").val();
        var unite = $("#Unite").val();
        var id = $("#ID").val();

        $.get('@Url.Action("UniteGuncelle", "EgitimIslemler", new { area = "PANEL" })', { ID: id, UniteAdi: unite, Modul_Ref: modul }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function getData() {
        var idx = $('#Sinif_Ref').val();
        if (idx != "0") {
            $.get('@Url.Action("_SinifData", "EgitimIslemler", new { area = "Panel" })', { sinifId: idx }, function (data) {
                $("#SinifOgrenci").html(data);
            });
        }
        else {
            $("#SinifOgrenci").html("<div class='alert alert-warning' role='alert'>" +
                                "Sınıf Seçiniz!</strong> Sınıfa tanımlalı öğrencileri görmek için lütfen sınıf senizin." +
                            "</div>");
        }
    }

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("UniteSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        location.reload();
    }
</script>
    @*}*@




