﻿@model List<UniteModul>
@{
    ViewBag.Title = "UniteModul";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
    ViewBag.Sayfa = "Egitim";
}
@using HaveakPro.Models;


    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active">BÖLÜMLER</li>
    </ul>
   
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" action="@Url.Action("ModulEkle", "EgitimIslemler", new { area= "PANEL"})" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>EĞİTİM BÖLÜM İŞLEMLERİ </strong>Bölüm Ekleme Kaldırma Güncelleme</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p>Eğitim Bölümlerinin tanımlandığı düzenlendiği yerdir.</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Bölüm Adı :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <input id="Modul" name="Modul" type="text" placeholder="Bölüm adı giriniz" class="form-control" style="width: 300px">
                                            <input type="hidden" id="ID" value="" />
                                        </div>
                                        <span class="help-block">Eğitim Bölüm Girişi</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Bölümler</h3>
                                        <ul class="panel-controls">
                                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped table-actions datatable">
                                            <thead>
                                                <tr>
                                                    <th>Sıra</th>
                                                    <th>Kategori Adı</th>
                                                    <th>İşlem</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    index++;                                      

                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.Modul</td>
                                                        <td>
                                                            @*<input class="btn btn-info" id="btnGuncelle" type="button" value="Güncelle" />*@
                                                            @*   <button class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_3');"><span class="fa fa-times"></span></button>*@
                                                            <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.Modul');"><span class="fa fa-pencil"></span></a>
                                                            <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');"><span class="fa fa-times"></span></a>
                                                        </td>
                                                    </tr>
                                                
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Temizle</button>
                            <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                            <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();"/>                            
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
  
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Kategori Adı giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Bölüm Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Bölüme bağlı Tüm Üniteler sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">                
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    function BilgiGuncelle(id, madi)
    {       
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Modul").val(madi);
        $("#Modul").focus();
        $("#ID").val(id);
    }

    function Ekle()
    {
        var modul =  $("#Modul").val();
        if (modul == "") {
            $('#uyari').click();    
            return;
        }

        $('form').submit();
    }

    function Guncelle()
    { 
        var Modul =  $("#Modul").val();
        var id =  $("#ID").val();

        $.get('@Url.Action("ModulGuncelle", "EgitimIslemler", new { area = "PANEL" })', { ID: id, Modul : Modul}, function (data) {
            if (data) {
                $('#onay').click();  
            }        
        });    
    }

    function Remove(id) {        
        $('#silme').click();
        $("#ID").val(id);
    }   

    function Sil()
    { 
        var id = $("#ID").val();
        $.get('@Url.Action("ModulSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id}, function (data) {
            if (data) {
                $('#onay').click();  
            }        
        });    
    }
    function Refresh()
    {
        window.location.href = '@Url.Action("UniteModul", "EgitimIslemler", new { area = "PANEL"})';
    }


</script>
}