﻿@{
    ViewBag.Title = "MailGonder";
    Layout = "~/Views/Shared/_LMenu.cshtml";
}

<div class="page-content">

    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- END TOGGLE NAVIGATION -->
        <!-- SEARCH -->
        @*<li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..." />
            </form>
        </li>*@
        <!-- END SEARCH -->
        <!-- SIGN OUT -->
        <li class="xn-icon-button pull-right">
            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
        </li>
        <!-- END SIGN OUT -->
        <!-- MESSAGES -->
        <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-comments"></span></a>
            <div class="informer informer-danger">4</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>
                    <div class="pull-right">
                        <span class="label label-danger">4 yeni</span>
                    </div>
                </div>
                <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-online"></div>
                        <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe" />
                        <span class="contacts-title">John Doe</span>
                        <p>Praesent placerat tellus id augue condimentum</p>
                    </a>
                @*    <a href="#" class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk" />
                        <span class="contacts-title">Dmitry Ivaniuk</span>
                        <p>Donec risus sapien, sagittis et magna quis</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali" />
                        <span class="contacts-title">Nadia Ali</span>
                        <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-offline"></div>
                        <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader" />
                        <span class="contacts-title">Darth Vader</span>
                        <p>I want my money back!</p>
                    </a>*@
                </div>
                <div class="panel-footer text-center">
                    <a href="pages-messages.html">Tüm Mesajlar</a>
                </div>
            </div>
        </li>
        <!-- END MESSAGES -->
        <!-- TASKS -->
       @* <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-tasks"></span></a>
            <div class="informer informer-warning">3</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-tasks"></span>Tasks</h3>
                    <div class="pull-right">
                        <span class="label label-warning">3 active</span>
                    </div>
                </div>
                <div class="panel-body list-group scroll" style="height: 200px;">
                    <a class="list-group-item" href="#">
                        <strong>Phasellus augue arcu, elementum</strong>
                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                        </div>
                        <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Aenean ac cursus</strong>
                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                        </div>
                        <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Lorem ipsum dolor</strong>
                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                        </div>
                        <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Cras suscipit ac quam at tincidunt.</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                        </div>
                        <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                    </a>
                </div>
                <div class="panel-footer text-center">
                    <a href="pages-tasks.html">Show all tasks</a>
                </div>
            </div>
        </li>*@
        <!-- END TASKS -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
        <li><a href="@Url.Action("Index", "Home", new { area=""})">AnaSayfa</a></li>
        <li><a href="@Url.Action("PostaGelen", "MesajIslemler", new { area=""})">Posta</a></li>      
        <li class="active">YeniPosta</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- START CONTENT FRAME -->
    <div class="content-frame">
        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">
            <div class="page-title">
                <h2><span class="fa fa-pencil"></span>Yeni Posta</h2>
            </div>

          @*  <div class="pull-right">
                <button class="btn btn-default"><span class="fa fa-cogs"></span>Settings</button>
                <button class="btn btn-default"><span class="fa fa-floppy-o"></span>Save</button>
                <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
            </div>*@
        </div>
        <!-- END CONTENT FRAME TOP -->

        <!-- START CONTENT FRAME LEFT -->
        <div class="content-frame-left">
            <div class="block">
                <div class="list-group border-bottom">
                    <a href="#" class="list-group-item"><span class="fa fa-inbox"></span>Gelen Postalar <span class="badge badge-success">3</span></a>
                  @*  <a href="#" class="list-group-item"><span class="fa fa-star"></span>Starred <span class="badge badge-warning">6</span></a>
                    <a href="#" class="list-group-item"><span class="fa fa-rocket"></span>Sent</a>
                    <a href="#" class="list-group-item"><span class="fa fa-flag"></span>Flagged</a>*@
                    <a href="#" class="list-group-item"><span class="fa fa-trash-o"></span>Silinen Postalar <span class="badge badge-default">8k</span></a>
                </div>
            </div>
            <div class="block">
                <h4>Sismdemdeki Yöneticiler</h4>
                <div class="list-group list-group-simple">
                    <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span>Clients</a>
                  @*  <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span>Social</a>
                    <a href="#" class="list-group-item"><span class="fa fa-circle text-danger"></span>Work</a>
                    <a href="#" class="list-group-item"><span class="fa fa-circle text-info"></span>Family</a>
                    <a href="#" class="list-group-item"><span class="fa fa-circle text-primary"></span>Friends</a>*@
                </div>
            </div>
        </div>
        <!-- END CONTENT FRAME LEFT -->

        <!-- START CONTENT FRAME BODY -->
        <div class="content-frame-body">
            <div class="block">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <button class="btn btn-default"><span class="fa fa-trash-o"></span>Posta İptal</button>
                            </div>
                          @*  <div class="pull-right">
                                <button class="btn btn-danger"><span class="fa fa-envelope"></span>Posta Gönder</button>
                            </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Yönetici:</label>
                        <div class="col-md-10">
                            <select class="form-control select">
                                <option>Dmitry (dmitryivaniuk@domain.com)</option>
                                <option>Incognito (otheremail@domain.com)</option>
                            </select>
                        </div>
                    </div>
                  @*  <div class="form-group">
                        <label class="col-md-2 control-label">To:</label>
                        <div class="col-md-9">
                            <input type="text" class="tagsinput" value="John (johndoe@domain.com)" data-placeholder="add email" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-link toggle" data-toggle="mail-cc">Cc</button>
                        </div>
                    </div>*@
                   @* <div class="form-group hidden" id="mail-cc">
                        <label class="col-md-2 control-label">Cc:</label>
                        <div class="col-md-10">
                            <input type="text" class="tagsinput" value="" data-placeholder="add email" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-md-2 control-label">Başlık:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" value="Re: Lorem ipsum dolor sit amet" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ek:</label>
                        <div class="col-md-10">
                            <input type="file" class="file" data-filename-placement="inside" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="summernote_email"><p>Hello Dmitry,</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula risus, viverra sit amet purus id, ullamcorper venenatis leo. Ut vitae semper neque. Nunc vel lacus vel erat sodales ultricies sed sed massa. Duis non elementum velit. Nunc quis molestie dui. Nullam ullamcorper lectus in mattis volutpat. Nunc egestas felis sit amet ultrices euismod. Donec lacinia neque vel quam pharetra, non dignissim arcu semper. Donec ultricies, neque ut vehicula ultrices, ligula velit sodales purus, eget eleifend libero risus sed turpis. Fusce hendrerit vel dui ut pulvinar. Ut sed tristique ante, sed egestas turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p>Fusce sit amet dui at nunc laoreet facilisis. Proin consequat orci sollicitudin sem cursus, quis vehicula eros ultrices. Cras fermentum justo at nibh tincidunt, consectetur elementum est aliquam.</p>
<p>Nam dignissim convallis nulla, vitae porta purus fringilla ac. Praesent consectetur ex eu dui efficitur sollicitudin. Mauris libero est, aliquam a diam maximus, dignissim laoreet lacus.</p>
<p>Nulla ac nisi sodales, auctor dui et, consequat turpis. Cras dolor turpis, sagittis vel elit in, varius elementum arcu. Mauris aliquet lorem ac enim blandit, nec consequat tortor auctor. Sed eget nunc at justo congue mollis eget a urna. Phasellus in mauris quis tortor porta tristique at a risus.</p>
<p><strong>Best Regards<br/>John Doe</strong></p>                                        
                                    </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <button class="btn btn-default"><span class="fa fa-trash-o"></span>Posta İptal</button>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-danger"><span class="fa fa-envelope"></span>Posta Gönder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- END CONTENT FRAME BODY -->
    </div>
    <!-- END CONTENT FRAME -->

</div>
