﻿@model List<Personel_Sinavlar>
@{
    HaveakEntities db = (HaveakEntities)ViewBag.Data;

}
@using HaveakPro.Models;


@if (Model.Count > 0)
{
    <table id="SinavPersoneller" class="table table-bordered datatable">
        <thead>
            <tr>
                <th>Sıra</th>
                <th class="hidden-phone">Sınav No</th>
                <th class="hidden-phone">Personel</th>
                <th class="hidden-phone">Katıldığı Tüm Sınıflar</th>
                <th class="hidden-phone">Genel Notlar</th>
                <th class="hidden-phone">Netice</th>
                <th class="hidden-phone">Sınava</th>
                <th class="hidden-phone">Personel Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
            {
                //Personel prs = null;
                List<string> siniflar = null;
                //prs = db.Personels.Where(e => e.ID == item.Data.Sinif_Ogrenci.Personel_Ref).FirstOrDefault();
                siniflar = db.Sinif_Ogrenci.Where(e => e.Personel_Ref == item.Data.Sinif_Ogrenci.Personel_Ref).Select(q => q.Sinif.SinifAdi).ToList();

            <tr>
                <td>
                    @(item.Index + 1)
                    <input type="hidden" id="PSinav_@item.Data.ID" value="@item.Data.ID" />
                </td>
                <td>@item.Data.Sinavlar.SinavNo</td>
                <td>
                    @item.Data.Sinif_Ogrenci.Personel.Adi  @item.Data.Sinif_Ogrenci.Personel.Soyadi
                </td>
                <td>
                    @foreach (var snf in siniflar)
                        {
                        <label>@snf</label><br />
                        }

                </td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td>S.Notu Uygulama</td>
                            <td>S.Notu Teorik</td>
                        </tr>
                        <tr style="font-weight: bold">
                            <td>@item.Data.SinavNotuUygulama</td>
                            <td>@item.Data.SinavNotuTeorik</td>
                        </tr>

                    </table>
                </td>
                <td>
                    @if (item.Data.Durum == "KALDI")
                        {
                        <span class="label label-danger">@item.Data.Durum </span>
                        }
                        else if (item.Data.Durum == "GEÇTİ")
                        {
                        <span class="label label-success">@item.Data.Durum </span>
                        }
                        else
                        {
                        <span class="label label-info">@item.Data.Durum </span>
                        }
                </td>
                <td>
                    @{
                            string Durumu = "KATILMADI!";
                            string isaret = "-default";
                            if (item.Data.Basladi == 1)
                            {
                                Durumu = "KATILDI";
                                isaret = "-primary";
                            }
                    }
                    <span class="label label@(isaret)">@Durumu </span>

                </td>
                <td>
                    @{
                            string durumu = "";
                            if (item.Data.Durum == "KALDI")
                            {
                                durumu = "danger";
                            }
                            else if (item.Data.Durum == "AÇIKLANMADI")
                            {
                                durumu = "primary";
                            }
                            else
                            {
                                durumu = "success";
                            }
                            if (durumu == "primary")
                            {
                        <span class="label label-@durumu"><b>@item.Data.Durum</b></span>
                            }
                            else
                            {
                        <a class="btn btn-default" href="~/PRapor.html?idz=@item.Data.Sinif_Ogrenci.Personel_Ref" title="Detaylı Döküm Al" target="_blank"><span class="label label-@durumu"><b>@item.Data.Durum (PERSONEL DETAY)</b></span></a>
                            }
                    }
                </td>
            </tr>
                            }
        </tbody>
    </table>
                        }
                        else
                        {
                            <div id="personeller" class="panel-body">
                                <div class="alert alert-danger" role="alert">
                                    <strong>SINIF BİLGİSİ SEÇİNİZ</strong> Seçili sınıfa ait personel sınav sonucu bulunamadı!
                                </div>
                            </div>
                        }
<br />
<br />
