﻿@model List<Sinif>
@{
    ViewBag.Title = "Genel Raporlar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
}

@using HaveakPro.Models;
<script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">GENEL RAPORLAR</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>SINIF PERSONEL SINAV SONUÇLARI </strong>Sınıf sınav sonuçları</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınıfa kayıtlı öğrencilerin sınav sonuç ve çıktıları.</p>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Sınıf No :</label>
                            <div class="col-md-9 col-xs-12">
                                <div class="input-group">
                                    <select class="form-control select" id="sinifID" data-live-search="true">
                                        <option value="0">Sinif Adı Seçiniz</option>
                                        <option value="-1">Tüm Sınıflar</option>
                                        @foreach (var itemSinif in Model)
                                        {
                                            <option value="@itemSinif.ID">@itemSinif.SinifAdi</option>
                                        }
                                    </select>
                                </div>
                                <span class="help-block">Sinif no</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Sinif Personeller</h3>
                            </div>
                            <div class="panel-body" id="sinifListe">
                                <div id="personeller" class="panel-body">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>SINIF BİLGİSİ SEÇİNİZ</strong> Atanmış personelleri görmek için yukarıdan seçim yapınız.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

@section scripts{
    <script>
        $('#sinifID').on('change', function () {
            var sinif_ref = $(this).val();
            if (sinif_ref == "0") {
                return;
            }
            $.get('@Url.Action("getSinifPersoneller", "Raporlama", new { area ="PANEL"})', { 'sinif_ref': sinif_ref }, function (result) {
                $('#sinifListe').html(result);
            });
        })

    </script>
}
