﻿@model List<SBMaddeResimler>
@{
    int index = 0;
    var db = (HaveakEntities)ViewBag.Entity;
}
@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;

<div class="gallery" id="links2">
    @if (Model != null)
    {
        foreach (var item in Model.OrderBy(w => w.ID))
        {
            SinavMaddeOranlama orn = new SinavMaddeOranlama(db);
            decimal oran = orn.MaddeOranGetir(item.ID);
            string resimAd = item.Resim.Substring(55, item.Resim.Length - 59);
            index++;
            <div class="col-md-4">
                <a id="madde_@item.ID" class="gallery-item" href="~/@item.Resim" title="%@oran @item.Tarih.Value.ToShortDateString()" style="width:100% !important">
                    <div class="image">
                        <img src="~/@item.Resim" alt="%@oran" style="width:234px; height:233px" />
                        <ul class="gallery-item-controls">
                            <li><span id="spn_@item.ID" class="gallery-item-update guncelle"><i class="fa fa-retweet"></i></span></li>
                        </ul>
                    </div>
                    <div class="meta">
                        <span class="badge badge-danger" style="color: white;"><strong>@(index)) @resimAd (%@oran) </strong></span>
                        <input type="hidden" id="maddeData_@item.ID" value="@item.Resim" />
                        <input type="hidden" id="maddeBaslik_@item.ID" value="@(index)) @item.SBTehlikeliMKategori.Isim" />
                    </div>
                </a>
            </div>
        }

    }
</div>

<div id="blueimp-gallery2" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@*<script type="text/javascript" src="~/Content/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>*@
<script type="text/javascript">
    $(".guncelle").on("click", function () {
        var idd = $(this).attr("id").split("_")[1];
        var resim = $('#maddeData_' + idd).val();
        var resimAd = $('#maddeBaslik_' + idd).val();
        $('#guncelleResim').attr('src', '/' + resim);
        //$('#resimAdi').val(resimAd);
        $('#rsmID').val(idd);
        $('#guncellePnl').attr('style', 'display:block');
        return false;
    });

    document.getElementById('links2').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

</script>
