﻿@model PagedList.IPagedList<Bagajlar>
@{
    ViewBag.Title = "Nuc Bagajlar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = (int)ViewBag.RecordNo;
    ViewBag.Sayfa = "Bagajlar";

}
@using HaveakPro.Models;
@using PagedList.Mvc;

<!-- PAGE CONTENT -->
<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Panel</a></li>
    <li class="active"><a href="#">NUCTECH</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>NUCTECH BAGAJLAR</h2>
        </div>
        <div class="pull-right">

            <button class="btn btn-primary" onclick="BagajKaydet();"><span class="fa fa-upload"></span>KAYDET</button>
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>

    <!-- START CONTENT FRAME RIGHT -->
    <div class="content-frame-right">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Yeni Kayıt</h3>
            </div>
            <div class="panel-body">
                <form id="bgjKayit" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("SaveBagaj", "BagajIslemler", new { area = "PANEL" })" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Yeni Bagaj :</label><br />
                            <input type="file" multiple id="file-simple" name="Resim" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="guncellePnl" class="panel panel-danger" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Güncelle</h3>
            </div>
            <div class="panel-body" style="text-align: center">
                <img id="guncelleBagaj" src="" alt="Yeni Bagaj Resim" style="width: 210px;" />
                <input type="hidden" id="bgjID" value="" />
            </div>
            <div class="panel-footer">
                <input type="file" multiple id="GuncelleBgj" name="Resim" />
                <button class="btn btn-primary" onclick="GuncellemeKaydet();">Güncelle</button>
            </div>
        </div>
        <div id="guncellePnlAlt" class="panel panel-danger" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Güncelle Yan Resim</h3>
            </div>
            <div class="panel-body" style="text-align: center">
                <img id="guncelleBagajAlt" src="" alt="Yeni Bagaj 2. Resim" style="width: 210px;" />

            </div>
            <div class="panel-footer">
                <input type="file" multiple id="GuncelleBgjAlt" name="Resim2" />
                <button class="btn btn-primary" onclick="GuncellemeKaydetAlt();">Güncelle</button>
                <button class="btn btn-default" onclick="GuncelleIptal();">İptal</button>
            </div>
        </div>

    </div>

    <div id="bagajlar" class="content-frame-body content-frame-body-left">

        <div class="pull-right push-up-10">
            <div class="btn-group">

                <button id="btnSil" class="btn btn-primary" onclick="Remove();"><span class="fa fa-trash-o"></span>Sil</button>

            </div>
        </div>

        <div class="gallery" id="links">
            @foreach (var item in Model)
            {
                index++;
                <a id="bagaj_@item.ID" class="gallery-item" href="~/@item.Resim" title="@item.Isim" data-gallery>
                    <div class="image">
                        <img src="~/@item.Resim" alt="@item.Isim" style="height:260px" />
                        <ul class="gallery-item-controls">
                            <li>
                                <label class="check">
                                    <input id="@item.ID" type="checkbox" class="icheckbox" onchange="getir();" />
                                </label>
                            </li>
                            <li><span id="spn_@item.ID" class="gallery-item-update"><i class="fa fa-retweet"></i></span></li>
                        </ul>
                    </div>
                    <div class="meta">
                        <span class="badge badge-danger" style="color: white;"><strong>@index) @item.Isim</strong></span>
                        <input type="hidden" id="bagajData_@item.ID" value="@item.Resim" />
                        <input type="hidden" id="bagajDataAlt_@item.ID" value="@item.Resim2" />
                        <input type="hidden" id="bagajIsim_@item.ID" value="@item.Isim" />
                    </div>
                </a>
            }
        </div>

        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
        </ul>

    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->




<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen bagaj seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Sistemden Kaldırılacak Bagaj(lar) ı seçiniz !</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Bagaj(lar) Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="_BagajSil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
<!-- END PAGE CONTAINER -->
<!-- BLUEIMP GALLERY -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- END BLUEIMP GALLERY -->
<!-- START PLUGINS -->
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@

<!-- START TEMPLATE -->
@section scripts{
<script type="text/javascript">

    $(".gallery-item-update").on("click", function () {
        var idd = $(this).attr("id").split("_")[1];
       debugger
        var resim = $('#bagajData_' + idd).val();
        var resim2 = $('#bagajDataAlt_' + idd).val();
        if (resim2 == "") {
            resim2 = "Content/img/RYokBagaj.jpg";
        }
        //var isim = $('#bagajIsim_' + idd).val();
        $('#guncelleBagaj').attr('src', '/' + resim);
        $('#guncelleBagajAlt').attr('src', '/' + resim2);

        //$('#bagajAdi').val(isim);
        $('#bgjID').val(idd);
        $('#guncellePnl').attr('style', 'display:block');
        $('#guncellePnlAlt').attr('style', 'display:block');
        return false;
    });


    function GuncelleIptal() {
        //$('.panel-footer').find('span').html('Yeni Bagaj')
        $('#GuncelleBgj').prop('files')[0] = null;
        $('#GuncelleBgjAlt').prop('files')[0] = null;
        $('.file-input').find('button').click();
        $('#guncellePnl').attr('style', 'display:none');
        $('#guncellePnlAlt').attr('style', 'display:none');
    }

    function GuncellemeKaydet() {
        var idx = $('#bgjID').val();
        var file = $('#GuncelleBgj').prop('files')[0];
        //var bagajAdi = $('#bagajAdi').val();
        if (typeof file == "undefined") {
            $('#uyari').click();
            return;
        }

        var form_data = new FormData();
        form_data.append('ID', idx)
        form_data.append('Resim', file)

        $.ajax({
            url: "/PANEL/BagajIslemler/UpdateBagaj",
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (data) {
                    $('#onay').click();
                }
            }
        });

    }

    function GuncellemeKaydetAlt() {
        var idx = $('#bgjID').val();
        var file = $('#GuncelleBgjAlt').prop('files')[0];

        if (typeof file == "undefined") {
            $('#uyari').click();
            return;
        }

        var form_data = new FormData();
        form_data.append('ID', idx)
        form_data.append('Resim2', file)

        $.ajax({
            url: "/PANEL/BagajIslemler/UpdateBagajAlt",
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (data) {
                    $('#onay').click();
                }
            }
        });

    }

    function Remove() {
        if ($('input[type=checkbox]:checked').length == 0) {
            $('#uyari2').click();
            return;
        }
        $('#silme').click();
    }

    function _BagajSil() {

        $('input[type=checkbox]').each(function () {
            if ($(this).is(":checked")) {
                var ids = $(this).attr("id");
                $.get('@Url.Action("DeleteBagaj", "BagajIslemler", new { area = "PANEL" })', { id: ids }, function (data) {
                    $('#bagaj_' + ids).fadeOut(400, function () {
                        $('#bagaj_' + ids).remove();
                        if ($('input[type=checkbox]').length == 0) {
                            $('#btnSil').attr('disabled', 'disabled');
                        }
                    });
                    return false;
                });
            }
        });
    }



    $(function () {
        $("#file-simple").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        $("#GuncelleBgj").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        if ($('input[type=checkbox]').length == 0) {
            $('#btnSil').attr('disabled', 'disabled');
        }
    });

    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        var link = target.src ? target.parentNode : target;
        var options = {
            index: link, event: event, onclosed: function () {
                setTimeout(function () {
                    $("body").css("overflow", "");
                }, 200);
            }
        };
        var links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

    function BagajKaydet() {

        var bagajAdi = $('#Isim').val();
        var resim = $('#file-simple').prop('files')[0];
        if (resim == null || bagajAdi == "") {
            $('#uyari').click();
            return;
        }
        $('#bgjKayit').submit();
    }

    function getData(id) {
        window.location.href = '/PANEL/BagajIslemler/Bagajlar?page=' + id;
    }

    function Refresh() {
        window.location.href = '@Url.Action("Bagajlar", "BagajIslemler", new { area = "PANEL"})';
     }
</script>
    }
