﻿@model List<SBMaddeResimler>
@{
    ViewBag.Title = "SBTMResimer";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var SBTMBaslik = (List<SBTehlikeliMKategori>)ViewBag.SBTMBaslik;
    int index = 0; //(int)ViewBag.RecordNo;
    int kategoriIDGelen = 0;
    if (Model != null)
    {
        kategoriIDGelen = (int)ViewBag.GelenKatID;
    }
    HaveakEntities _db = (HaveakEntities)ViewBag.Entity;
    ViewBag.Sayfa = "Bagajlar";
}

@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;



<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Panel</a></li>
    <li class="active"><a href="#">SINAV BAGAJLAR</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>YASAKLI MADDE RESİMLERİ</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" onclick="ResimKaydet();"><span class="fa fa-upload"></span>KAYDET</button>
            @*<button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>*@
            @if (Model != null)
            {
                <button class="btn btn-warning" onclick="MaddeResimGuruplama();"><span class="fa fa-bars"></span>GRUPLA</button>
            }
        </div>
    </div>

    <!-- START CONTENT FRAME RIGHT -->
    <div class="content-frame-right">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Yeni Kayıt</h3>
            </div>
            <div class="panel-body">
                <form id="rsmKayit" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("SBTMResimEkle", "BagajIslemler", new { area = "PANEL" })" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Tehlikeli Madde Başlık:</label>
                            <select id="SBTM_Ref" name="SBTM_Ref" class="form-control">
                                <option value="0">Madde Seçiniz</option>
                                @foreach (var item in SBTMBaslik)
                                {
                                    if (item.ID != kategoriIDGelen)
                                    {
                                        <option value="@item.ID" selected="selected">@item.Isim</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Isim</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>T.Madde Resim :</label><br />
                            <input type="file" multiple id="file-simple" name="Resim" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*    <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Yeni Kayıt</h3>
                </div>
                <div class="panel-body">
                    <form id="rsmKayit" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("SaveMaddeler", "GoruntuIslemler", new { area = "PANEL" })" method="post">
                        <input type="hidden" id="KatID" name ="TehlikeliMadde_Ref" value="@kategoriIDGelen" />
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Resim :</label><br />
                                <input type="file" multiple id="file-simple" name="Resim" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@
        <div id="guncellePnl" class="panel panel-danger" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Güncelle</h3>
            </div>
            <div class="panel-body" style="text-align: center">
                <select id="SBTM_RefGun" class="form-control">
                    <option value="0">Madde Kategori Seçiniz</option>
                    @foreach (var item in SBTMBaslik)
                    {
                        <option value="@item.ID">@item.Isim</option>
                    }
                </select>
                <img id="guncelleResim" src="" alt="Yeni Madde Resim" style="width: 210px;" />
                <input type="hidden" id="rsmID" value="" />
            </div>
            <div class="panel-footer">
                <input type="file" multiple id="GuncelleRsm" name="Resim" />
                <button class="btn btn-primary" onclick="GuncellemeKaydet();">Güncelle</button>
                <button class="btn btn-warning" onclick="GuncelleIptal();">Grup Sil</button>
            </div>
        </div>
        <div id="resimGuruplandır" class="panel panel-warning" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Resimleri Kategorilendir</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-refresh"><span class="fa fa-download" onclick="MaddeResimGurupKaydet();" title="KAYDET"></span></a></li>
                </ul>
            </div>
            <div class="panel-body" id="SeciliMaddeler">
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME RIGHT -->
    <!-- START CONTENT FRAME BODY -->
    <div id="bagajlar" class="content-frame-body content-frame-body-left">

        <div class="pull-right push-up-10">
            <table>
                <tr>
                    <td><strong>Kategori :</strong> </td>
                    <td style="width: 300px;">
                        <select id="SBTM_RefTum" class="form-control" onchange="GetMaddeler();">
                            <option value="0">Madde Seçiniz</option>
                            @foreach (var item in SBTMBaslik)
                            {

                                if (item.ID == kategoriIDGelen)
                                {
                                    <option value="@item.ID" selected="selected">@item.Isim</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.Isim</option>
                                }
                            }

                        </select>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button id="btnSil" class="btn btn-primary" onclick="Remove();"><span class="fa fa-trash-o"></span>Sil</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="gallery" id="links">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    SinavMaddeOranlama orn = new SinavMaddeOranlama(_db);
                    decimal oran = orn.MaddeOranGetir(item.ID);
                    string resimAd = item.Resim.Substring(55, item.Resim.Length - 59);
                    index++;



                    <a id="SBTMRes_@item.ID" class="gallery-item" href="~/@item.Resim" title="%@oran @(item.Tarih == null ? "" : item.Tarih.Value.ToShortDateString())" data-gallery>
                        <div class="image">
                            <img src="~/@item.Resim" alt="%@oran" style="height:233px" />
                            <ul class="gallery-item-controls">
                                <li>
                                    <label class="check">
                                        <input id="@item.ID" type="checkbox" class="icheckbox" onchange="getir();" />
                                    </label>
                                </li>
                                <li><span id="spn_@item.ID" class="gallery-item-update guncelle"><i class="fa fa-retweet"></i></span></li>
                                @if (item.AltResimRef != null && item.AltResimRef == 0)
                                {
                                    <li><span id="dty_@item.ID" class="gallery-item-update resimler"><i class="fa fa-picture-o"></i></span></li>
                                }
                            </ul>
                        </div>
                        <div class="meta">
                            <span class="badge badge-info" style="color: white;"><strong>@index) @resimAd <span class="badge badge-@(oran >= 75 && oran < 100 ? "warning": oran == 100 ? "danger" : "info")" style="color: white;">(%@oran)</span> </strong></span>
                            <input type="hidden" id="resimData_@item.ID" value="@item.Resim" />
                            <input type="hidden" id="SBTM_@item.ID" value="@item.SBTM_Ref" />
                        </div>
                    </a>
                }

            }
        </div>

        @*<ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                 @if (Model != null)
                {
                <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
                 }
            </ul>*@

    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->




<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="resimEkran" data-toggle="modal" data-target="#modal_large" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Seçili Madde grup tan çıkarılacaktır eminmisiniz ?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="_GrupSil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">İptal</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Sistemden Kaldırılacak Resim(ler) i seçiniz !</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Resim(ler) Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="_ResimSil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal_large" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Görüntü Açılı Resimleri</h4>
            </div>
            <div class="modal-body">
                <div id="AltResimPnl" class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Açılı Resimler</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT -->
<!-- END PAGE CONTAINER -->
<!-- BLUEIMP GALLERY -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- END BLUEIMP GALLERY -->
<!-- START PLUGINS -->
<!-- START TEMPLATE -->
@section scripts{

    <script type="text/javascript">

        $(".guncelle").on("click", function () {

            var idd = $(this).attr("id").split("_")[1];
            var resim = $('#resimData_' + idd).val();
            var sref = $('#SBTM_' + idd).val();

            $('#guncelleResim').attr('src', '/' + resim);
            $("#SBTM_RefGun option:selected").removeAttr("selected");
            $("#SBTM_RefGun option[value='" + sref + "']").attr('selected', 'selected');
            $("#SBTM_RefGun").change();
            $('#rsmID').val(idd);
            $('#guncellePnl').attr('style', 'display:block');
            return false;
        });
        $(".resimler").on("click", function () {
            debugger
            var idd = $(this).attr("id").split("_")[1];
            MaddeAltResimler(idd);
            $('#resimEkran').click();
            //$('#AltResimPnl').attr('style', 'display:block');
            return false;
        });

        function GuncelleIptal() {
            $('#uyari').click();
        }

        function GuncellemeKaydet() {

            var idx = $('#rsmID').val();
            var Sbtm_Ref = $('#SBTM_RefGun').val();
            var file = $('#GuncelleRsm').prop('files')[0];
            if (Sbtm_Ref == "0") {
                //$('#uyari').click();
                return;
            }

            var form_data = new FormData();
            form_data.append('ID', idx)
            form_data.append('Resim', file)
            form_data.append('SBTM_Ref', Sbtm_Ref)
            $.ajax({
                url: "/PANEL/BagajIslemler/SBTMResimGuncelle",
                type: 'POST',
                contentType: false,
                cache: false,
                data: form_data,
                processData: false,
                async: false,
                success: function (data) {
                    if (data) {
                        $('#onay').click();
                    }
                }
            });
        }

        function Remove() {
            if ($('input[type=checkbox]:checked').length == 0) {
                $('#uyari2').click();
                return;
            }
            $('#silme').click();
        }

        function _ResimSil() {
            $('input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    var ids = $(this).attr("id");
                    $.get('@Url.Action("SBTMResimSil", "BagajIslemler", new { area = "PANEL" })', { id: ids }, function (data) {
                    $('#SBTMRes_' + ids).fadeOut(400, function () {
                        $('#SBTMRes_' + ids).remove();
                        if ($('input[type=checkbox]').length == 0) {
                            $('#btnSil').attr('disabled', 'disabled');
                        }
                    });
                    return false;
                });
            }
        });
    }

    function _GrupSil() {
        var id = $('#rsmID').val();
        $.post('@Url.Action("GrupSil", "BagajIslemler", new { area = "PANEL" })', { Id: id }, function (result) {
            if (result) {
                $('#onay').click();
            }
            else {
                alert("Alt maddeleri silmeden ana maddeyi grup tan çıkaramazsınız!!!");
            }
        });
    }


    $(function () {
        $("#file-simple").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        $("#GuncelleRsm").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        if ($('input[type=checkbox]').length == 0) {
            $('#btnSil').attr('disabled', 'disabled');
        }
    });

    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        var link = target.src ? target.parentNode : target;
        var options = {
            index: link, event: event, onclosed: function () {
                setTimeout(function () {
                    $("body").css("overflow", "");
                }, 200);
            }
        };
        var links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

    function ResimKaydet() {
        var SBTM_Ref = $('#SBTM_Ref').val();
        var resim = $('#file-simple').prop('files')[0];
        if (resim == null || SBTM_Ref == "0") {
            //$('#uyari').click();
            return;
        }
        $('#rsmKayit').submit();
    }
    function GetMaddeler() {
        var kategori = $('#SBTM_RefTum').val();
        window.location.href = '/PANEL/BagajIslemler/SBTMResimlerGetir?page=1&SBTM_Ref=' + kategori;
    }

    function getData(id) {
        var kategori = $('#SBTM_RefTum').val();
        window.location.href = '/PANEL/BagajIslemler/SBTMResimlerGetir?page=' + id + '&SBTM_Ref=' + kategori;
    }

    function Refresh(id) {
        GetMaddeler();
    }


    function MaddeResimGuruplama() {
        var selected = [];
        $('div#links input[type=checkbox]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).attr('id'));
            }
        });

        if (selected.length == 0) {
            return;
        }
        else {
            $('#resimGuruplandır').attr('style', 'display:block');
        }
        jQuery.ajaxSettings.traditional = true
        $.post('@Url.Action("_MaddeResimGetir", "BagajIslemler", new { area = "PANEL" })', { IDs: selected }, function (result) {
            $('#SeciliMaddeler').html(result);
        });
    }

    function MaddeResimGurupKaydet() {
        debugger
        var aktif = 0;
        $('div#SeciliMaddeler input[type=radio]').each(function () {
            if ($(this).is(":checked")) {
                aktif = aktif + 1;
            }
        });
        if (aktif == 0) {
            alert("Lütfen bir tane ana bagaj seçiniz!");
        }
        else {
            var selected = [];
            $('div#SeciliMaddeler input[type=radio]').each(function () {
                var idx = $(this).attr('id');
                var statux = false;
                if ($(this).is(":checked")) {
                    statux = true;
                }
                var dataObject = {
                    'id': idx,
                    'statu': statux
                };
                selected.push(dataObject);
            });

            var data1 = { 'data': selected };
            var data = JSON.stringify(data1)


            $.ajax({
                //traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("MaddeResimGrupla", "BagajIslemler", new { area = "PANEL" })',
                data: data,
                success: function (response) {
                    $('#onay').click();
                },
                error: function (response) {
                    alert("error occured");
                }
            });
        }
    }

    function MaddeAltResimler(id) {
        $.post('@Url.Action("_MaddeAltResimGetir", "BagajIslemler", new { area = "PANEL" })', { Id: id }, function (result) {
            $('#AltResimPnl').html(result);
        });

    }

    </script>

}

