﻿@model List<Duyurular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
}
@using HaveakPro.Models;
           
            <ul class="breadcrumb">
                <li><a href="/">AnaSayfa</a></li> 
                <li class="active">Duyurular</li>
            </ul>         
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span>Duyurular</h2>
            </div>            
            <div class="page-content-wrap">

                <div class="row">
                    <div class="col-md-9">

                        <div class="panel panel-default">
                            <div class="panel-body posts">

                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="duyurular" class="table datatable">
                                            <thead>
                                               <tr><td>DUYURULAR VE İÇERİKLERİ</td></tr>
                                            </thead>
                                            <tbody>
                                                
                                        @foreach (var item in Model)
                                        {
                                       <tr><td>
                                        <div class="post-item">
                                            <div class="post-title">
                                                <a href="pages-blog-post.html">Başlık</a>
                                            </div>
                                            <div class="post-date"><span class="fa fa-calendar"></span>@item.DuyuruTarihi.ToLongDateString() /<a href="pages-blog-post.html#comments">@item.Baslik</a> / <a href="pages-profile.html">Tipi : @item.Tipi</a></div>
                                            <div class="post-text">                                               
                                                <p>@item.Duyuru</p>
                                            </div>
                                            <div class="post-row">
                                               
                                             @*   <button class="btn btn-default btn-rounded pull-right">Read more &RightArrow;</button>*@
                                            </div>
                                        </div>
                                              </td> </tr>  
                                        }
                                            
                                            </tbody>
                                    </table>
                                    </div>
                            
                                </div>
                            </div>
                        </div>                     

                    </div>
                 
                </div>

            </div>
        
       <script>
    $(function () {        
        $('#duyurular').dataTable();     
    });
</script>
