﻿@model List<SBMaddeResimler>

@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;

<select id="STM_Ref" class="form-control select" data-live-search="true">
    <option value="0">Tehlikeli Madde Resmi Seçiniz</option>
    @foreach (var itemAlt in Model)
    {
        var entity = (HaveakEntities)ViewBag.Entity;
        SinavMaddeOranlama orn = new SinavMaddeOranlama(entity);
        decimal oran = orn.MaddeOranGetir(itemAlt.ID);

        string resimAd = itemAlt.Resim.Substring(55, itemAlt.Resim.Length - 59);                                                            
        @*<option style="color:@(oran >= 75 && oran < 100 ? "orange" : oran == 100 ? "red" : "blue")" value="@itemAlt.ID, @itemAlt.Resim"  @(oran == 100 ? "disabled" :"")    >@resimAd (%@oran)</option>*@
        <option style="color:@(oran >= 75 && oran < 100 ? "orange" : oran == 100 ? "red" : "blue")" value="@itemAlt.ID, @itemAlt.Resim" @(oran == 100 ? "" : "")>@resimAd (%@oran)</option>

    }
</select>

<script>
    $('#STM_Ref').on('change', function () {
        debugger
        
        var id = $(this).find("option:selected").val();
        if (id != "0") {
            var id1 = id.split(',')[0];
            var id2 = id.split(',')[1].trim();
            $('#resimx').css('cursor', 'url(/' + id2 + '),auto');
            $('#TMResim').val(id2);
            $('#dereceler').attr('style', 'visibility:visible');
            $('#StmRef').val(id1);
        }
        else {
            $('#dereceler').attr('style', 'visibility:hidden');
        }
    });
</script>