﻿@model List<Sinif_Ogrenci>
@{
    int sinavID = Model.Select(t => t.Personel_Sinavlar.Select(e => e.ID).FirstOrDefault()).FirstOrDefault();
}
@using HaveakPro.Models;
<table id="Ogrenciler" class="table datatable">
    <thead>
        <tr>
            <th>Seç <input id="ch_full" type="checkbox" /></th>
            <th>Sıra</th>
            <th>Resim</th>
            <th>Adı Soyadı</th>
            <th>TCNo</th>
            <th>Sınıf</th>
        </tr>
    </thead>
    <tbody>
        @{                            
                            
            foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
            {
                //DateTime zaman = DateTime.Now.Date;
                //DateTime bugun = item.Data.Personel.Kullanicis.Where(y => y.BitisTarihi.Value).FirstOrDefault();
                //var durum = bugun >= zaman ? true : false;
                //if (durum)
                //{                                                    
            <tr>
                <td>
                    <div style="display:block" id="chkTyp@(item.Data.Personel_Ref)" class="">
                        <input id="ch_@(item.Data.ID)" name="PrsDatax" type="checkbox" class="iCheckbox" value="1" />
                    </div>
                </td>
                <td>@(item.Index + 1)
                    <input type="hidden" id="SOgrenciID@(item.Index + 1)" value="@item.Data.ID" />
                </td>
                <td>
                    <div class="col-md-2 col-xs-2">
                        <a href="#" class="friend">
                            <img src="~/DocumentFiles/Personel/@(item.Data.Personel.Resim ?? "RYok.jpg")" style="height:73px; width:73px;">
                        </a>
                    </div>
                </td>
                <td>@item.Data.Personel.Adi @item.Data.Personel.Soyadi</td>
                <td>
                    @item.Data.Personel.TCNo
                </td>
                <td>@item.Data.Sinif.SinifAdi</td>
            </tr>		
                //}
            }
        }
    </tbody>
</table>
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
<script>
    $(function () {
       
        $('#Ogrenciler').dataTable({ "pageLength": 100 });
        $('#Ogrenciler tbody tr input').iCheck({
            checkboxClass: 'icheckbox_minimal-grey'
        });
        var idx = $('#Sinavlar').val();
        $.ajax({
            url: '/PANEL/SinavIslemler/AtanmisPersonelCikarma',
            data: { 'sinavID': idx },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {                    
                    var idz = result[i];
                    $('#chkTyp' + idz).attr('style', 'display:none');
                }
                $('#Ogrenciler tbody tr input').iCheck({
                    checkboxClass: 'icheckbox_minimal-grey'
                });
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

        $('#ch_full').click(function () {
            debugger
            var checked = $(this).prop('checked');
            if (!checked) {
                $('input[name=PrsDatax]').prop('checked', checked);               
            }
            else {
                $('#Ogrenciler tbody').find('tr').each(function (ix, trx) {
                    debugger
                    var durum = $(trx).find("td").eq(0).find("div").attr('style');
                    //if (durum == "display:block") {
                        $('input[name=PrsDatax]').prop('checked', checked);                       
                    //}
                });      
            }
            $('input[name=PrsDatax]').iCheck({
                checkboxClass: 'icheckbox_minimal-grey'
            }); 
        });

    });


</script>
