﻿@model List<sp_UniteSorular_Result1>
@{
    Dictionary diclist = new Dictionary();
    //var kategori = diclist.SoruKategori();
    int sinavNoGl = (int)ViewBag.Sinavno;
    int tipi = (int)ViewBag.Tip;
    HaveakEntities db = new HaveakEntities();
    var uniteTumSorular = db.UniteSorulars.Where(e => e.IsActive == true && e.IsDelete == false).ToList();
    var sinavsorular = db.Sinav_Sorular.Where(r => r.Sinavlar_Ref == sinavNoGl).ToList();
    //var sinavtipi = db.SinavTipis.ToList();
    //var sorukategori = db.SoruKategoris.ToList();
    var uniteler = db.Unites.ToList();


    int indexsoru = 0;
}
@using HaveakPro.Areas.PANEL.Models;
@using HaveakPro.Models;
@*@using PagedList.Mvc;*@

@*<ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
        <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
    </ul>*@

@if (Model.Count() > 0)
{

    <table class="table table-bordered" id="sample_4">
        <thead>
            <tr>
                <th style="width: 8px;"></th>
                <th>Sıra</th>
                <th>Kategori</th>
                <th>Bagaj</th>
                <th>Yasaklı Madde</th>
                <th>Ünite</th>
                <th>Derece</th>
                <th>Soru</th>
                <th>Şıklar</th>
                <th>Alt Şıklar</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    var uniteSoru = uniteTumSorular.Where(t => t.ID == item.ID).First();
                    string sbagaj = string.Empty;
                    string sbmadde = string.Empty;
                    string sbtmaddeKategori = "YOK";
                    if (uniteSoru.SBagajlar_Ref != null)
                    {
                        sbagaj = uniteSoru.SBagajlar.Resim;
                        if (uniteSoru.STM_Ref != null)
                        {
                            sbmadde = uniteSoru.SBMaddeResimler.Resim;
                            sbtmaddeKategori = uniteSoru.SBMaddeResimler.SBTehlikeliMKategori.Isim;
                        }
                    }

                    indexsoru++;
                    <tr>
                        <td>
                            @{int control = sinavsorular.Where(r => r.UniteSorular_Ref == item.ID).Count();
                                if (control == 0)
                                {
                                    <input type="checkbox" class="icheckbox" value="1" name="ssecenek" />
                                }
                            }
                        </td>
                        <td>
                            @indexsoru
                            <input type="hidden" id="UniteSorular_Ref@(item.ID)" value="@item.ID" />
                        </td>
                        <td>
                            @uniteSoru.SinavTipi.Baslik
                            <br />
                            Atandığı Sınav Adedi: @item.SSoruAdet <br />
                            Bulunma Oranı: <span style='color:black'>@item.OranSonuc</span>
                        </td>
                        <td>
                            <div id="Gorsel@(indexsoru)" style="width: 132px;height:100px">
                                <img id="Resim@(indexsoru)" style="width:128px; height:96px; position: absolute;" src="~/@(uniteSoru.SBagajlar_Ref == null ? "Content/img/RYokBagaj.jpg" : sbagaj)" />
                                @if (uniteSoru.STM_Ref != null)
                                {
                                    <img id="pointerResim@(indexsoru)" src="~/@(sbmadde)" alt="Tıklandı" style="margin-left: @((uniteSoru.XKordinat / 8).ToString().Replace(',', '.'))px; margin-top: @((uniteSoru.YKordinat / 8).ToString().Replace(',', '.'))px; mix-blend-mode: multiply; -webkit-transform: rotate(@((uniteSoru.TMVektor).ToString().Replace(',', '.'))deg); width:@((uniteSoru.TMOlcek.Value / 10).ToString().Replace(',', '.'))%;" />
                                }
                            </div>
                        </td>
                        <td>
                            @sbtmaddeKategori
                        </td>
                        <td>@uniteSoru.Unite.UniteAdi</td>
                        <td>@uniteSoru.SoruKategori.Kategori</td>
                        <td class="hidden-phone">@uniteSoru.Soru</td>
                        <td class="hidden-phone">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Şık</td>
                                    <td>İçerik</td>
                                    <td>Doğru Seçenek</td>
                                </tr>
                                @{

                                    var list = db.SoruSiklaris.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                    foreach (var itemSoru in list)
                                    {
                                        string cls = "";
                                        if (itemSoru.DogruSecenek)
                                        {
                                            cls = "danger";
                                        }
                                        <tr class="@cls">
                                            <td>@itemSoru.SoruSikki</td>
                                            <td>@itemSoru.CevapIcerik</td>
                                            <td>
                                                @{
                                                    string cevaps = "";
                                                    if (itemSoru.DogruSecenek == true)
                                                    {
                                                        cevaps = "Evet";
                                                    }
                                                }
                                                @cevaps
                                            </td>
                                        </tr>

                                                    }
                                }
                            </table>
                        </td>
                        <td class="center hidden-phone">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Şık</td>
                                    <td>İçerik</td>
                                    <td>Doğru Seçenek</td>
                                </tr>
                                @{
                                    var listAlt = db.AltSiklars.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                    foreach (var itemAltSoru in listAlt)
                                    {
                                        string cls = "";
                                        if (itemAltSoru.AltDogruSecenek)
                                        {
                                            cls = "danger";
                                        }
                                        <tr class="@cls">
                                            <td>@itemAltSoru.AltSoruSikki</td>
                                            <td>@itemAltSoru.AltCevapIcerik</td>
                                            <td>
                                                @{
                                                    string cevap = "";
                                                    if (itemAltSoru.AltDogruSecenek == true)
                                                    {
                                                        cevap = "Evet";
                                                    }
                                                }
                                                @cevap
                                            </td>
                                        </tr>

                                                    }
                                }
                            </table>
                        </td>
                    </tr>}
            }
        </tbody>
    </table>
    <br />
    <button type="button" class="btn btn-primary" onclick="SorularEkle();">Seçili Soruları Ata</button>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger" role="alert">
                                                            <strong>Soru Yok!</strong> Üniteye atanmış Soru bulunmamaktadır!!!
                                                        </div>
                                                    }
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
@*<script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>*@
@*<script type="text/javascript" src="~/js/plugins/icheck/icheck.min.js"></script>*@

<script>

    function SorularEkle() {

        var ckkontrol = false;
        $("input[name=ssecenek]:Checked").each(function () {
            ckkontrol = true;
        });

       if (ckkontrol) {
            var onay = 0;
            $('#sample_4 tbody').find('tr').each(function (ix, trx)
            {
                var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
                if (isCheck) {
                    var idx = (ix + 1);
                    var UniteSorular_Ref = $(trx).find("td").eq(1).find("input").val();

                    if ('@tipi' == 3) {
                        var TestNox = $('#TestNo').val();
                        $.ajax({
                            url: "@Url.Action("TestSoruKaydet", "SinavIslemler")",
                            data: { 'Test_Ref': TestNox, 'UniteSorular_Ref': UniteSorular_Ref },
                            success: function (result) {
                                if (result) {
                                    onay++;
                                }
                            }
                        });
                    }
                    else {
                        var SinavNox = $('#SinavNo').val();
                        var SinavTipi_Ref = $('#SinavTipi_Ref').val();
                        $.ajax({
                            url: "@Url.Action("SinavSoruKaydet", "SinavIslemler")",
                            data: { 'SinavTipi_Ref': SinavTipi_Ref, 'UniteSorular_Ref': UniteSorular_Ref, 'Sinavlar_Ref': SinavNox },
                            success: function (result) {
                                if (!result) {
                                    onay++;
                                }
                            }
                        });
                    }



                }
            });
            if (onay != 0) {
                $('#onay').click();
            }
            else {
                $('#uyari3').click();
            }
        }
        else {
            $('#uyari2').click();
        }
    }

    $('#sample_4').dataTable({ "paging": false });

    $('#sample_4 tbody tr input').iCheck({
        checkboxClass: 'icheckbox_minimal-grey'
    });

    @*function getData(page) {
        var yukleniyor = '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
        $("#questions").html(yukleniyor);
          var sinavId = '@sinavNoGl';
        var idx = $('#UniteSorular_Ref').val();
        var tipIx = '@tipi';
        if (tipIx == 0 || idx == 0) {
            $('#uyari').click();
            return;
        }
        $.get('@Url.Action("_USorular", "SinavIslemler", new { area = "PANEL" })', { page: page, id: idx, tip: tipIx, sinavno: sinavId }, function (result) {
            $("#questions").html(result);
        });
    }*@

    @*function Refresh(tip)
    {
        if (tip == "3")
        {
            window.location.href = '/PANEL/SinavIslemler/TestSorular?id=@item.&UniteModul_Ref=@sinavNoGl.ToString()';
        }
        else
        {
            window.location.href = '/PANEL/SinavIslemler/SinavSorular/@sinavNoGl.ToString()';
        }
    } *@

</script>


