﻿@{
    ViewBag.Title = "PersonelSinav";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";

    var sinav = (List<Sinavlar>)ViewBag.Sinavlar;
    var siniflar = (List<Sinif>)ViewBag.Sinif;
    ViewBag.Sayfa = "Sinav";
}

@using HaveakPro.Models;


    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active">SINAV CEVAPLAR</li>
    </ul>
   
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>PERSONEL SINAV TANIMLAMA İŞLEMLERİ </strong>Güncelleme ve diğer işlemler</h3>
                        </div>
                        <div class="panel-body">
                            <p>Sınava katılacak Öğrencilerin belirlendiği yer.</p>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Sınav No :</label>
                                <div class="col-md-9 col-xs-12" style="z-index: 5">
                                    <div class="input-group">
                                        <table style="z-index: 5">
                                            <tr>
                                                <td>
                                                    <select id="Sinif" class="form-control select" onchange="SinifPersoneller();" data-live-search="true" style="z-index: 5">
                                                        <option value="0">Sınıf Seçiniz</option>
                                                        @foreach (var item in siniflar)
                                                        {
                                                            <option value="@item.ID">@item.SinifAdi</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td id="SinavKontrol" style="visibility: hidden">
                                                    <select id="Sinavlar" class="form-control select" onchange="GetSinavPersoneller();" data-live-search="true" style="z-index: 5;">
                                                        <option value="0">Sınav ve Sınıf</option>
                                                        @foreach (var item in sinav)
                                                        {
                                                            <option value="@item.ID">@item.SinavNo</option>
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Sınav Tarihi :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="SinavTarihi" type="text" class="form-control datepicker" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Başlama Saati :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="BaslamaSaati" type="text" class="form-control timepicker24" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Bitiş Saati :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="BitisSaati" type="text" class="form-control timepicker24" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SINIF ÖĞRENCİLER</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body" id="SinifOgrenciler">

                                    <div class="alert alert-warning" role="alert">
                                        <strong>SINIF SEÇİNİZ</strong> Sınıfa kayıtlı personeleri görmek için yukarıdan sınıf seciniz!.
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Temizle</button>
                            <input id="Button1" type="button" value="Sınavlara Personel Ata" class="btn btn-danger" onclick="SinavaPersoneAta();" />
                        </div>
                    </div>
                </form>
                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>SINAVA ATANAN PERSONELLER</strong></h3>
                        </div>
                        <div id="personeller" class="panel-body">
                            <div class="alert alert-warning" role="alert">
                                <strong>SINAV BİLGİSİ SEÇİNİZ</strong> Atanmış personelleri görmek için yukarıdan seçim yapınız.
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


<button type="button" id="onay" data-box="#message-box-success" style="visibility: hidden"></button>
<button type="button" id="onay2" data-box="#message-box-success2" style="visibility: hidden"></button>

<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>Sınav Sonuç Duyurusu personellere bildirilmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>Sınav Değerlemesi yapılan Sonuçlar, Personellere bildirilmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    //$(function () {
    //    $('#Personeller').dataTable();
    //    $('#Personeller tbody tr input').iCheck({
    //        checkboxClass: 'icheckbox_minimal-grey'
    //    });
    //    $("#Personeller tbody tr input").change();
    //});
    function GetSinavPersoneller() {
        $('#Ogrenciler tbody tr td').find('div').attr('style', 'display.block');
        var idx = $('#Sinavlar').val();
        //$('#Sinavlar option[value="0"]').remove();
        $.ajax({
            url: '/PANEL/SinavIslemler/AtanmisPersonelCikarma',
            data: { 'sinavID': idx },
            success: function (result) {

                //$('#Personeller tbody').find('tr').each(function (ix, trx) {
                //    $(trx).find("td").eq(0).find("div").attr("style", "display:block");
                //});
                for (var i = 0; i < result.length; i++) {
                    var idz = result[i];
                    //$('#ch_' + idz).attr('style', 'backgroud-color:red');
                    $('#chkTyp' + idz).attr('style', 'display:none');
                }
                $('#Ogrenciler tbody tr input').iCheck({
                    checkboxClass: 'icheckbox_minimal-grey'
                });
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

        $.get('@Url.Action("_SinavaAtananPersonel", "SinavIslemler")', { id: idx }, function (data) {
            $("#personeller").html(data);
        });
    }

    function SinifPersoneller() {
        
        var idx = $('#Sinif').val();
        //$('#Sinif option[value="0"]').remove();
        $('#SinavKontrol').css('visibility', 'visible');
        $.get('@Url.Action("_SinifOgrenci", "SinavIslemler")', { sinifID: idx }, function (data) {
            $("#SinifOgrenciler").html(data);
        });
    }


    function SinavaPersoneAta() {
       
        var SinavID = $('#Sinavlar').val();
        var SinavTarihi = $('#SinavTarihi').val();
        var BaslamaSaati = $('#BaslamaSaati').val();
        var BitisSaati = $('#BitisSaati').val();
        var checkKontrol = 0;

        if (SinavID == 0) {
            alert('Lütfen Sınav bilgisini seçiniz');
            return;
        }
       
        @*var svrTime = "";
        $.ajax({
            url: "@Url.Action("ServerTime", "ServerIslem", new { area ="PANEL"})",
            type: "post",
            success: function (result) {
                svrTime = result;
            }
        });
        var today = Date.parse(svrTime);*@
        var today = new Date();
        var bugun = today;
        var dd = today.getDate();
        var mm = today.getMonth() + 1; 
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        
        today = yyyy + '-' + mm + '-' + dd;
        if (SinavTarihi < today) {
            alert('Sınav tarihi bugünden önce olamaz!');
            return;
        }

        var saat = bugun.getHours() + ":" + bugun.getMinutes() + ":" + bugun.getSeconds();
        if (SinavTarihi == today && BaslamaSaati < saat) {
            alert('Sınav saati mevcut saat diliminden (şuan) sonra olmalı!');
            return;
        }

        var idler = new Array();
        var index = 0;
        var control = $('#Ogrenciler tbody').find('tr').each(function (ix, trx) {
            var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
            if (isCheck) {
                
                var sinif_Ogrenci = $(trx).find("td").eq(1).find("input").val();
                idler[index] = sinif_Ogrenci;
                index++;
            }
            
        });

        $.ajax({
            url: "/PANEL/SinavIslemler/SPKaydetData",
            data: { 'SOgrenciID': idler, 'SinavID': SinavID, 'SinavTarih': SinavTarihi, 'BaslamaSaati': BaslamaSaati, 'BitisSaati': BitisSaati },
            dataType: "json",
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                GetSinavPersoneller();
                alert(result + " " + index + ' Adet Personel Sinava Atanmıştır');
            }
        });

    }
</script>
