﻿@model List<Sinavlar>
@{
    ViewBag.Title = "Sinavlar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
}

@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;


    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active">SINAVLAR</li>
    </ul>

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" action="@Url.Action("SinavKaydet", "SinavIslemler", new { area = "PANEL" })" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>SINAV TANIMLAMA İŞLEMLERİ </strong>Sınav Ekleme Kaldırma Güncelleme</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p>Sınavların tanımlandığı düzenlendiği yerdir.</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Sınav No :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <input id="SinavNo" name="SinavNo" type="text" class="form-control" style="width: 300px">
                                            <input type="hidden" id="ID" value="" />
                                        </div>
                                        <span class="help-block">Sınav no girişi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Soru Sayısı :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <input id="SoruSayisi" name="SoruSayisi" type="text" class="form-control" style="width: 300px">
                                        </div>
                                        <span class="help-block">Soru sayısı girişi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Açıklama :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <textarea id="Aciklama" name="Aciklama" cols="60" rows="5"></textarea>
                                        </div>
                                        <span class="help-block">Açıklama girişi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Sınav Tipi :</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-group">
                                            <select class="form-control select" id="SinavTipi" name="SinavTipi">
                                                <option value="0">Seçiniz</option>
                                                <option value="1">Hazırlık Sınavı</option>
                                                <option value="2">Sertifika Sınavı</option>
                                            </select>
                                        </div>
                                        <span class="help-block">Sınav Tipi Seçimi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Sınavlar</h3>
                                        <ul class="panel-controls">
                                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>Sıra</th>
                                                    <th>Sınav No</th>
                                                    <th>Soru Sayi</th>
                                                    <th>SınavTipi</th>
                                                    <th>Açıklama</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    index++; 
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.SinavNo</td>
                                                        <td>@item.SoruSayisi</td>
                                                        <td>@(item.SinavTipi == (int)Enumlar.SinavTipi.Hazırlik_Sinavi ? "Hazırlık" : "Sertifika")</td>
                                                        <td>@item.Aciklama</td>
                                                        <td>
                                                            <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.SinavNo','@item.SoruSayisi', '@item.Aciklama', '@item.SinavTipi');" title="Güncelle"><span class="fa fa-pencil"></span></a>
                                                            <a class="btn btn-warning btn-rounded btn-sm" href="@Url.Action("SinavSorular", "SinavIslemler", new { area = "PANEL", id = item.ID})" title="Sorular"><span class="fa fa-gears"></span></a>
                                                            <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');" title="Sil"><span class="fa fa-times"></span></a>                                                       
                                                             </td>
                                                    </tr>
                                                
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="button" class="btn btn-default" value="Temizle" onclick="Refresh();" />
                            <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                            <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Eksik alan bırakmayınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Sınav Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Tanımlamış personel varsa sınav kaldırılamaz!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Mevcut İşlem gerçekleştirilemedi!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    function BilgiGuncelle(id, sno, sayi, acik, stipi) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#SinavNo").val(sno);
        $("#SoruSayisi").val(sayi);
        $("#Aciklama").val(acik);
        $("#SinavNo").focus();
        $('#SinavTipi').val(stipi);
        $('#SinavTipi').change();
        $("#ID").val(id);
    }

    function Ekle() {
        var sno = $("#SinavNo").val();
        var sayi = $("#SoruSayisi").val();
        var acik = $("#Aciklama").val();
        var tipi = $("#SinavTipi").val();   
        if (sno == "" || sayi == "" || acik == "" || tipi == "0") {
            $('#uyari').click();
            return;
        }       
        $('form').submit();
    }

    function Guncelle() {
        var sno = $("#SinavNo").val();
        var sayi = $("#SoruSayisi").val();
        var acik = $("#Aciklama").val();
        var tipi = $("#SinavTipi").val();
        var id = $("#ID").val();

        $.get('@Url.Action("SinavlarGuncelle", "SinavIslemler", new { area = "PANEL" })', { id: id, SinavNo: sno, SoruSayisi: sayi, Aciklama: acik, SinavTipi: tipi }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari2').click();
            }
        });
    }

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("SinavSilme", "SinavIslemler", new { area = "PANEL" })', { sinavID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari2').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("Sinavlar", "SinavIslemler", new { area = "PANEL" })';
    }


</script>

