﻿@model IPagedList<UniteSorular>
@{
    ViewBag.Title = "TanimliSorular";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var uniteler = (List<Unite>)ViewBag.Uniteler;
    Dictionary diclist = new Dictionary();
    //var kategori = diclist.SoruKategori();
    //HaveakEntities data = new HaveakEntities();
    var sinavTipi = (List<SinavTipi>)ViewBag.SinavTipi;
    var sBagajKategori = (List<SBagajKategori>)ViewBag.SBagajKategori;
    int indexStip = (int)ViewBag.SinavTipDn;
    int indexSoru = (int)ViewBag.SBagajKategoriDn;
    int IndexData = (int)ViewBag.RecordNo - 1;
    string aranan = (string)ViewBag.ArananDn;
    int? soruNo = (int?)ViewBag.SoruNo;
    List<string> roller = (List<string>)ViewBag.Roller;
}
@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;
@using PagedList;
@using PagedList.Mvc;

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TANIMLI SORULAR</li>
</ul>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>TANIMLI SINAV SORU İŞLEMLERİ </strong>Güncelleme ve diğer işlemler</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınav için tanımlı sorular.</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2" style="margin-left: 18px">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Soru Tipi</label>
                                    <select id="SinavTipi_Ref" name="SinavTipi_Ref" class="form-control select" data-style="btn-success" onchange="getData();">
                                        <option value="-1">TÜM SORULAR</option>
                                        @foreach (var item in sinavTipi)
                                        {
                                            if (item.ID == indexStip)
                                            {
                                                <option value="@item.ID" selected="selected">@item.Baslik</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Baslik</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-left: 18px">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Bagaj Kategori</label>
                                    <select id="sBagajKategori_Ref" name="sBagajKategori_Ref" class="form-control select" data-style="btn-disabled" onchange="getData();" @(indexStip == 2 || indexStip == 3 ? "disabled" : "")>
                                        <option value="0">TÜM KATEGORİLER</option>
                                        @foreach (var item in sBagajKategori)
                                        {
                                            if (item.ID == indexSoru)
                                            {
                                                <option value="@item.ID" selected="selected">@item.Isim</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Isim</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-left: 18px">
                                <label class="col-md-2 control-label">Aranacak Soru</label>
                                <input type="text" id="Soruicerik" class="form-control" value="@aranan" />
                            </div>
                            <div class="col-md-2" style="margin-left: 18px">
                                <label class="col-md-2 control-label">Soru No</label>
                                <input type="number" id="SoruNo" class="form-control" value="@soruNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn btn-info" style="margin-top: 40px;" onclick="getData();" value="Soru Ara" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <br />
                                <br />
                                @if (Model.Count > 0)
                                {
                                    IndexData++;
                                    <table id="sample_1" class="table">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>Soru No</th>
                                                <th>Resim</th>
                                                <th>Ünite</th>
                                                <th>Kategori</th>
                                                <th>Madde Kategori</th>
                                                <th style="width: 30%">Soru</th>
                                                <th>Şıklar</th>
                                                <th>Alt Şıklar</th>
                                                @if (roller.Contains(UserRoleName.PANEL_AdminGiris))
                                                {
                                                    <th>İşlem</th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                IndexData++;
                                                //string resimYolu = item.Data.SBagajlar.Resim == null ? "img/RYokBagaj.jpg" : item.Data.SBagajlar.Resim;
                                                <tr>
                                                    <td>@IndexData</td>
                                                    <td>@item.ID</td>
                                                    <td>
                                                        <div id="Gorsel@(IndexData)" style="width: 132px;height:100px">

                                                            @if (item.SBagajlar == null)
                                                            {
                                                                <img id="Resim@(IndexData)" style="width:128px; height:96px;" src="~/Content/img/RYokBagaj.jpg" />
                                                            }
                                                            else
                                                            {
                                                                <a href="~/@(item.SBagajlar.Resim)" title="" class="gallery-item" target="_blank">

                                                                    <img id="Resim@(IndexData)" style="width:128px; height:96px; position: absolute;" src="~/@(item.SBagajlar.Resim)" />

                                                                </a>
                                                                if (item.SBMaddeResimler != null)
                                                                {
                                                                    <img id="pointerResim@(IndexData)" src="~/@item.SBMaddeResimler.Resim" alt="Tıklandı" style="margin-left: @((Convert.ToDouble(item.XKordinat) / 6.2).ToString().Replace(',', '.'))px; margin-top: @((Convert.ToDouble(item.YKordinat) / 6.2).ToString().Replace(',', '.'))px; mix-blend-mode: multiply; -webkit-transform: rotate(@((item.TMVektor).ToString().Replace(',', '.'))deg); width:@((Convert.ToDouble(item.TMOlcek.Value) / 7).ToString().Replace(',', '.'))%;" />
                                                                }
                                                            }


                                                        </div>
                                                    </td>
                                                    <td>@(item.Unite == null ? "" : item.Unite.UniteAdi)</td>
                                                    <td>
                                                        @item.SinavTipi.Baslik
                                                    </td>
                                                    <td>
                                                        @(item.SBMaddeResimler != null ? item.SBMaddeResimler.SBTehlikeliMKategori.Isim : "-")
                                                    </td>
                                                    <td style="width: 50px">@item.Soru</td>
                                                    <td>
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <td>Şık</td>
                                                                <td>İçerik</td>
                                                                <td>Doğru Seçenek</td>
                                                            </tr>
                                                            @{
                                                                var list = item.SoruSiklaris.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                                                foreach (var itemSoru in list)
                                                                {
                                                                    string cls = "";
                                                                    if (itemSoru.DogruSecenek)
                                                                    {
                                                                        cls = "danger";
                                                                    }
                                                                    <tr class="@cls">
                                                                        <td>@itemSoru.SoruSikki</td>
                                                                        <td>@itemSoru.CevapIcerik</td>
                                                                        <td>@itemSoru.DogruSecenek</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                    </td>
                                                    <td class="center hidden-phone">
                                                        @if (item.AltSiklars.Count != 0)
                                                        {
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <td>Şık</td>
                                                                    <td>İçerik</td>
                                                                    <td>Doğru Seçenek</td>
                                                                </tr>
                                                                @{
                                                                    var listAlt = item.AltSiklars.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                                                    foreach (var itemAltSoru in listAlt)
                                                                    {
                                                                        string cls = "";
                                                                        if (itemAltSoru.AltDogruSecenek)
                                                                        {
                                                                            cls = "danger";
                                                                        }
                                                                        <tr class="@cls">
                                                                            <td>@itemAltSoru.AltSoruSikki</td>
                                                                            <td>@itemAltSoru.AltCevapIcerik</td>
                                                                            <td>@itemAltSoru.AltDogruSecenek</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                                    }
                                                    </td>
                                                    @if (roller.Contains(UserRoleName.PANEL_AdminGiris))
                                                    {
                                                        <td>
                                                            <a href="@Url.Action("SoruGuncelle", "SinavIslemler", new { area = "PANEL", id = item.ID })" class="btn btn-primary">Güncelle</a>
                                                        </td>
                                                    }
                                                </tr>										                    }
                                        </tbody>
                                    </table>
                                    <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                                        <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
                                    </ul>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="alert alert-warning" role="alert">
                                                                            <strong>Dikkat </strong>Seçili kriterlerde ait soru bulunamamıştır.!
                                                                        </div>
                                                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@section scripts{
    <script type="text/javascript">
        function getData(id) {
            debugger
            var str = $("#SinavTipi_Ref").find("option:selected").val();
            var skt = $("#sBagajKategori_Ref").find("option:selected").val();
            if (str == 2 || str == 3) {
                skt = 0;                          
            }           
            var ara = $('#Soruicerik').val();
            var sno = $('#SoruNo').val();
            window.location.href = "@Url.Action("TanimliSorular", "SinavIslemler", new { area = "PANEL" })?page=" + id + "&soruTip=" + str + "&sBagajKategori=" + skt + "&aranan=" + ara + "&soruNo=" + sno;
    }
    </script>
}
