﻿@model List<Testler>
@{
    ViewBag.Title = "Testler";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var moduller = (List<UniteModul>)ViewBag.Moduller;
    int index = 0;    
}

@using HaveakPro.Models;


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TESTLER</li>
</ul>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("TestKaydet", "SinavIslemler", new { area = "PANEL" })" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>TEST TANIMLAMA İŞLEMLERİ </strong>Test Ekleme Kaldırma Güncelleme</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Testlerin tanımlandığı düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Test No :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="TestNo" name="TestNo" type="text" class="form-control" style="width: 100px">
                                        <input type="hidden" id="ID" value="" />
                                    </div>
                                    <span class="help-block">Test no girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Soru Sayısı :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="SoruSayisi" name="SoruSayisi" type="text" class="form-control" style="width: 70px" maxlength="2" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                    </div>
                                    <span class="help-block">Soru sayısı girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Test Süresi (Dakika) :</label>
                                <div class="col-md-3 col-xs-12">
                                    <div class="input-group">
                                        <input id="Sure" name="Sure" type="text" class="form-control" style="width: 70px" maxlength="3" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">                                       
                                    </div>
                                    <span class="help-block">Test süresi dakika olarak belirtilmelidir</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Açıklama :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <textarea id="Aciklama" name="Aciklama" class="form-control" cols="60" rows="5"></textarea>
                                    </div>
                                    <span class="help-block">Açıklama girişi</span>
                                </div>
                            </div>
                            <div class="orm-group">
                                <label class="col-md-3 col-xs-12 control-label">Ders Grupları :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <select class="form-control select" tabindex="1" id="UniteModul_Ref" name="UniteModul_Ref" style="width: 200px" @*onchange="UnitelerGetir();*@">
                                            <option value="0">Bölüm Seçin</option>
                                            @foreach (var item in moduller)
                                            {                                           
                                                <option value="@item.ID">@item.Modul</option>
                                            }
                                        </select>
                                    </div>
                                    <span class="help-block">Bölüm bilgi girişi</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Testler</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>Ders Grup</th>
                                                <th>Test No</th>
                                                <th>Soru Sayi</th>
                                                <th>Test Süresi</th>
                                                <th>Açıklama</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.OrderBy(r=>r.UniteModul_Ref).ThenBy(e=>e.TestNo))
                                            {
                                                index++; 
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@item.UniteModul.Modul</td>
                                                    <td>@item.TestNo</td>
                                                    <td>@item.SoruSayisi</td>
                                                    <td>@item.Sure Dakika</td>
                                                    <td>@item.Aciklama</td>
                                                    <td>
                                                        <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID','@item.TestNo','@item.SoruSayisi', '@item.Aciklama', '@item.UniteModul_Ref', '@item.Sure');" title="Güncelle"><span class="fa fa-pencil"></span></a>
                                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="Testler('@item.ID', '@item.UniteModul_Ref');" title="Sorular"><span class="fa fa-gears"></span></a>
                                                        <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');" title="Sil"><span class="fa fa-times"></span></a>
                                                    </td>
                                                </tr>
                                                
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-default" value="Temizle" onclick="Refresh();" />
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Eksik alan bırakmayınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Test Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Tanımlamış personel varsa Test kaldırılamaz!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Ekli Test bulunmaktadır! Güncelleme için Test Adını değişiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    function BilgiGuncelle(id, tno, sayi, acik, modul_ref, sure) {
        $("#UniteModul_Ref option:selected").removeAttr("selected");
        $("#UniteModul_Ref option[value='" + modul_ref + "']").attr('selected', 'selected;');
        $("#UniteModul_Ref").change();
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#TestNo").val(tno);
        $("#SoruSayisi").val(sayi);
        $("#Sure").val(sure);
        $("#Aciklama").val(acik);
        $("#TestNo").focus();
        $("#ID").val(id);
    }

    function Ekle() {
        var sno = $("#TestNo").val();
        var sayi = $("#SoruSayisi").val();
        var sure = $("#Sure").val();
        var acik = $("#Aciklama").val();
        var modul = $('#UniteModul_Ref').val();
        if (sno == "" || sayi == "" || acik == "" || modul == "0" || sure == "") {
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }

    function Guncelle() {
        var sno = $("#TestNo").val();
        var sayi = $("#SoruSayisi").val();
        var acik = $("#Aciklama").val();
        var sure = $('#Sure').val();
        var id = $("#ID").val();
        var modul = $('#UniteModul_Ref').val();
        $.get('@Url.Action("TestlerGuncelle", "SinavIslemler", new { area = "PANEL" })', { id: id, TestNo: sno, SoruSayisi: sayi, Sure : sure,  Aciklama: acik, UniteModul_Ref: modul }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari2').click();
            }
        });
    }
    function Testler(id, modul_ref) {
        window.location.href = '/PANEL/SinavIslemler/TestSorular?id=' + id + '&UniteModul_Ref=' + modul_ref;
    }

    function Remove(id) {
        $("#ID").val(id);
        $('#silme').click();        
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("TestSilme", "SinavIslemler", new { area = "PANEL" })', { id: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari2').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("Testler", "SinavIslemler", new { area = "PANEL" })';
    }

    

</script>

