﻿@model Testler
@{
    ViewBag.Title = "TestSorular";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var unite = (List<Unite>)ViewData["Unite"];
    int uniteRef = (int)ViewBag.UniteModulRef; 
    HaveakEntities Entity = new HaveakEntities();
  
}

@using HaveakPro.Models;
@using HaveakPro.Areas.PANEL.Models;


    <ul class="breadcrumb push-down-0">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
        <li><a href="@Url.Action("Testler", "SinavIslemler", new { area = "PANEL" })">TESTLER</a></li>
        <li class="active">TANIMLI SORULAR</li>
    </ul>
   
    <div class="content-frame">
   
        <div class="content-frame-top">
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span>TESTE ATANMIŞ SORULAR</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-8">
                    <h4>
                        <p class="text-danger">Tanımlı Sorular</p>
                    </h4>

                    <div class="panel-body">
                        <table class="table table-bordered datatable">
                            <thead>
                                <tr>
                                   @* <th style="width: 8px;">A/P</th>*@
                                    <th>Sıra</th>
                                    <th>Kategori</th>                                                                     
                                    <th>Ünite</th>                                    
                                    <th>Soru</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{                             
                                    var datax = Entity.Test_Sorular.Where(t => t.Testler_Ref == Model.ID && t.IsDelete == false).ToList();
                                    foreach (var item in datax.Select((x, i) => new { Index = i, Data = x }))
                                    {                                       
                                    <tr>
                                        @*<td>
                                            @Html.CheckBox("Aktif", item.Data.IsActive, new { id = "IsActive" + (item.Data.ID), @class="icheckbox" })</td>*@
                                        <td><span class="badge badge-inverse">(@(item.Index + 1)-)</span>
                                            <input type="hidden" id="souID@(item.Index + 1)" value="@item.Data.UniteSorular_Ref" />
                                        </td>
                                        <td>
                                            TEST
                                        </td>                                      
                                        <td>@item.Data.UniteSorular.Unite.UniteAdi</td>
                                        
                                        <td class="hidden-phone">@item.Data.UniteSorular.Soru</td>
                                        <td>
                                            <button type="button" class="btn btn-danger" onclick="Guncelle(@item.Data.ID)">Sil</button>
                                        </td>
                                    </tr>										     
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                        </div>
                    <br />
                    <br />
                     <div class="col-md-4">
                    <h4><p class="text-danger">Yeni Soru Tanımlama (Bilgiler)</p></h4>
                    <div class="panel-body">
                        <form action="@Url.Action("TestKaydet", "SinavIslemler", new { area = "Panel" })" class="form-horizontal" method="post">  
                             <div class="control-group">
                                <label class="control-label">Ders Grup</label>
                                <div class="controls">
                                    <span class="label label-danger label-form">@Model.UniteModul.Modul</span>
                                    @*<input type="hidden" value="@Model.ID" id="Modul" />*@
                                </div>
                            </div> 
                            <div class="control-group">
                                <label class="control-label">Ünite</label>
                                <div class="controls">
                                    <select id="UniteSorular_Ref" class="form-control select" tabindex="1" data-live-search="true" onchange="GetUniteSorular();">
                                        <option value="0">Ünite Seçin</option>
                                        @foreach (var item in unite)
                                        {
                                            var control = item.UniteSorulars.Where(t => t.IsActive == true && t.IsDelete == false && (t.SinavTipi_Ref == (int)Enumlar.SoruTipleri.TEST || t.SinavTipi_Ref == (int)Enumlar.SoruTipleri.TEORIK)).Count() == 0 ? "" : "+";
                                            if (control == "+")
                                            {
                                                <option value="@item.ID" style="background-color:red; color:white; font-weight:bold" >@item.UniteAdi &nbsp;&nbsp; @control</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID" >@item.UniteAdi &nbsp;&nbsp; @control</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Test No</label>
                                <div class="controls">
                                    <span class="label label-primary label-form">@Model.TestNo</span>
                                    <input type="hidden" value="@Model.ID" id="TestNo" />
                                </div>
                            </div>
                        </form>
                    </div>
                         </div>
                    <br />
                    <br />                 
            </div>
               <div class="col-md-12">
                     <h4><p class="text-danger">SORULAR</p></h4>
            <div class="panel-body" id="questions">
   
            </div>

                </div>

                @* <div class="alert alert-danger" role="alert">
                            <strong>Üzügünüz!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                        </div>*@

            </div>
        </div>
    </div>


 <input type="hidden" id="ID" value="" />
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Eklemeye çalıştığınız soru Testte ekli!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Teste atamak İçin Lütfen Soru Seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili soru sistemden kaldırılacaktır Eminmisiniz? </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>



@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
@section scripts{
<script>

    function GetUniteSorular(id) {
        var testId = '@Model.ID';
        var idx = $('#UniteSorular_Ref').val();
        //Test Soruları
        var tipIx = 3;
        //if (tipIx == 0 || idx == 0) {
        //    $('#uyari').click();          
        //    return;
        //}
        $.get('@Url.Action("_USorular", "SinavIslemler")', { id: idx, tip: tipIx, sinavno: testId }, function (data) {
            $("#questions").html(data);
        });
    }

   @* function UnitelerGetir() {
        var idx = $('#Modul_Ref').val();
        if (idx == "0") {
            return;
        }
        $('#UniteSorular_Ref option').remove();
        $('#UniteSorular_Ref').append(new Option("Ünite Seçin", "0"));
        $('#UniteSorular_Ref').selectpicker('refresh');

        $.get('@Url.Action("TestKursModulUniteler", "SinavIslemler")', { id: idx }, function (data) {
            $.each(data, function (i, item) {
                
                $('#UniteSorular_Ref').append(new Option(item.UniteAdi, item.ID));
                $('#UniteSorular_Ref').selectpicker('refresh');
            });
        });
    }*@

    function Guncelle(id) {
        $('#ID').val(id);
        $('#silme').click();
    }
      
    function Sil()
    {
           var id = $("#ID").val();
            $.ajax({
                url: "/PANEL/SinavIslemler/TanimliSoruGuncelleTest",
                data: { 'id': id },
                success: function (data) {
                    if (data) {
                        $('#onay').click();
                        Refresh();
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });

    }

    function Refresh() {
        window.location.href = '/PANEL/SinavIslemler/TestSorular?id=@Model.ID.ToString()&UniteModul_Ref=@uniteRef';
    }
</script>
}
