﻿@{
    ViewBag.Title = "MADDEINCELEME";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    var kategoriList = (List<TehlikeliMaddeKategori>)ViewBag.Kategori;
}
@using HaveakPro.Models;

<div class="content-frame">
    <ul class="breadcrumb">
        <li></li>
    </ul>
    <div class="row">
        <h3 class="page-title" style="text-align:center">
            HIEMANN X-RAY CONSOLE
            <small>Simulator</small>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-3 control-label">Kategori</label>
                <div class="col-md-9">
                    <select class="form-control select" data-live-search="true" id="Kategori">
                        <option value="0">Madde Seçiniz</option>
                        @foreach (var item in kategoriList)
                        {
                            <option value="@item.ID">@item.Baslik</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Tanımlı Maddeler</label>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body" id="icerikEkran">
                            <a id="prev" class="btn btn-danger  btn-rounded" onclick="GetResimler('prev');"><i class="fa fa-arrow-left"></i>REW </a>
                            <a id="next" class="btn btn-danger  btn-rounded" onclick="GetResimler('next');"><i class="fa fa-arrow-right"></i>FWD </a>
                            <a id="outbtn" class="btn btn-primary  btn-rounded" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-12" style="text-align:center">

            <div id="r1" style="width: 680px; height: 530px; border: 15px solid black;  background-size: 100%; margin:0px auto;">
                <div id="Ana1">
                    <img id="Resim1" src="~/Content/img/RYokBagaj.jpg" style="width: 650px; height:500px;" />
                </div>
            </div><br />
            <span class="label label-danger" style="font-size:16px;" id="resimad"></span>
        </div>
        <div class="col-md-3 col-sm-12">
            <div id="kontrolEkran" style="margin-top:20px;text-align: center">
                <div class="row">
                    <div class="col-md-12">

                        <h3>MADDE INCELEME</h3>
                        <button id="P1" class="btn btn-info" style="width: 100px; height: 40px;" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                        <button id="NEG" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                        <br />
                        <br />
                        <button id="P2" class="btn btn-success" style="width: 100px; height: 40px;" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                        <button id="SB" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                        <br />
                        <br />
                        <button id="P3" class="btn btn-warning" style="width: 100px; height: 40px;" onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                        <button id="BW" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                        <br />
                        <br />
                        <button id="Hi" class="btn btn-danger" style="width: 100px; height: 40px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                        <button id="SEN" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>

                    </div>
                </div>

                <img id="TMResim" alt="" src="#" style="width: 300px; border: outset" />
            </div>
        </div>
    </div>


</div>


@section scripts{
    <script type="text/javascript">
    var liste = new Array();
    var resim = new Array();
    var isim = new Array();
    var anaresim = "";
    var selectedIndex = 0;
    var baggageIndex = 0;

        $(document).ready(function () {

            $.post('/SIMULATOR/MaddeInceleme/LogYaz', { 'islemTur': 1, 'simulatorRef': 4 }, function () { });
        });

        $('#next').attr('disabled', 'disabled');
    $('#kontrolEkran').attr('style', 'visibility:hidden');
    $('#icerikEkran').attr('style', 'visibility:hidden');
        $('#Kategori').on('change', function () {
            selectedIndex = 0;
            //var refresh = setInterval(function () {
            //    $('#next').removeAttr('disabled');
            //    $('#Kategori').prop("disabled", false);
            //    clearInterval(refresh);
            //}, 100);
            liste = [];
            resim = [];
            isim = [];
            $('#kontrolEkran').attr('style', 'visibility:hidden');
            $("#kontrolEkran").children().attr("disabled", "disabled");
            $('#prev').attr('style', 'visibility:hidden');
            $('#Resim1').attr('src', '/Content/img/RYokBagaj.jpg');
            var idx = $(this).val();
            if (idx == "0") {
                $('#kontrolEkran').attr('style', 'visibility:hidden');
                $('#icerikEkran').attr('style', 'visibility:hidden');
                return;
            }

            $.get('/SIMULATOR/MaddeInceleme/KategoriMaddeler', { 'id': idx }, function (data) {
                if (data != "") {
                    var olx = "";
                    var arsm = "";
                    for (var i = 0; i < data.length; i++) {
                        liste[i] = data[i].ID;
                        resim[i] = data[i].Resim;
                        isim[i] = data[i].ResimAd;
                        anaresim = data[i].AnaResim;
                    }
                    ResimAta(0);
                    $('#TMResim').attr('src', '/' + arsm);
                    $('#kontrolEkran').attr('style', 'visibility:visible; text-align:center');
                    $('#icerikEkran').attr('style', 'visibility:visible');
                }
            })

        @*$.ajax({
            type: "GET",
            url: "@Url.Action("KategoriMaddeler", "MaddeInceleme", new { area = "SIMULATOR" })",
            data: { 'id': idx },
            async: false,
            success: function (data) {
                if (data != "") {
                    var olx = "";
                    var arsm = "";
                    for (var i = 0; i < data.length; i++) {
                        liste[i] = data[i].ID;
                        resim[i] = data[i].Resim;
                        isim[i] = data[i].ResimAd;
                        anaresim = data[i].AnaResim;
                    }
                    ResimAta(0);
                    $('#TMResim').attr('src', '/' + arsm);
                    $('#kontrolEkran').attr('style', 'visibility:visible; text-align:center');
                    $('#icerikEkran').attr('style', 'visibility:visible');
                }
            },
            error: function (ex) {
                alert(ex.error);
            }
        });*@
    })


    function outBack() {
        $.ajax({
            url: '/SIMULATOR/MaddeInceleme/LogYaz',
            data: { 'islemTur': 2, 'simulatorRef': 4 },
            success: function () { }
        });
        window.location.href = '/SIMULATOR/BagajInceleme/HEIMANN';
    }

    function GetResimler(btype)
    {
        $('#kontrolEkran').each(function () {
            $(this).find("button").attr('disabled', 'disabled');
        });
        if (btype == "next" && (liste.length - 1) > selectedIndex) {
            debugger
            $('#next').attr('disabled', 'disabled');
            $('#Kategori').prop("disabled", true);
            selectedIndex += 1;
            if (selectedIndex > baggageIndex) {

                baggageIndex += 1;
                $.ajax({
                    url: '/SIMULATOR/MaddeInceleme/LogBagaj',
                    success: function () {
                    }
                });
            }
        }
        else if (btype == "prev" && selectedIndex > 0) {
            selectedIndex -= 1;
        }
        var refreshIntervalId = setInterval(function () {
            $('#kontrolEkran').each(function () {
                $(this).find("button").removeAttr('disabled');
                $('#next').attr('disabled', 'disabled');
            });
            clearInterval(refreshIntervalId);
        }, 2500);

        $('#next').attr('style', 'visibility:visible');
        $('#prev').attr('style', 'visibility:visible');
        if (selectedIndex == (liste.length - 1)) {
            $('#next').attr('style', 'visibility:hidden');
            $('#prev').attr('style', 'visibility:visible');
        }
        if (selectedIndex == 0) {
            $('#prev').attr('style', 'visibility:hidden');
            $('#next').attr('style', 'visibility:visible');
        }
        //var IntervalId = setInterval(function () {
        //    $('#next').removeAttr('disabled');
        //    $('#Kategori').prop("disabled", false);
        //    clearInterval(IntervalId);
        //}, 2000);
        ResimAta(selectedIndex);

    }


    function ResimAta(inx) {
        var rsm = resim[inx];
        var adi = isim[inx];
        $('#Resim1').attr('src', '/' + rsm);
        $('#resimad').html(adi);
        $("#kontrolEkran").children().removeAttr("disabled");
    }

    function showImage(typeId) {
        switch (typeId) {
            case 'P1':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P2':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P3':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                //$('#Resim1').attr('style', 'width: 650px; height: 500px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(185deg) saturate(4)  invert(1) contrast(2) brightness(1.1)');
                break;
            case 'HI':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                break;
            case 'NEG':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; -webkit-filter: invert(100%); filter: invert(100%);');
                break;
            case 'SB':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                break;
            case 'BW':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                break;
            case 'SEN':
                $('#Resim1').attr('style', 'width: 650px; height: 500px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            default:
                break;
        }
    }
        var kontrolIndex = 0;
    function defaultImage() {
        $('#Resim1').removeAttr('style');
        $('#Resim1').attr('style', 'width: 650px; height: 500px');
        kontrolIndex++;
        if (kontrolIndex == 3) {
            $('#next').removeAttr('disabled');
            kontrolIndex = 0;
        }
    }

    </script>
}