﻿@{
    ViewBag.Title = "NUCTECH";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
}
@*<script src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>*@
<style>
    /** {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 300;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    h1 {
        padding: 60px 0;
        text-align: center;
    }

    .wrap {
        margin: 60px auto;
        text-align: center;
    }*/

    .img-zoom {
        width: 310px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }

    .transition {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }

    .img-zoom2 {
        width: 310px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }

    .transition2 {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
</style>

<ul class="breadcrumb">
    <li></li>
</ul>


<div class="page-content-wrap" oncontextmenu='return false' align="center">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top:7%">
            <div class="col-md-6" id="ind1">
                <div class="img-zoom" id="r1" style="width: 470px; height: 340px; border: 0px solid #000000; padding: 15px 15px 15px 15px; background: url(../../Content/img/XrayEkran.png) no-repeat; background-size: 100%;">
                    <div id="Ana1" style="background-color: white">
                        <img oncontextmenu="return false" id="Resim1" alt="" src="~/Content/img/RYokBagaj.jpg" style="width: 440px; height: 250px; margin-top: 1px" />
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="ind2">
                <div class="img-zoom2" id="r2" style="width: 470px; height: 340px; border: 0px solid #000000; padding: 15px 15px 15px 15px; background: url(../../Content/img/XrayEkran.png) no-repeat; background-size: 100%;">
                    <div id="Ana2" style="background-color: white;">
                        <img oncontextmenu='return false' id="Resim2" alt="" src="~/Content/img/RYokBagaj.jpg" style="width: 440px; height: 250px; margin-top: 1px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div><br /><br /><br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <h3>SİSTEM AKTİVASYON</h3>
                        <div class="tools">
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form action="#" class="form-horizontal">
                            <table>
                                <tr>
                                    <td style="width: 100px">
                                        POWER
                                        <div class="progress">
                                            <div id="onOffStatus" class="progress-bar progress-bar-success active" style="width: 0%"></div>
                                        </div>
                                    </td>
                                    <td style="width: 100px">
                                        XRAY
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped" id="progress" style="width: 0%;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 100px">
                                        READY
                                        <div class="progress">
                                            <div id="Ready" style="width: 0%;" class="progress-bar progress-bar-striped active"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        POWER
                                        <br />
                                        <label class="switch">
                                            <input type="checkbox" id="onoff" onchange="OnOffClik()" />
                                            <span></span>
                                        </label>

                                    </td>
                                </tr>


                            </table>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet" id="Buttons">
                    <div class="portlet-title">
                        <h3>İŞLEM TUŞLARI</h3>
                        <div class="tools">
                        </div>
                    </div>
                    @*
                            Astrophiscs Konsol
                            <table id="controlButtons">
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-lg">
                                        <button style="font-weight: bold; height: 28px" id="Button1" class="btn btn-primary btn-rounded" onclick="showImage('BW')">B / W</button>
                                        <div class="btn-group dropup">
                                            <button style="font-weight: bold; font-size: 14px; height: 28px" class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown">Lighter<i class="icon-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a id="Button17" onclick="showImage('LG3')" style="cursor: pointer">Level 3</a></li>
                                                <li><a id="Button16" onclick="showImage('LG2')" style="cursor: pointer">Level 2</a></li>
                                                <li><a id="Button15" onclick="showImage('LG1')" style="cursor: pointer">Level 1</a></li>
                                            </ul>
                                        </div>
                                        <button style="font-weight: bold; height: 28px" id="Button3" class="btn btn-primary btn-rounded" onclick="showImage('Ing')">In Strip</button>
                                        <button style="font-weight: bold; height: 28px" id="Button4" class="btn btn-primary btn-rounded" onclick="showImage('Edg')">Edg Trace</button>
                                        <button style="font-weight: bold; height: 28px" id="Button5" class="btn btn-primary btn-rounded" onclick="defauldImage()">Normal</button>
                                        <button style="font-weight: bold; height: 28px" id="Button6" class="btn btn-primary btn-rounded" onclick="showImage('Org')">Or Strip</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                    <div class="btn-group btn-group-lg">
                                        <button style="font-weight: bold; height: 28px" id="Button7" class="btn btn-primary btn-rounded" onclick="showImage('SEN')">Hipen</button>
                                        <div class="btn-group dropup">
                                            <button style="font-weight: bold; font-size: 14px; height: 28px" class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown">Darker<i class="icon-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a id="Button18" onclick="showImage('DK3')" style="cursor: pointer">Level 3</a></li>
                                                <li><a id="Button19" onclick="showImage('DK2')" style="cursor: pointer">Level 2</a></li>
                                                <li><a id="Button20" onclick="showImage('DK1')" style="cursor: pointer">Level 1</a></li>
                                            </ul>
                                        </div>
                                        <button style="font-weight: bold; height: 28px" id="Button9" class="btn btn-primary btn-rounded">View</button>
                                        <button style="font-weight: bold; height: 28px" id="Button10" class="btn btn-primary btn-rounded">Menu</button>
                                        <div class="btn-group dropup">
                                            <button style="font-weight: bold; font-size: 14px; height: 28px" class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown">Psuedo<i class="icon-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a id="Button11" onclick="showImage('PSD1')" style="cursor: pointer">Psuedo 1</a></li>
                                                <li><a id="Button13" onclick="showImage('PSD2')" style="cursor: pointer">Psuedo 2</a></li>
                                                <li><a id="Button14" onclick="showImage('PSD3')" style="cursor: pointer">Psuedo 3</a></li>
                                            </ul>
                                        </div>
                                        <button style="font-weight: bold; height: 28px" id="Button12" class="btn btn-primary btn-rounded">Thread</button>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: center">

                                    <button style="font-weight: bold" id="prev" class="btn btn-danger" onclick="GetResimler('prev');"><i class="fa fa-arrow-left"></i>REW </button>

                                    <button style="font-weight: bold" id="next" class="btn btn-danger" onclick="GetResimler('next');"><i class="fa fa-arrow-right"></i>FWD </button>

                                    <button style="font-weight: bold" id="outbtn" class="btn  active" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT </button>

                                </td>
                            </tr>
                        </table>*@

                    <table id="controlButtons">
                        <tr>
                            <td id="jenerator">
                                <div class="btn-group btn-group-lg">
                                    <button id="F1" class="btn btn-info" style="width: 100px; " onmouseover="showImage('F1')" onmouseout="defaultImage();">F1</button>
                                    <button id="NEG" class="btn btn-primary" style="width: 100px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                                    <button id="F2" class="btn btn-success" style="width: 100px;" onmouseover="showImage('F2')" onmouseout="defaultImage();">F2</button>
                                    <button id="SB" class="btn btn-primary" style="width: 100px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                                </div>
                                    <br />
                                    <br />
                                <div class="btn-group btn-group-lg" style="margin-top:-10px">
                                    <button id="F3" class="btn btn-warning" style="width: 100px;" onmouseover="showImage('F3')" onmouseout="defaultImage();">F3</button>
                                    <button id="BW" class="btn btn-primary" style="width: 100px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                                    <button id="Hi" class="btn btn-danger" style="width: 100px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                                    <button id="SEN" class="btn btn-primary" style="width: 100px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>

                               
                                </div>
                               
                            </td>
                        </tr>
                        @*<tr>
                            <td style="text-align: center">
                                <div class="btn-group btn-group-lg">
                                    <button style="font-weight: bold; height: 28px" id="Button7" class="btn btn-primary btn-rounded" onclick="showImage('SEN')">Hipen</button>
                                    <div class="btn-group dropup">
                                            <button style="font-weight: bold; font-size: 14px; height: 28px" class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown">Darker<i class="icon-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a id="Button18" onclick="showImage('DK3')" style="cursor: pointer">Level 3</a></li>
                                                <li><a id="Button19" onclick="showImage('DK2')" style="cursor: pointer">Level 2</a></li>
                                                <li><a id="Button20" onclick="showImage('DK1')" style="cursor: pointer">Level 1</a></li>
                                            </ul>
                                        </div>
                                    <button style="font-weight: bold; height: 28px" id="Button9" class="btn btn-primary btn-rounded">View</button>
                                    <button style="font-weight: bold; height: 28px" id="Button10" class="btn btn-primary btn-rounded">Menu</button>
                                    <div class="btn-group dropup">
                                            <button style="font-weight: bold; font-size: 14px; height: 28px" class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown">Psuedo<i class="icon-angle-down"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a id="Button11" onclick="showImage('PSD1')" style="cursor: pointer">Psuedo 1</a></li>
                                                <li><a id="Button13" onclick="showImage('PSD2')" style="cursor: pointer">Psuedo 2</a></li>
                                                <li><a id="Button14" onclick="showImage('PSD3')" style="cursor: pointer">Psuedo 3</a></li>
                                            </ul>
                                        </div>
                                    <button style="font-weight: bold; height: 28px" id="Button12" class="btn btn-primary btn-rounded">Thread</button>
                                </div>
                            </td>

                        </tr>*@
                        @*<tr>
                            <td>
                                <br />
                            </td>
                        </tr>*@
                        <tr>
                            <td colspan="6" style="text-align: center">

                                <button style="font-weight: bold; margin-top: 10px;" id="prev" class="btn btn-danger" onclick="GetResimler('prev');"><i class="fa fa-arrow-left"></i>REW </button>

                                <button style="font-weight: bold; margin-top: 10px;" id="next" class="btn btn-danger" onclick="GetResimler('next');"><i class="fa fa-arrow-right"></i>FWD </button>

                                <button style="font-weight: bold; margin-top:10px" id="outbtn" class="btn  active" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
@section scripts{
<script type="text/javascript">

    $('#controlButtons').attr('style', 'visibility:hidden');

    function zoomx() {
        $('.img-zoom').hover(function () {
            $(this).addClass('transition');
            $('#ind1').attr('style', 'z-index:2');

        }, function () {
            $(this).removeClass('transition');
            $('#ind1').removeAttr('style');
        });
    }

    function zoomy() {
        $('.img-zoom2').hover(function () {
            $(this).addClass('transition');
            $('#ind2').attr('style', 'z-index:2');

        }, function () {
            $(this).removeClass('transition');
            $('#ind2').removeAttr('style');
        });
    }



    var liste = new Array();
    var resimler = new Array();
    var selectedIndex = 0;
    var baggageIndex = 0;
    getBagajList();
    function outBack() {
        $.ajax({
            url: '/SIMULATOR/BagajInceleme/LogYaz',
            data: { 'islemTur': 2, 'simulatorRef': 2 },
            success: function () { }
        });
        window.location.href = '/SIMULATOR/BagajInceleme/NUCTECH_ONE';
    }

    function getBagajList() {

        $.ajax({
            url: '/SIMULATOR/BagajInceleme/NuctechBagajActiveList',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    liste[i] = result[i].ID;
                }
            },
            error: function (hata) {
                jAlert(hata.responseText);
            }
        });
    }

    function GetResimler(btype) {
        $('#next').attr('disabled', 'disabled');
        $('#prev').attr('disabled', 'disabled');
        $('#controlButtons > tbody > tr').each(function (ix, trx) {
            var idx = $(trx).find("td").attr('id');
            if (idx == "jenerator") {
                $(trx).find("td").eq(0).find("button").attr('disabled', 'disabled');
            }
        }); 
        if (btype == "next" && (liste.length - 1) > selectedIndex) {
            $('#next').attr('disabled', 'disabled');  
            selectedIndex += 1;
            if (selectedIndex > baggageIndex) {
                baggageIndex += 1;
                $.ajax({
                    url: '/SIMULATOR/BagajInceleme/LogBagaj',
                    success: function () { }
                });                    
            }
        }
        else if (btype == "prev" && selectedIndex > 0) {
            selectedIndex -= 1;
        }
        var refreshIntervalId = setInterval(function () {
            $('#controlButtons > tbody > tr').each(function (ix, trx) {
                var idx = $(trx).find("td").attr('id');
                if (idx == "jenerator") {
                    $(trx).find("td").eq(0).find("button").removeAttr('disabled');
                    $('#prev').removeAttr('disabled');
                }
            });
            clearInterval(refreshIntervalId);
        }, 2000);   
        $('#next').css('visibility','visible');
        $('#prev').css('visibility', 'visible');
        if (selectedIndex == (liste.length - 1)) {
            $('#next').css('visibility', 'hidden');
            $('#prev').css('visibility', 'visible');
        }
        if (selectedIndex == 0) {
            $('#prev').css('visibility', 'hidden');
            $('#next').css('visibility', 'visible');
        }
        var id = liste[selectedIndex];
        if (id != 0) {
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/NuctechBagajResimleriGetir',
                data: { 'id': id },
                success: function (result) {

                    $('#r1').html('');
                    var image = "<div id='Ana1' style='background:white'>" +
                        "<marquee id='mrk1' behavior='slide' direction='right' scrollamount='30' loop='1'>" +
                        "<img onContextMenu='return false' id='Resim1' src='/" + result[0].Resim + "' style='width: 440px; height: 250px; margin-top:1px' />" +
                        "</marquee>" +
                        "</div>";
                    $('#r1').append(image);

                    $('#r2').html('');
                    var image2 = "<div id='Ana2' style='background:white'>" +
                        "<marquee id='mrk2' behavior='slide' direction='right' scrollamount='30' loop='1'>" +
                        "<img onContextMenu='return false' id='Resim2' src='/" + result[0].Resim2 + "' style='width: 440px; height: 250px;  margin-top:1px' />" +
                        "</marquee>" +
                        "</div>";
                    $('#r2').append(image2);
                    zoomx();
                    zoomy();
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        }

    }
    //function showImage(typeId) {
    //    //$('#Ana1').attr('style', 'background-color:white');
    //    //$('#Ana2').attr('style', 'background-color:white');
    //    switch (typeId) {
    //        case 'Org':
    //            $('#Resim1').attr('style', 'width: 440px; height: 250px;  margin-top:1px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(270%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
    //            break;
    //        case 'Edg':
    //            $('#Resim2').attr('style', 'width: 440px; height: 250px;margin-top:1px; filter: grayscale(100%); -webkit-filter: grayscale(100%) contrast(3);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%); ');
    //            break;
    //        case 'Ing':
    //            //$('#Resim1').attr('style', 'width: 440px; height: 250px; margin-top:1px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(185deg) saturate(4)  invert(1) contrast(2) brightness(1.1)');
    //            $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
    //            break;
    //        case 'HI':
    //            $('#Resim2').attr('style', 'width: 440px; height: 250px;margin-top:1px; filter: grayscale(100%); -webkit-filter: grayscale(100%) brightness(1);-moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); ');
    //            break;
    //        case 'NEG':
    //            $('#Resim1').attr('style', 'width: 440px; height: 250px; margin-top:1px; -webkit-filter: invert(100%); filter: invert(100%); ');
    //            break;
    //        case 'SB':
    //            $('#Resim1').attr('style', 'width: 440px; height: 250px;margin-top:1px; -webkit-filter: grayscale(100%); filter: grayscale(100%); ');
    //            break;
    //        case 'BW':
    //            $('#Resim2').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
    //            break;
    //        case 'SEN':
    //            $('#Resim2').attr('style', 'width: 440px; height: 250px; margin-top:1px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1); ');
    //            break;
    //        case 'PSD1':
    //            $('#Resim2').attr('style', 'background-color:#7f048a; width: 440px; height: 250px;  margin-top:1px; filter: hue-rotate(150deg); -webkit-filter:sepia(0.92) saturate(1)  brightness(1.4) contrast(2) ;-moz-filter: hue-rotate(165deg) ; -o-filter: hue-rotate(165deg); -ms-filter: hue-rotate(165deg);');
    //            //$('#Ana2').attr('style', 'background-color:#7f048a;');
    //            break;
    //        case 'PSD2':
    //            $('#Resim2').attr('style', 'width: 440px; height: 250px; margin-top:1px; filter: hue-rotate(150deg); -webkit-filter:hue-rotate(150deg);-moz-filter: hue-rotate(165deg) ; -o-filter: hue-rotate(165deg); -ms-filter: hue-rotate(165deg);');
    //            //$('#Ana2').attr('style', 'background-color:white');

    //            break;
    //        case 'PSD3':
    //            $('#Resim2').attr('style', 'background-color:#1c5ad4; width: 440px; height: 250px; margin-top:1px; filter: grayscale(1); -webkit-filter:grayscale(1);-moz-filter: hue-rotate(165deg) ; -o-filter: hue-rotate(165deg); -ms-filter: hue-rotate(165deg);');
    //            $('#Ana2').attr('style', 'background-color:#1c5ad4;');
    //            break;
    //        case 'LG1':

    //            $('#Resim2').css('brightness', '');
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            var nw = dgr + ' brightness(1.1)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(1.1)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        case 'LG2':
    //            $('#Resim2').css('brightness', '');
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            var nw = dgr + ' brightness(1.2)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(1.2)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        case 'LG3':
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            $('#Resim2').css('brightness', '');
    //            var nw = dgr + ' brightness(1.3)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(1.3)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        case 'DK1':

    //            $('#Resim2').css('brightness', '');
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            var nw = dgr + ' brightness(0.8)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(0.8)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        case 'DK2':
    //            $('#Resim2').css('brightness', '');
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            var nw = dgr + ' brightness(0.7)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(0.7)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        case 'DK3':
    //            $('#Resim2').css('brightness', '');
    //            var dgr = $('#Resim2').css('-webkit-filter');
    //            var nw = dgr + ' brightness(0.6)';
    //            $('#Resim2').css('-webkit-filter', nw);

    //            $('#Resim1').css('brightness', '');
    //            var dgr2 = $('#Resim1').css('-webkit-filter') == 'none' ? "" : $('#Resim1').css('-webkit-filter');
    //            var nw2 = dgr2 + ' brightness(0.6)';
    //            $('#Resim1').css('-webkit-filter', nw2);
    //            break;
    //        default:
    //            break;
    //    }

    //}


    function showImage(typeId) {
        
        switch (typeId) {
            case 'F1':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) brightness(1.5) contrast(320%) saturate(2.3); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) brightness(1.5) contrast(320%) saturate(2.3); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'F2':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'F3':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                //$('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(185deg) saturate(4)  invert(1) contrast(2) brightness(1.1)');
                break;
            case 'HI':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                break;
            case 'NEG':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; -webkit-filter: invert(100%); filter: invert(100%);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; -webkit-filter: invert(100%); filter: invert(100%);');
                break;
            case 'SB':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                break;
            case 'BW':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                //$('#Ana1').attr('style', 'background-color:black');
                break;
            case 'SEN':
                $('#Resim1').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                $('#Resim2').attr('style', 'width: 440px; height: 250px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            default:
                break;
        }

    }



    function OnOffClik() {
        var click = $('#onoff').is(":checked");
        if (click) {
            $('#next').attr('style', 'visibility:hidden');
            $('#prev').attr('style', 'visibility:hidden');
            $('#controlButtons > tbody > tr').each(function (ix, trx) {
                var idx = $(trx).find("td").attr('id');
                if (idx == "jenerator") {
                    $(trx).find("td").eq(0).find("button").attr('disabled', 'disabled');
                }
            }); 
            $('#onoff').attr('disabled', 'disabled');
            $('#onOffStatus').attr('style', 'width: 100%;');
            $('#progress').attr('style', 'width: 100%;');
            var interval = setInterval(doStuff, 700);
            function doStuff() {
                $('#progress').attr('style', 'width: 0%;');
                clearInterval(interval);
                var interval2 = setInterval(doStuff2, 2000);
                function doStuff2() {
                    //$("#controlButtons").find("button").removeAttr("disabled");
                    $('#Ready').attr('style', 'width: 100%;');
                    clearInterval(interval2);
                    GetResimler('next');
                    $('#kontrolEkran').attr('style', 'text-align:center;visibility:visible');
                    $('#prev').attr('style', 'width: 75px;height:30px; visibility:hidden; margin-top:10px');
                    $('#next').attr('style', 'width: 75px;height:30px; visibility:visible; margin-top:10px');
                    $('#onoff').removeAttr('disabled');
                }
            }
            $('#controlButtons').attr('style', 'visibility:visible');
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/LogYaz',
                data: { 'islemTur': 1, 'simulatorRef': 2 },
                success: function () { }
            });
        }
        else {
            $('#onOffStatus').attr('style', 'width: 0%;');
            $('#prev').css('visibility','hidden');
            $('#next').css('visibility','hidden');
            $('#Ready').attr('style', 'width: 0%;');
            $('#r1').html('');
            $('#r2').html('');
            var image = "<div id='Ana1' style='background:white'>" +
                "<img id='Resim1' onContextMenu='return false' src='/Content/img/RYokBagaj.jpg' style='width: 440px; height: 250px' />" +
                "</div>";
            $('#r1').append(image);
            var image2 = "<div id='Ana2' style='background:white'>" +
                "<img id='Resim2' onContextMenu='return false' src='/Content/img/RYokBagaj.jpg' style='width: 440px; height: 250px'  />" +
                "</div>";
            $('#r2').append(image2);
            $('#controlButtons').attr('style', 'visibility:hidden');
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/LogYaz',
                data: { 'islemTur': 2, 'simulatorRef': 2 },
                success: function () { }
            });
        }
    }
    var kontrolIndex = 0;
    function defaultImage() {
        $('#Ana1').attr('style', 'background-color:white');
        $('#Ana2').attr('style', 'background-color:white');
        $('#Resim1').removeAttr('style');
        $('#Resim1').attr('style', 'width: 440px; height: 250px')

        $('#Resim2').removeAttr('style');
        $('#Resim2').attr('style', 'width: 440px; height: 250px')
        //$('#Resim2').attr('style', 'width: 440px; height: 250px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
        kontrolIndex++;
        if (kontrolIndex == 3) {
            $('#next').removeAttr('disabled');
            kontrolIndex = 0;
        }
    }

</script>
    }