﻿@{
    ViewBag.Title = "RAPISCAN";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">AnaSayfa</a></li>
    <li class="active">RAPISCAN BAGAJLAR</li>
</ul>
<!-- END BREADCRUMB -->


<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>BAGAJ SİMULATÖR</h2>
</div>

<!-- PAGE CONTENT WRAPPER -->

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    Add class <code>.page-navigation-top</code> to <code>.page-container</code> to use top navigation
                               
                </div>
            </div>
        </div>
    </div>

</div>