﻿@model List<Maddeler>
@using HaveakPro.Models;

<form action="#" role="form" class="form-horizontal">
    @foreach (var item in Model)
    {        
        <div class="form-group">
            <label class="col-md-6 control-label text-left">
                <img id="Resim" src="~/@item.Resim" class="img-text" width="117" style="margin-left:5px"></label>
            <div class="col-md-6">
                 <span class="help-block">@item.ResimAd</span>
                <label class="switch">
                    <input type="radio" name="switch" id="@item.ID" />
                    <span></span>
                </label>
            </div>           
        </div>        
    }
</form>
