﻿@model PagedList.IPagedList<Maddeler>
@{
    ViewBag.Title = "Maddeler";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var tmkategoriler = (List<TehlikeliMaddeKategori>)ViewBag.TMkategori;
    int index = (int)ViewBag.RecordNo;
    int kategoriIDGelen = 0;
    if (Model != null)
    {
        kategoriIDGelen = (int)ViewBag.GelenKatID;
    }
    ViewBag.Sayfa = "Bagajlar";
}
@using HaveakPro.Models;
@using PagedList.Mvc;


<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Panel</a></li>
    <li class="active"><a href="#">MADDELER İÇERİKLER</a></li>
</ul>

<div class="content-frame">

    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-exclamation-triangle"></span>TEHLİKELİ MADDELER İÇERİKLERİ</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" onclick="MKaydet();"><span class="fa fa-upload"></span>KAYDET</button>
            @if (Model != null)
            {
                <button class="btn btn-warning" onclick="MaddeResimGuruplama();"><span class="fa fa-bars"></span>GRUPLA</button>
            }

        </div>
    </div>

    <div class="content-frame-right">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Kategori Seçimi</h3>
            </div>
            <div class="panel-body">
                <select id="Kategoriler" class="form-control" style="cursor: pointer" onchange="GetMeddeler();">
                    <option value="0">Tehlikeli Madde Kategori Seçin</option>
                    @foreach (var item in tmkategoriler)
                    {
                        if (item.ID == kategoriIDGelen)
                        {
                        <option value="@item.ID" selected ="selected">@item.Baslik</option>  
                        }
                        else
                        {
                        <option value="@item.ID">@item.Baslik</option>    
                        }

                    }
                </select>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Yeni Kayıt</h3>
            </div>
            <div class="panel-body">
                <form id="rsmKayit" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("SaveMaddeler", "GoruntuIslemler", new { area = "PANEL" })" method="post">
                    <input type="hidden" id="KatID" name ="TehlikeliMadde_Ref" value="@kategoriIDGelen" />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Resim :</label><br />
                            <input type="file" multiple id="file-simple" name="Resim" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="guncellePnl" class="panel panel-danger" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Güncelle</h3>
            </div>
            <div class="panel-body" style="text-align: center">

                <img id="guncelleResim" src="" alt="Yeni Kategori Resim" style="width: 210px;" />
                <input type="hidden" id="rsmID" value="" />
                @*  <div class="meta">
                        <input type="text" class="form-control" id="resimAdi" value="" />
                    </div>*@
            </div>
            <div class="panel-footer">
                <input type="file" multiple id="GuncelleMadde" name="Resim" />
                <button class="btn btn-primary" onclick="GuncellemeKaydet();">Güncelle</button>
                <button class="btn btn-warning" onclick="GuncelleIptal();">Grup Sil</button>
            </div>
        </div>

        <div id="resimGuruplandır" class="panel panel-warning" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Resimleri Kategorilendir</h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-refresh"><span class="fa fa-download" onclick="MaddeResimGurupKaydet();" title="KAYDET"></span></a></li>
                </ul>
            </div>
            <div class="panel-body" id="SeciliMaddeler">
            </div>
        </div>

        <div id="AltResimPnl" class="panel panel-info" style="display: none">
            <div class="panel-heading">
                <h3 class="panel-title">Açılı Resimler</h3>
            </div>
        </div>

    </div>

    <div id="bagajlar" class="content-frame-body content-frame-body-left">

        <div class="pull-right push-up-10">
            <div class="btn-group">
                @if (Model != null)
                {               
                    <button id="btnSil" class="btn btn-primary" onclick="Remove();"><span class="fa fa-trash-o"></span>Sil</button>                         
                }
            </div>
        </div>

        <div class="gallery" id="links">
            @if (Model != null)
            {
                foreach (var item in Model.OrderBy(w => w.ID))
                {
                    index++;
                    string rtipi = item.AltResimRef == null ? "Guruplandır" : item.AltResimRef == 0 ? "Ana Madde" : "Madde Açılı";
                        
                <a id="madde_@item.ID" class="gallery-item" href="~/@item.Resim" title="@item.ResimAd">
                    <div class="image">
                        <img src="~/@item.Resim" alt="@item.ResimAd" style="height:233px"/>
                        <ul class="gallery-item-controls">
                            <li>
                                <label class="check">
                                    <input id="@item.ID" type="checkbox" class="icheckbox" /></label></li>
                            <li><span id="spn_@item.ID" class="gallery-item-update guncelle"><i class="fa fa-retweet"></i></span></li>
                            @if (item.AltResimRef == 0)
                            {
                                <li><span id="dty_@item.ID" class="gallery-item-update resimler"><i class="fa fa-picture-o"></i></span></li>
                            }
                        </ul>
                    </div>
                    <div class="meta">
                        <span class="badge badge-danger" style="color: white;"><strong>@index) @item.ResimAd (@rtipi)</strong></span>
                        <input type="hidden" id="maddeData_@item.ID" value="@item.Resim"/>
                        <input type="hidden" id="maddeBaslik_@item.ID" value="@item.ResimAd"/>
                    </div>
                </a> 
                }

            }
        </div>

        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            @if (Model != null)
            {
                <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
            }
        </ul>

    </div>
    
</div>



<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Madde Resmi ve Adı giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Sistemden Kaldırılacak Madde(ler) i seçiniz !</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Madde(ler) Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="_MaddeSil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="refresh('@kategoriIDGelen');">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@


@section scripts{
<script>
    $(".guncelle").on("click", function () {
        var idd = $(this).attr("id").split("_")[1];
        var resim = $('#maddeData_' + idd).val();
        var resimAd = $('#maddeBaslik_' + idd).val();
        $('#guncelleResim').attr('src', '/' + resim);
        //$('#resimAdi').val(resimAd);
        $('#rsmID').val(idd);
        $('#guncellePnl').attr('style', 'display:block');
        return false;
    });

    $(".resimler").on("click", function () {
        var idd = $(this).attr("id").split("_")[1];
        MaddeAltResimler(idd);
        $('#AltResimPnl').attr('style', 'display:block');
        return false;
    });

    function GuncelleIptal() {
        $('#uyari').click();
    }

    function GuncellemeKaydet() {

        var kategoriID = $('#Kategoriler').val();
        var idx = $('#rsmID').val();
        var file = $('#GuncelleMadde').prop('files')[0];

        var form_data = new FormData();
        form_data.append('ID', idx)
        form_data.append('Resim', file)
        $.ajaxSetup({ async: false });
        $.ajax({
            url: "/PANEL/GoruntuIslemler/UpdateMaddeler",
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {

                if (data) {
                    $('#onay').click();
                }
            }
        });

    }

    function refresh(katID) {
        window.location.href = '/PANEL/GoruntuIslemler/KategoriMaddelerGetir?page=1&KatID=' + katID;
    }

    function Remove() {
        if ($('input[type=checkbox]:checked').length == 0) {
            $('#uyari2').click();
            return;
        }
        $('#silme').click();
    }

    function _MaddeSil() {
        $('input[type=checkbox]').each(function () {
            if ($(this).is(":checked")) {
                var ids = $(this).attr("id");
                $.get('@Url.Action("DeleteMaddeler", "GoruntuIslemler", new { area = "PANEL" })', { ID: ids }, function (data) {
                    $('#madde_' + ids).fadeOut(400, function () {
                        $('#madde_' + ids).remove();
                        if ($('input[type=checkbox]').length == 0) {
                            $('#btnSil').attr('disabled', 'disabled');
                        }
                    });
                    return false;
                });
            }
        });
    }



    $(function () {
        $("#file-simple").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        $("#GuncelleMadde").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });

        if ($('input[type=checkbox]').length == 0) {
            $('#btnSil').attr('disabled', 'disabled');
        }
    });

    function MKaydet() {
        var kategori = $('#Kategoriler').val();
        //var resimAd = $('#ResimAd').val();
        var resim = $('#file-simple').prop('files')[0];
        if (resim == null || kategori == "0") {
            //$('#uyari').click();
            return;
        }
        $('#rsmKayit').submit();
    }

    function GetMeddeler() {
        var kategoriID = $('#Kategoriler').val();
        window.location.href = '/PANEL/GoruntuIslemler/KategoriMaddelerGetir?page=1&KatID=' + kategoriID;
    }

    function getData(id) {
        var kategoriID = $('#Kategoriler').val();
        window.location.href = '/PANEL/GoruntuIslemler/KategoriMaddelerGetir?page=' + id + '&KatID=' + kategoriID;
    }

    function MaddeResimGuruplama() {
        var selected = [];
        $('div#links input[type=checkbox]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).attr('id'));
            }
        });

        if (selected.length == 0) {
            return;
        }
        else {
            $('#resimGuruplandır').attr('style', 'display:block');
        }
        jQuery.ajaxSettings.traditional = true
        $.post('@Url.Action("_MaddeResimGetir", "GoruntuIslemler", new { area = "PANEL" })', { IDs: selected }, function (result) {
            $('#SeciliMaddeler').html(result);
        });
    }

    function MaddeResimGurupKaydet() {

        var aktif = 0;
        $('div#SeciliMaddeler input[type=radio]').each(function () {
            if ($(this).is(":checked")) {
                aktif = aktif + 1;
            }
        });
        if (aktif == 0) {
            alert("Lütfen bir tane ana bagaj seçiniz!");
        }
        else {
            var selected = [];
            $('div#SeciliMaddeler input[type=radio]').each(function () {
                var idx = $(this).attr('id');
                var statux = false;
                if ($(this).is(":checked")) {
                    statux = true;
                }
                var dataObject = {
                    'id': idx,
                    'statu': statux
                };
                selected.push(dataObject);
            });

            var data1 = { 'data': selected };
            var data = JSON.stringify(data1)


            $.ajax({
                //traditional: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("MaddeResimGrupla", "GoruntuIslemler", new { area = "PANEL" })',
                data: data,
                success: function (response) {
                    alert("Ok");
                },
                error: function (response) {
                    alert("error occured");
                }
            });
        }
    }

    function _GrupSil() {
        var id = $('#rsmID').val();
        $.post('@Url.Action("GrupSil", "GoruntuIslemler", new { area = "PANEL" })', { Id: id }, function (result) {
            if (result) {
                $('#onay').click();
            }
            else {
                alert("Alt maddeleri silmeden ana maddeyi grup tan çıkaramazsınız!!!");
            }
        });
    }

    function MaddeAltResimler(id) {
        $.post('@Url.Action("_MaddeAltResimGetir", "GoruntuIslemler", new { area = "PANEL" })', { Id: id }, function (result) {
            $('#AltResimPnl').html(result);
        });

    }

</script>
}



