﻿@model List<Personel_Sinavlar>
@using HaveakPro.Models;
@{
    int index = 0;
}

@if (Model.Count > 0)
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sıra</th>
            <th>Sınav No
            </th>
            <th>Sınav Notu Teorik
            </th>
            <th>SınavNotu Uygulama
            </th>
            <th>Doğru Sayısı Teorik
            </th>
            <th>Yanlış Sayısı Teorik
            </th>
            <th>Teorik Boş
            </th>
            <th>Doğru Sayısı Uygulama
            </th>
            <th>Yanlış Sayısı Uygulama
            </th>
            <th>Uygulama Boş
            </th>
            <th>SONUÇ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            index++;
            if (item.SinavAciklama == true)
            { 
            <tr>
                <td>@index</td>
                <td>@item.Sinavlar.SinavNo</td>
                <td><span class="badge badge-info"><b>@item.SinavNotuTeorik</b></span></td>
                <td><span class="badge badge-info"><b>@item.SinavNotuUygulama</b></span></td>
                <td><span class="badge badge-success">@item.DogruSayisiTeorik</span></td>
                <td><span class="badge badge-important">@item.YanlisSayisiTeorik</span></td>
                <td><span class="badge badge-inverse">@item.TeorikBos</span></td>
                <td><span class="badge badge-success">@item.DogruSayisiUygulama</span></td>
                <td><span class="badge badge-important">@item.YanlisSayisiUgulama</span></td>
                <td><span class="badge badge-inverse">@item.UygulamaBos</span></td>
                <td>
                    @{
                string durumu = "";
                if (item.Durum == "KALDI")
                {
                    durumu = "danger";
                }
                else if (item.Durum == "AÇIKLANMADI")
                {
                    durumu = "primary";
                }
                else
                {
                    durumu = "success";
                }
                if (durumu == "primary")
                {
                        <span class="label label-@durumu"><b>@item.Durum</b></span>
                }
                else
                {
                        <button class="btn btn-default" data-toggle="modal" data-target="#sonuc_cikti" onclick="SonucDetay('@item.ID')"><span class="label label-@durumu"><b>@item.Durum</b></span></button> 
                }  
                    }
                </td>
            </tr> 
            }
            else
            {
            <tr>
                <td>@index</td>
                <td>@item.Sinavlar.SinavNo</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><span class="label label-info">AÇIKLANMADI</span> </td>
            </tr>  
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <div class="date">
                    <span class="label label-primary">Toplam Atanan Sınav : @Model.Count Adet</span>
                </div>
            </td>
        </tr>

    </tfoot>

</table>
}
<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h4>
            </div>
            <div class="modal-body" id="Cevaplar">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <div class="alert alert-danger" role="alert">
        Açıklanan Herhangi bir Sonucunuz yoktur!
    </div>          
}

<script>
    function SonucDetay(idx) {
        var yukleniyor = '<div class="progress">' +
                                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                                    '</div>';
        $("#Cevaplar").html(yukleniyor);
        $.get('@Url.Action("_SinavCevaplar", "Home")', { id: idx }, function (data) {
            $("#Cevaplar").html(data);
        });
    }
</script>
