﻿@model List<SinavCevaplar>
@{
    HaveakEntities entity = new HaveakEntities();
    int indexUyg = 0;
    int indexTeo = 0;
}
@using HaveakPro.Models;
@using HaveakPro.Areas.SINAV.Models;

@if (Model.Count > 0)
{
<table class="table">
    <thead>
        <tr>
             @if (Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Uygulama).Count() > 0)
             {
            <th>UYGULAMA SORULAR</th>
             }
             @if (Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Teorik).Count() > 0)
             {
            <th>TEORİK SORULAR</th>
             }
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Uygulama).Count() > 0)
            {
               <td>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Soru</th>
                            <th>Soru Şıkkı</th>
                            <th>Soru Cevap</th>
                            <th>Alt Şık</th>
                            <th>Alt Cevap</th>
                            <th>Koordinat</th>
                            <th>Sonuç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Uygulama))
                        {
                            indexUyg++;                 
                            <tr>
                                <td>@indexUyg</td>
                                <td>
                                    @item.Sinav_Sorular.UniteSorular.Soru
                                </td>
                                <td>
                                    @item.Sinav_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.SoruSikki).FirstOrDefault()
                                </td>
                                <td>
                                    @entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.SoruSikki).FirstOrDefault()
                                </td>
                                <td>
                                    @(item.Sinav_Sorular.UniteSorular.AltSiklars.Where(t => t.AltDogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.AltSoruSikki).FirstOrDefault() ?? "YOK")
                                </td>
                                <td>
                                    @(entity.AltSiklars.Where(t => t.ID == item.AltCevap).Select(r => r.AltSoruSikki).FirstOrDefault() ?? "YOK")
                                </td>
                                <td>
                                    @(item.KoordinatSecim == true ? "Doğru" : item.KoordinatSecim == false ? "Yanlış" : "YOK")
                                </td>
                                <td style="font-weight:bold">
                                    @{
                            var sonuc = item.Netice == true ? "Doğru" : item.Netice == false ? "Yanlış" : "YOK";
                            if (sonuc != "YOK")
                                      {
                                <a href="javascript:SoruOnIzleme(@item.Sinav_Sorular.Sinavlar_Ref, @item.Sınav_Sorular_Ref, @item.Sinav_Sorular.UniteSorular_Ref);" target="_blank">  <span class="label label-@(item.Netice == true ? "success": "danger")">  
                                    @(sonuc)</span></a>                              
                                      }
                            else
                            {
                                @sonuc
                            }
                                    }
                                    
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </td>  
            }
           @if (Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Teorik).Count() > 0)
           {
                 <td>
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Soru</th>
                            <th>Doğru Şık</th>
                            <th>Cevap</th>                         
                            <th>Sonuç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(r => r.Sinav_Sorular.SinavTipi_Ref == (int)EnumSinav.SinavTipi.Teorik))
                        {
                            indexTeo++;               
                            <tr>
                                <td>@indexTeo</td>
                                <td>
                                    @item.Sinav_Sorular.UniteSorular.Soru
                                </td>
                                <td>
                                    @item.Sinav_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.SoruSikki).FirstOrDefault()<br />
                                    "@item.Sinav_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.CevapIcerik).FirstOrDefault()"
                                </td>
                                <td>
                                    @entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.SoruSikki).FirstOrDefault()<br />
                                    "@entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.CevapIcerik).FirstOrDefault()"
                                </td>                               
                                <td>
                                     <span class="label label-@(item.Netice == true ? "success": "danger")">  
                                    @(item.Netice == true ? "Doğru" : item.Netice == false ? "Yanlış" : "YOK")</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
           }
          
        </tr>
    </tbody>
</table>
}
else
{
    <div class="alert alert-danger" role="alert">                               
                                <strong>DUYURU</strong> Sınav sonucu henüz açıklanmadı!
     </div>
}


<script>
    function SoruOnIzleme(Sinav_Ref, idx, SoruNo)
    {
        window.open(
  '/SINAV/SoruInceleme/Soru_Detay?Sinav_Ref='+Sinav_Ref+'&idx='+idx+'&SoruNo='+SoruNo+'',
  '_blank' // <- This is what makes it open in a new window.
);
       
    }
</script>