﻿@model Sinav_Sorular
@{    
    HaveakEntities Entity = new HaveakEntities();
    //int personel = Authorizing..User_Ref;    
    string check = "";
    string altCheck = "";
    int userId = (int)ViewBag.userId;
    string soruTipi = Model.SinavTipi.Baslik;
    ViewBag.SoruTipi = soruTipi;
    int sorunumara = (int)ViewBag.Soruno;
    int per_sinav = Entity.Personel_Sinavlar.Where(r => r.Sinif_Ogrenci.Personel_Ref == userId && r.Sinavlar_Ref == Model.Sinavlar_Ref).Select(t => t.ID).FirstOrDefault();
    double olcek = Convert.ToDouble(Model.UniteSorular.TMOlcek == null ? 100 : Model.UniteSorular.TMOlcek.Value);
    double payda = 8.50;
    double sonuc = 1;
    try
    {
        sonuc = Convert.ToDouble((olcek / payda).ToString().Substring(0, 4));
    }
    catch
    {
        sonuc = (olcek / payda);
    }
    

    string opaGelen = (Convert.ToDouble(Model.UniteSorular.TMSaydamlik == null ? 1: Model.UniteSorular.TMSaydamlik == 1 ? 1 : (Model.UniteSorular.TMSaydamlik.Value) / 100)).ToString();
    
}

@using HaveakPro.Models;
<style type="text/css">
    .thumbnail 
    {
    position: relative;
    height: 615px;
    overflow: hidden;
 
    img {
        width:820px;
        max-width: 820px; 
        max-height: 620px;
        position: absolute;
        left:50%;
        margin-left: -460px; 
        }
   }
</style>

<div class="row">
     <div class="col-md-12">  
    @if (soruTipi == "UYGULAMA")
    {        
        <div class="col-md-9">  
        <div id="rsmx" class="thumbnail" style="height: 620px; visibility: hidden; background-color:white">
            <img id="Resim1" style="position: absolute; width: 820px; max-width:820px; max-height:615px; height:615px; cursor:crosshair; background-size: cover;" src="~/@(Model.UniteSorular.SBagajlar_Ref == null ? "" : Model.UniteSorular.SBagajlar.Resim)" />
            @if (Model.UniteSorular.SBMaddeResimler != null)
            {
                <img id="tmadde" src="~/@Model.UniteSorular.SBMaddeResimler.Resim" alt="" style="cursor:crosshair; margin-left: @(Convert.ToInt32(Model.UniteSorular.XKordinat))px; margin-top: @(Convert.ToInt32(Model.UniteSorular.YKordinat))px; mix-blend-mode: multiply; -webkit-transform: rotate(@(Convert.ToInt32(Model.UniteSorular.TMVektor))deg); opacity:@opaGelen; width:@(sonuc)%; max-width:@(sonuc)%" />                            
            }
            <input id="DurumK" value="" type="hidden" /> 
            <input type="hidden" id="XKordinat" value="@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.CevapResimX - 10).FirstOrDefault())" />
            <input type="hidden" id="YKordinat" value="@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.CevapResimY - 10).FirstOrDefault())" />
            <input type="hidden" id="Pointerxx" value="" />
            <input type="hidden" id="Pointeryy" value="" />
        </div>  

        </div>                                              
    }
    <div class="col-md-@(soruTipi == "UYGULAMA" ? "3" : "9")">
        <div class="panel panel-success">
            @* <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">İÇERİK</h3>
                        </div>*@
            <div class="panel-body">
                - @Model.SinavTipi.Baslik, Soru : <span class="badge badge-inverse"><b>@sorunumara</b></span><br />
                -
                <label style="font-weight: bold; font-size: 14px">@Model.UniteSorular.Soru</label><br />

                <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                    @foreach (var itemx in Model.UniteSorular.SoruSiklaris.Where(r => r.IsActive == true))
                    {
                        int countAlt = Model.UniteSorular.AltSiklars.Count();                             
                        <tr>
                            <td style="width: 4%">
                                @if (itemx.SoruSikki != "a)" && countAlt > 0)
                                {
                                    if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.GirilenCevap).FirstOrDefault())
                                    {
                                        check = "checked = checked";
                                    }
                                    else
                                    {
                                        check = "";
                                    }                                                                                    
                                    <input id="cvp_@itemx.ID" type="checkbox" @check onclick="AltsikGoster('@itemx.UniteSorular_Ref','@itemx.ID')" /> 
                                    <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                }
                                else
                                {
                                    if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.GirilenCevap).FirstOrDefault())
                                    {
                                        check = "checked = checked";
                                    }
                                    else
                                    {
                                        check = "";
                                    }       
                                    <input id="cvp_@itemx.ID" type="checkbox" @check onclick="CheckboxControlAlt('@itemx.ID')" class="icheckbox" /> 
                                    <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                }
                            </td>
                            <td>@itemx.SoruSikki @itemx.CevapIcerik
                                <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                            </td>
                        </tr> 
                    }
                </table>
                <table class="table table-bordered" id="alsiktablo">
                    <tbody>
                        @{
                            int cvp = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar_Ref == per_sinav).Count();
                            if (cvp > 0)
                            {
                                foreach (var item in Model.UniteSorular.AltSiklars.Where(t => t.IsActive == true).Select((x, i) => new { Index = i, Data = x }))
                                {
                            <tr>
                                @if (item.Data.ID == Model.SinavCevaplars.Where(m => m.AltCevap == item.Data.ID && m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.AltCevap).FirstOrDefault())
                                {
                                    altCheck = "checked = checked";
                                }
                                else
                                {
                                    altCheck = "";
                                }
                                <td style="width: 4%">
                                    <input id="altcvp_@(item.Data.ID)" type="checkbox" @altCheck onclick="CheckboxControlAlt2('@item.Data.ID')"></td>
                                <td>@item.Data.AltSoruSikki  @item.Data.AltCevapIcerik
                                    <input type="Hidden" id="AltSik_@item.Data.ID" value="@item.Data.ID" />
                                    <input type="Hidden" id="AltSoruSik_@(item.Data.ID)" value="@(item.Data.AltSoruSikki)" /></td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <input type="button" value="Sorular" class="btn btn-danger" onclick="GeriDon();" />
                @{
                    var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(r => r.ID).Count() == 0 ? "Onayla" : "Güncelle"; 
                }
                <input type="button" class="btn btn-primary pull-right" onclick="CevapKaydet();" value="@soruDurum" />
            </div>
        </div>

    </div>
         </div>

    <!-- BEGIN SAMPLE TABLE PORTLET-->
</div>


<script>
    $(function () {

        $('#seciliSoruIcerik').css('display', 'block');
        $('#tiklama').remove();
        //$('#alsiktablo tbody').find('tr').remove();
               
        if ('@Model.UniteSorular.SinavTipi_Ref' == 1) 
        {            
            var x = '@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.CevapResimX).FirstOrDefault() ?? 0)';
            var y = '@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userId).Select(t => t.CevapResimY).FirstOrDefault() ?? 0)'; 
            
            var relativeX = x - 10;
            var relativeY = y - 10;
            var secimc = '@Model.SinavCevaplars.Select(y => y.KoordinatSecim).FirstOrDefault()'
            jQuery('#DurumK').val(secimc);
            var drmKont = jQuery('#DurumK').val();
            if (x == 0) {               
                ImageActive();
            }
            else 
            {    
                var img = $('<img id="tiklama" src="/Content/img/selected.jpg" alt="Tıklandı" style="visibility:hidden; position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px" />');
                var div = $('<div>').css({
                    "position": "absolute"                
                });
                div.append(img);
                $(document.body).append(div);                
            }
            $('#teorikSorular').attr('style','display:none');  
            $('#uygulamaSorular').attr('style','display:block');           
        }
        else {
            $('#teorikSorular').attr('style','display:block');  
            $('#uygulamaSorular').attr('style','display:none'); 
        }
        var myInterval = setInterval(function () {
            $('#rsmx').css('visibility','visible'); 
            $('#tiklama').css('visibility','visible');          
            var wth = $('#tmadde').width();
            var hgt = $('#tmadde').height();
            $('#Pointerxx').val(wth);
            $('#Pointeryy').val(hgt);
            PointerSize('@Model.UniteSorular.TMOlcek');
            OpacityControl();
            clearInterval(myInterval);
        },2500);       
    });

    function GeriDon()
    {
        $('#kontrolEkran').css('visibility', 'hidden');
        $('#SoruSiklar').css('display', 'block');
        $('#SoruIcerik').css('display', 'none');
        $('#seciliSoruIcerik').css('display', 'none');
        $('#tiklama').remove();
    }

    function AltsikGoster(id,checkx) 
    {           
        CheckboxControlAlt(checkx);
        var isChecked = $('#cvp_'+checkx).is(":checked");
        if (isChecked) {             
            $.ajax({ 
                url: "/SINAV/Home/AltSiklarGetir",         
                data: { 'id': id },
                success: function (data) 
                {
                    $('#alsiktablo').attr('style', 'display:block');
                    $('#alsiktablo tbody').find('tr').remove();
                    for (var i = 0; i < data.length; i++) 
                    {    
                        var newRow =
             '<tr><td style="width: 4%"><input id="altcvp_'+data[i].ID+'" type="checkbox" onclick="CheckboxControlAlt2('+data[i].ID+')"></td>' +
             '<td>' + data[i].AltSoruSikki + ' ' + data[i].AltCevapIcerik + '<input type="Hidden" id="AltSik_'+data[i].ID+'" value="'+data[i].ID+'" /><input type="Hidden" id="AltSoruSik_'+data[i].ID+'" value="'+data[i].AltSoruSikki+'" /></td></tr>';
                                    
                        $('#alsiktablo tbody').append(newRow); 
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            }); 
        }
    }
    


    function CheckboxControlAlt(id) {     
        $('#alsiktablo tbody tr').remove();
        var selectCheck = $('#cvp_' + id).is(':checked') ? "checked" : "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {          
            $(trx).find("td").eq(0).find("input").removeAttr('checked');         
        });
        $('#cvp_' + id).prop('checked', true);  
        var ccont = $('#SoruSik_'+id).val();
        if (ccont == "a)") {
            ImageActive();     
        }
    }

    function CheckboxControlAlt2(id) {    
        
        var selectCheck = $('#altcvp_' + id).is(':checked') ? "checked" : "";
        $('#alsiktablo').find('tr').each(function (ix, trx) {          
            $(trx).find("td").eq(0).find("input").removeAttr('checked');         
        });
        $('#altcvp_' + id).prop('checked', true);       
    }
    


    $("#Resim1").click(function (e) {
        $('#tiklama').remove();    
        var x = e.pageX; 
        var y = e.pageY;       
        var relativeX = x -10;
        var relativeY = y -10;
        jQuery('#DurumK').val(false);
        //var x = relativeX - 10;
        //var y = relativeY - 10;
        var img = $('<img id="tiklama" src="/Content/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
        var div = $('<div>').css({
            "position": "absolute"           
        });
        div.append(img);
        $(document.body).append(div);  
        $('#XKordinat').val(relativeX);
        $('#YKordinat').val(relativeY);
    }); 
      
    $("#tmadde").click(function (e) {
        $('#tiklama').remove();
        
        var x = e.pageX; 
        var y = e.pageY;       
        var relativeX = x -10;
        var relativeY = y -10;
        jQuery('#DurumK').val(true);
        var x = relativeX - 10;
        var y = relativeY - 10;
        var img = $('<img id="tiklama" src="/Content/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
        var div = $('<div>').css({
            "position": "absolute"           
        });
        div.append(img);
        $(document.body).append(div);  
        $('#XKordinat').val(relativeX);
        $('#YKordinat').val(relativeY);
    }); 
  
    function PointerSize(gelen) {
        
        var wth = $('#Pointerxx').val();
        var hgt = $('#Pointeryy').val();
        var byt = parseFloat(gelen) / 100;
        var sonucx = wth * byt;
        var sonucy = hgt * byt;
        $('#tmadde').css('width', sonucx + 'px');
    }
    
    function OpacityControl() { 
        var dgr = '@Model.UniteSorular.TMSaydamlik'.replace(',','.');
        if (dgr != "") {
            var opt = dgr / 100;
            $('#tmadde').css('opacity', opt);
        }

    }

    function CevapKaydet()
    {           
        var Personel_SinavRef = '@per_sinav'
        var Sinav_SoruRef = '@Model.ID';
        var CevapResimX = parseInt($('#XKordinat').val());
        var CevapResimY = parseInt($('#YKordinat').val());
        var Girilen_Cevap = "";
        var AltCevap = 0;
        var soruSikki= 0;
        var cevapSikki ="";
        var durum = jQuery('#DurumK').val();
        if (typeof durum == "undefined") {
            durum =null;
        }
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) { 
            soruSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruSikki) {
                Girilen_Cevap = $(trx).find("td").eq(1).find("input[type=hidden]").val();
                cevapSikki = $(trx).find("td").eq(0).find("input[type=hidden]").val();
            }
        });
        if (cevapSikki == "") {
            $('#uyari').click();
            return;
        }
        if ('@soruTipi'!= "TEORİK" && cevapSikki != "a)" && durum =="" ) {
            $('#uyari3').click();
            return;
        }

        $('#alsiktablo tbody').find('tr').each(function (ix, trx) {
            var soruAltSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruAltSikki) {
                AltCevap = $(trx).find("td").eq(1).find("input").val();
            }
        }); 
        if (AltCevap == 0 && '@soruTipi'!= "TEORİK" && cevapSikki != "a)") {
            if ($('#alsiktablo tbody').find('tr').length > 0) {
                $('#uyari2').click();
                return;
            }           
        }

        var soruS = $('#SoruSik_'+ Girilen_Cevap).val();
        var altSoruS =$('#AltSoruSik_' + AltCevap).val();
        if (typeof altSoruS == "undefined") {
            altSoruS ="";
        }
        if (durum == "" && soruS != "a)") {
            $('#uyari4').click();
            return;
        }        
        $.ajax({
            url: "/SINAV/Home/SinavCevap",
            data: { 'Personel_SinavRef': Personel_SinavRef, 'SinavSoruRef': Sinav_SoruRef, 'Cevap': Girilen_Cevap, 'AltCevap': AltCevap, 'xkordinat':CevapResimX, 'ykordinat':CevapResimY, 'koordinatSecim': durum  },
            success: function (data) 
            {        
                if (data) {
                    $('#Cevap_'+Sinav_SoruRef).html("<span class='label label-success' style='font-size:12px'> "+ soruS + "</span>"); 
                    window.location.href='/SINAV/Home/SinavaBasla/'+Personel_SinavRef;
                    OpacityControl();
                }
                                           
                //window.location.href='/SINAV/Home/SinavaBasla/'+Personel_SinavRef;
               
                //alert("Kayıt işlemi : "+data);   
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }    

    function ImageActive()
    {
        $('#DurumK').val(null);
        $('#XKordinat').val(null);
        $('#YKordinat').val(null);
        $('#alsiktablo').attr('style', 'display:none');
        $('#tiklama').remove(); 
    }   
   

</script>




