﻿@model List<Testler>
@{
    ViewBag.Title = "Modul_Testler";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    var Testler = (List<Personel_Testler>)ViewBag.Testler;
    var users = (UserModel)ViewBag.users;
    int KalanDakika = 0;
    int KalanSaat = 0;
    int index = 0;
    int indexCevap = 0;
    int ids = (int)ViewBag.Idx;
    var tcevap = (List<Personel_Testler>)ViewBag.TestCevaplar;
    int? skonu = (int)ViewBag.Sonkonu;
   
}

@using HaveakPro.Models;
@using HaveakPro.Models.Methods;

<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li><a href="@Url.Action("Index", "Home", new { area = "EGITIM" })">Eğitim</a></li>
    <li class="active">TESTLER</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>TEST HİZMETLERİ</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs nav-justified">
                         @{                             
                             string kontrol = "";
                             string kontrol_alt = "";
                             if (!users.Roller.Contains(UserRoleName.PANEL_AdminGiris) && skonu == 0)
                             {
                                kontrol = "class='active'";
                                kontrol_alt = "active";
                             }                             
                             }
                         @if (users.Roller.Contains(UserRoleName.PANEL_AdminGiris) || skonu == 1)
                         {
                             if (skonu == 1)
                             {
                                 <li class="active"><a href="#tab1" data-toggle="tab">TESTLER</a></li> 
                             }
                             else
                             {
                                 kontrol_alt = "active";
                             }                      
                         }
                        
                        <li @kontrol><a href="#tab2" data-toggle="tab">TEST SONUÇLAR</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        @if (users.Roller.Contains(UserRoleName.PANEL_AdminGiris) || skonu == 1)
                         {
                             if (skonu == 1)
                             {                                                    
                        <div class="tab-pane active" id="tab1">
                            @if (Model.Count != 0)
                            {
                                int gtestsayi = 0;
                                int stestsayi = 0;
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Test No</th>
                                            <th>Teste Giriş Tarihi</th>
                                            <th>Başlama Saati</th>
                                            <th>Bitiş Saati</th>
                                            <th>Soru Adet</th>
                                            <th>Açıklama</th>
                                            <th>Test Cevaplama Süresi</th>
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderByDescending(t => t.ID))
                                        {
                                            var seciliTestIcerik = Testler.Where(e => e.Sinif_Ogrenci.Personel_Ref == users.Id && e.Testler_Ref == item.ID).FirstOrDefault();                                           
                                            //string aktif = "success";
                                            gtestsayi = seciliTestIcerik == null ? 0 : seciliTestIcerik.Sinif_Ogrenci.Personel_Testler.Count;
                                            if (gtestsayi > 0 && seciliTestIcerik.Bitti == 1)
                                            {
                                                stestsayi++;
                                            }
                                            string testButonUyari = "";
                                            string lamba = "";
                                            index++;
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.TestNo</td>
                                                <td>@(seciliTestIcerik == null ? "Henüz Teste Girmediniz" : seciliTestIcerik.TestTarihi.Value.ToShortDateString())</td>
                                                <td>@(seciliTestIcerik == null ? "00:00" : seciliTestIcerik.GirisSaati.Value.ToString())</td>
                                                <td>@(seciliTestIcerik == null ? "00:00" : seciliTestIcerik.CikisSaati == null ? "00:00" : seciliTestIcerik.CikisSaati.Value.ToString())</td>
                                                <td>@item.SoruSayisi</td>
                                                <td>@item.Aciklama</td>
                                                <td>@(seciliTestIcerik == null ? "0" : seciliTestIcerik.TestSuresi == null ? "0" : seciliTestIcerik.TestSuresi.Value.ToString()) Dakika</td>
                                                <td>@{   
                                            if (seciliTestIcerik != null)
                                            {
                                                DateTime testTarihi = seciliTestIcerik.TestTarihi.Value;
                                                TimeSpan baslamaSaati = seciliTestIcerik.GirisSaati.Value;
                                                TimeSpan bitisSaati = seciliTestIcerik.CikisSaati == null ? TimeSpan.Zero : seciliTestIcerik.CikisSaati.Value;
                                                DateTime bugun = DateTime.Now.Date;
                                                TimeSpan mevcutZaman = TimeSpan.Parse(DateTime.Now.ToShortTimeString());
                                                TimeSpan span = TimeSpan.FromMinutes(Convert.ToDouble(seciliTestIcerik.Testler.Sure));
                                                TimeSpan testtoplamSuresi = baslamaSaati.Add(span);

                                                var tdtKontrol = item.Personel_Testler.Where(r=>r.Sinif_Ogrenci.Personel_Ref == users.Id).ToList();
                                                foreach (var itemx in tdtKontrol)
                                                {

                                                    if (mevcutZaman >= baslamaSaati && mevcutZaman < testtoplamSuresi && itemx.Bitti == 0)
                                                    {
                                                        TimeSpan kalanZaman = testtoplamSuresi - mevcutZaman;
                                                        if (itemx.Basladi == 1)
                                                        {
                                                            KalanDakika = kalanZaman.Minutes;
                                                            KalanSaat = kalanZaman.Hours;
                                                            lamba = "success";
                                                            if (KalanSaat == 0)
                                                            {
                                                                testButonUyari = "Devam Et (Kalan Süre: " + KalanDakika + " Dakika" + ")";
                                                            }
                                                            else
                                                            {
                                                                testButonUyari = "Devam Et (Kalan Süre: " + KalanSaat + " Saat " + KalanDakika + " Dakika" + ")";
                                                            }
                                                        }                                                   
                                                    <input id="Button1" type="button" class="btn btn-@lamba btn-rounded" value="@testButonUyari" onclick="TesteBasla('@item.ID');"/>
                                                    
                                                    }
                                                    else if (mevcutZaman > testtoplamSuresi || item.Personel_Testler.Where(r => r.Bitti == 1 && r.Sinif_Ogrenci.Personel_Ref == users.Id).Count() > 0)
                                                    {
                                                        HaveakEntities entity = new HaveakEntities();

                                                        var bittiKontrol = entity.Personel_Testler.Where(e => e.Bitti == 0 && e.ID == itemx.ID).FirstOrDefault();
                                                        if (bittiKontrol != null)
                                                        {
                                                            bittiKontrol.Bitti = 1;                                                                                                                     
                                                            entity.SaveChanges();
                                                        }

                                                        string durum = "";
                                                        string statu = "";
                                                        if (itemx != null && itemx.GirisSaati == null)
                                                        {
                                                            durum = "Katılmadınız!";
                                                            statu = "important";
                                                        }
                                                        else
                                                        {
                                                            durum = "Katıldınız";
                                                            statu = "success";
                                                        }                                      
                                                    <label>Test Süresi Bitti Durum: <span class="label label-@statu">@durum</span></label>
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                lamba = "danger";
                                                testButonUyari = "Teste Başla";
                                                    <input id="Button2" type="button" class="btn btn-@lamba btn-rounded" value="@testButonUyari" onclick="TesteBasla('@item.ID');"/>
                                            }
                                                   
                                                    

                                                }
                                                    @* @if (testTarihi < bugun)
                                                    {
                                                        string durumunuz = tdtKontrol.Basladi == 0 ? "Katılmadınız!!!" : "Katıldınız";
                                                        uyari = "Test Bitti " + durumunuz;
                                                        <label>@uyari</label>   
                                                    }*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <div class="date">
                                                    <span class="label label-primary">Cevaplanan Test Sayısı : @stestsayi Adet</span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    Bölüme atanmış test yoktur!
                                </div>     
                            }

                        </div>
                            }
                         }
                        <div class="tab-pane @kontrol_alt" id="tab2">
                            @if (tcevap.Count != 0)
                            {
                                  <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sıra</th>
                                        <th>Test No
                                        </th>
                                        <th>Test Notu
                                        </th>                                      
                                        <th>Doğru Sayısı
                                        </th>
                                        <th>Yanlış Sayısı 
                                        </th>
                                        <th>Boş
                                        </th>                                       
                                        <th>SONUÇ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in tcevap)
                                    {
                                        indexCevap++;
                                        if (item.TestAciklama == true)
                                        { 
                                        <tr>
                                            <td>@indexCevap</td>
                                            <td>@item.Testler.TestNo</td>
                                            <td><span class="badge badge-info"><b>@item.TestNotu</b></span></td>                                          
                                            <td><span class="badge badge-success">@item.DogruSayisi</span></td>
                                            <td><span class="badge badge-important">@item.YanlisSayisi</span></td>
                                            <td><span class="badge badge-inverse">@item.Bos</span></td>                                       
                                            <td>
                                                @{
                                            string durumu = "";
                                            if (item.Durum == "KALDI")
                                            {
                                                durumu = "danger";
                                            }
                                            else if (item.Durum == "AÇIKLANMADI")
                                            {
                                                durumu = "primary";
                                            }
                                            else
                                            {
                                                durumu = "success";
                                            }                                
                                                    <button class="btn btn-default" data-toggle="modal" data-target="#sonuc_cikti" onclick="SonucDetay('@item.ID')"><span class="label label-@durumu"><b>@item.Durum</b></button>
                                                }

                                            </td>
                                        </tr> 
                                        }
                                        else
                                        {
                                        <tr>
                                            <td>-</td>
                                            <td>@item.Testler.TestNo</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>                                         
                                            <td><span class="label label-info">AÇIKLANMADI</span> </td>
                                        </tr>  
                                        }
                                    }

                                </tbody>

                            </table>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    Cevaplandırılan test bulunmamaktadır!
                                </div>   
                            }
                        </div>
                    </div>
                </div>
                <!-- END JUSTIFIED TABS -->
            </div>
        </div>
    </div>

</div>

<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h4>
                    </div>
                    <div class="modal-body" id="Cevaplar">
                        <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>                        
                    </div>
                </div>
            </div>
        </div>  


<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>  

    function TesteBasla(id) {     
        window.location.href = '/SINAV/Home/TesteBasla?id='+id;
    }

    $(function () {  
        setInterval(function () {
            
            window.location.href ="/SINAV/Home/Modul_Testler?id=@ids&sonkonu=@skonu";
        }, 60000);
    });

    function SonucDetay(idx)
    {
        var yukleniyor = '<div class="progress">'+
                                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>'+
                                    '</div>"';
        $("#Cevaplar").html(yukleniyor);
        $.get('@Url.Action("_TestCevaplar", "Home")', { id : idx}, function (data) {
            $("#Cevaplar").html(data);
        });
    }

</script>


