﻿@model List<Sinav_Sorular>
@{
    ViewBag.Title = "SinavaBasla";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    //var soruTipi = (string)ViewBag.SoruTipi;

    int userRef = (int)ViewBag.userId;
    HaveakEntities Entity = new HaveakEntities();

    //DateTime baslamaTarihi;
    //TimeSpan baslamZamani;
    TimeSpan bitisSaati;
    int basladi = 0;
    int bitti = 0;
    //int aktifSinav = (int)ViewBag.AktifSinav;
    int Personel_SinavRef = (int)ViewBag.PerSinavID;

    var zamanlar = (Personel_Sinavlar)ViewBag.zamanlar;
    bitisSaati = zamanlar.BitisSaati.Value;
    if (zamanlar.Basladi == 1)
    {
        //baslamaTarihi = zamanlar.SinavTarihi.Value;
        //baslamZamani = zamanlar.BaslamaSaati.Value;

        basladi = zamanlar.Basladi;
        bitti = zamanlar.Bitti;
    }
    string soruKontrol = basladi == 1 ? "block" : "none";
    int sinavlar_Ref = Model.Select(t => t.Sinavlar_Ref).FirstOrDefault();
    int per_sinav = (int)ViewBag.personel_sinav;
}
@using HaveakPro.Models;

<div class="content-frame">
    <ul class="breadcrumb" style="text-align: center;">
        <li>
             <input id="Button1" type="button" class="btn btn-danger btn-large" value="SINAVI BİTİR" onclick="SinavBitirManuel();" />
        </li>
    </ul>

    <div class="row">
       @* <div class="col-md-12" style="text-align: center;">
            <br />
           
        </div>*@
        <div id="SoruSiklar" class="col-md-12" style="text-align: center; display: block">
            <div id="sinavbaslasoru" style="display:@soruKontrol;">
                <div class="col-md-6">
                    <h4 style="font-weight: bold">SORULAR (UYGULAMA)</h4>
                    @{
                        int indeks = 0;
                        foreach (var item in Model.Where(r => r.SinavTipi_Ref == (int)HaveakPro.Areas.PANEL.Models.Enumlar.SoruTipleri.UYGULAMA).Select((r, x) => new { Index = x, Data = r }))
                        {
                            indeks++;
                            var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == item.Data.ID && t.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userRef).Select(r => r.ID).Count() == 0 ? "btn btn-success" : "btn btn-danger";                                   
                                    
                        <a onclick="GetSinavSoruDetay(@item.Data.Sinavlar_Ref, @item.Data.ID, 1, @(item.Index + 1))" class="@soruDurum">@(item.Index + 1)</a>
                            if (indeks == 14)
                            {
                        <br />
                        <br />
                                indeks = 0;
                            }
                        }  
                    }
                </div>
                <div class="col-md-6">
                    <h4 style="font-weight: bold">SORULAR (TEORİK)</h4>

                    @{
                        int indeks2 = 0;
                        foreach (var itemc in Model.Where(r => r.SinavTipi_Ref == (int)HaveakPro.Areas.PANEL.Models.Enumlar.SoruTipleri.TEORIK).Select((r, x) => new { Index = x, Data = r }))
                        {
                            indeks2++;
                            var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == itemc.Data.ID && t.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == userRef).Select(r => r.ID).Count() == 0 ? "btn btn-success" : "btn btn-danger"; 
                        <a onclick="GetSinavSoruDetay(@itemc.Data.Sinavlar_Ref, @itemc.Data.ID, 2, @(itemc.Index + 1))" class="@soruDurum">@(itemc.Index + 1)</a>
                            if (indeks2 == 14)
                            {
                        <br />
                        <br />
                                indeks2 = 0;
                            }
                        }  
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-10 col-sm-12" style="display:inline-block">
                @if (basladi != 1)
                {     
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">DİKKAT!!!</h3>

                        </div>
                        <div class="panel-body">
                            Sol Tarafta "Mavi" İçerikli Kutucuklar Cevaplanmayı bekleyen Sorular, "Kırmızı" içerikli kutucuklar Cevaplanan Kutucuklardır.
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-success pull-right" onclick="SinavaBaslaxx();">Sınava Başla</button>
                        </div>
                    </div>           
                }
                else
                {                 
                    <div id="seciliSoruIcerik" style="height: 430px;">
                    </div>             
                }

            </div>
            <div id="SoruIcerik" class="col-md-2 col-sm-6" style="text-align: center; display: none">
                <div class="col-md-5 col-sm-6">

                    <div id="kontrolEkran" style="text-align: center; visibility:hidden" >
                        <h5>MEDDE INCELEME</h5>
                        <button id="P1" class="btn btn-info" style="width: 70px; height: 30px;" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                        <br />
                        <button id="NEG" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                        <br />
                        <br />
                        <button id="P2" class="btn btn-success" style="width: 70px; height: 30px;" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                        <br />
                        <button id="SB" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                        <br />
                        <br />
                        <button id="P3" class="btn btn-warning" style="width: 70px; height: 30px;" onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                        <br />
                        <button id="BW" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                        <br />
                        <br />
                        <button id="Hi" class="btn btn-danger" style="width: 70px; height: 30px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                        <br />
                        <button id="SEN" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>
                        <br />
                        <br />
                        @* <br />
            <br />
            <button id="outbtn" class="btn btn-primary  btn-rounded" style="width: 100px; height: 40px;" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT</button>*@
                    </div>
                </div>
                <div class="panel-body scroll" style="height: 600px;">
                    <div class="col-md-7 col-sm-6" style="display:inline-block">

                        <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div>

                        <div id="uygulamaSorular">
                            <h4 style="font-weight: bold">UYGULAMA</h4>
                            <table id="UgulamaTablo" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Soru</th>
                                        <th>Cevap</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.OrderBy(t => t.ID).Where(t => t.SinavTipi_Ref == 1).Select((i, x) => new { Index = x, Data = i }))
                                    { <tr>
                                        <td style="width: 50%"><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                                        <td id="Cevap_@item.Data.ID">
                                            @{  
                                        string cevapSikki = "";
                                        string cevapAltSikki = "";
                                      
                                        var cevapID = item.Data.SinavCevaplars.Where(m => m.Sınav_Sorular_Ref == item.Data.ID && m.Personel_Sinavlar_Ref == per_sinav).Select(t => new { t.GirilenCevap, t.Sınav_Sorular_Ref, t.AltCevap }).FirstOrDefault();
                                        if (cevapID != null)
                                        {
                                            cevapSikki = Entity.SoruSiklaris.OrderBy(t => t.ID).Where(t => t.ID == cevapID.GirilenCevap).Select(e => e.SoruSikki).FirstOrDefault();
                                            if (cevapID.AltCevap != 0)
                                            {
                                                cevapAltSikki = Entity.AltSiklars.OrderBy(t => t.ID).Where(t => t.ID == cevapID.AltCevap).Select(e => e.AltSoruSikki).FirstOrDefault();
                                            }
                                        }
                                        string kontrol1 = cevapID == null ? "danger" : "success";                          
                                            }
                                            <span class="label label-@kontrol1" style="font-size:12px">@cevapSikki - @cevapAltSikki</span>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div id="teorikSorular">
                            <h4 style="font-weight: bold">TEORİK</h4>
                            <table id="TeorikTablo" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Soru</th>
                                        <th>Cevap</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderBy(t => t.ID).Where(t => t.SinavTipi_Ref == 2).Select((i, x) => new { Index = x, Data = i }))
                                    {                           
                                        <tr>
                                            <td><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                                            <td id="Cevap_@item.Data.ID">
                                                @{
                                        string cevapSikki = "";
                                        var cevapID = item.Data.SinavCevaplars.Where(r => r.Sınav_Sorular_Ref == item.Data.ID && r.Personel_Sinavlar_Ref == per_sinav).Select(t => new { t.GirilenCevap, t.Sınav_Sorular_Ref }).FirstOrDefault();
                                        if (cevapID != null)
                                        {
                                            cevapSikki = Entity.SoruSiklaris.OrderBy(t => t.ID).Where(t => t.ID == cevapID.GirilenCevap).Select(e => e.SoruSikki).FirstOrDefault();
                                        }
                                        string kontrol2 = cevapID == null ? "danger" : "success";
                                                }

                                                <span class="label label-@kontrol2" style="font-size:12px">@cevapSikki</span>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="uyari3" class="btn btn-warning mb-control" data-box="#message-box-warning3" style="visibility: hidden"></button>
<button type="button" id="uyari4" class="btn btn-warning mb-control" data-box="#message-box-warning4" style="visibility: hidden"></button>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Alt Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Resimde Alan belirtiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning4">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Tehlikeli Bölgeyi gösteriniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@

@section scripts{
<script type="text/javascript">
    function GetButtons()
    {
        var myInterval = setInterval(function () {
            $('#kontrolEkran').attr('style', 'visibility:visible');
            clearInterval(myInterval);
        }, 2500);
    }
    
   

    function KategoriMaddeler() {
        $('#kontrolEkran').attr('style', 'visibility:hidden');
        var idx = $('#Kategori').val();
        if (idx == "0") {           
            $('#Resim1').attr('src', '/Content/img/RYokBagaj.jpg');
            $('#maddeIcerik').html();
            return;
        }
        $('#maddeIcerik').html('');
        $.ajax({
            type: "POST",
            url: "@Url.Action("KategoriMaddeler", "MaddeInceleme", new { area = "SIMULATOR" })",
            data: { 'id': idx },
            async: false,
            success: function (data) {
                if (data != "") {
                    var olx = "<ol>";
                    for (var i = 0; i < data.length; i++) {
                        olx += "<li><a class='btn btn-info btn-xs' href='#' onclick='ResimAta(" + data[i].ID + ");'>" + data[i].ResimAd + "</a>" +
                            "<input type='hidden' id='rsm_" + data[i].ID + "' value='" + data[i].Resim + "' />" +
                            "</li>";
                    }
                    olx += "</ol>";
                    $('#maddeIcerik').html(olx);
                    GetButtons();
                    $('#kontrolEkran').css('text-align','center');
                }
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

    function ResimAta(id) {
        var rsm = $('#rsm_' + id).val();
        $('#Resim1').attr('src', '/' + rsm);
    }

    function showImage(typeId) {
        switch (typeId) {
            case 'P1':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P2':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P3':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                break;
            case 'HI':
                $('#rsmx').attr('style', 'filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                break;
            case 'NEG':
                $('#rsmx').attr('style', '-webkit-filter: invert(100%); filter: invert(100%);');
                break;
            case 'SB':
                $('#rsmx').attr('style', '-webkit-filter: grayscale(100%); filter: grayscale(100%);');
                break;
            case 'BW':
                $('#rsmx').attr('style', '-webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                break;
            case 'SEN':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            default:
                break;
        }

    }

    function defaultImage() {
        $('#rsmx').attr('style', 'height: 620px;');
    }


  
    function GetSinavSoruDetay(Sinav_Ref, id, durum, soruno) {
        $('#SoruSiklar').css('display', 'none');
        $('#SoruIcerik').css('display', 'block');

        $.get('@Url.Action("_SSoruDetay", "Home")', { Sinav_Ref: Sinav_Ref, idx: id, SoruNo: soruno }, function (data) {
            if (durum == 1) {
                GetButtons();
            }
            else {
                $('#kontrolEkran').css('visibility', 'hidden');
            }

            $("#seciliSoruIcerik").html(data);
        });
    }

    function SinavaBaslaxx() {
        $.ajax({
            url: "/SINAV/Home/SinavStart",
            data: { 'id': '@Personel_SinavRef' },
            success: function () {
                //$('#alertbox').css('display', 'none');
                $('#sinavbaslasoru').css('display', 'block');
                window.location.href = '@Url.Action("SinavaBasla", "Home", new { area = "SINAV" })';
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }
    $(document).ready(function (e) {
        var surec = setInterval(function () {
            var a = "@bitisSaati.ToString()";
            var b = displayTime();
            var difference = Math.abs(toSeconds(a) - toSeconds(b));
            if (Math.abs(toSeconds(a) >= toSeconds(b))) {
                var result = [
                    Math.floor(difference / 3600),
                    Math.floor((difference % 3600) / 60),
                    difference % 60
                ];
                result = result.map(function (v) {
                    return v < 10 ? '0' + v : v;
                }).join(':');
                $('#pulsate-regular').html(result);
                if (result == "00:00:00") {

                    $.ajax({
                        url: "/SINAV/Home/SinavBitir",
                        data: { 'aktifSinavID': '@Personel_SinavRef' },
                        success: function (data) {
                            if (data == "tamam") {
                                window.location.href = '/SINAV/Home/Index';
                            }
                        },
                        error: function (hata) {
                            alert(hata.responseText);
                        }
                    });
                    clearInterval(surec);
                    window.location.href = '/SINAV/Home/Index';
                }
            }
            else {
                clearInterval(surec);
            }
        }, 1000);
    });

    function SinavBitirManuel() {
        var durum = confirm("Sınavı Bitirmek İstediğinizden Eminmisiniz? Not:Tekrar giriş Yapamazsınız!");
        if (durum == true) {
            $.ajax({
                url: "/SINAV/Home/SinavBitir",
                data: { 'aktifSinavID': '@Personel_SinavRef' },
                success: function (data) {
                    if (data == "tamam") {
                        window.location.href = '/SINAV/Home/Index';
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        }
    }

    function displayTime() {
        var str = "";

        var currentTime = new Date()
        var hours = currentTime.getHours()
        var minutes = currentTime.getMinutes()
        var seconds = currentTime.getSeconds()

        if (minutes < 10) {
            minutes = "0" + minutes
        }
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        str += hours + ":" + minutes + ":" + seconds + " ";
        return str;
    }

    function toSeconds(time_str) {
        var parts = time_str.split(':');
        return parts[0] * 3600 +
        parts[1] * 60 +
        +
        parts[2];
    }

</script>
    }