﻿@{
    var _hlp = DependencyResolver.Current.GetService<I_UserModel>();
    var KullaniciBilgi = _hlp.getAutorizeUser();
    HaveakEntities entity = new HaveakEntities();
    DateTime bugun = DateTime.Now.Date;
    var mesajlar = entity.Mesajlars.OrderByDescending(y => y.ID).Where(t => t.Alici_Ref == KullaniciBilgi.User_Ref && t.Tarih == bugun).Take(1).ToList();

}
@using HaveakPro.Models;
@using HaveakPro.Models.Interface;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="http://www.tur-haveak.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/theme-light.css" />

    <script lang="JavaScript">
        var saaat;
        function digitalsaat() {
            var suan = new Date();
            var dsaat = suan.getHours();
            var ddak = suan.getMinutes();
            var sny = suan.getSeconds();
            saaat = dsaat + ':' + ((ddak < 10) ? '0' : '') + ddak + ':' + ((sny < 10) ? '0' : '') + sny;
            div.innerHTML = saaat
            setTimeout("digitalsaat()", 1000);
        }

    </script>

</head>

<body oncontextmenu='return false' style="-webkit-user-select: none;">


    <div class="page-container">

        <div class="page-sidebar">

            <ul class="x-navigation">
                <li class="xn-logo">
                    <img src="~/Content/img/logo.png" style="width: 220px; height: 50px;background-color:darkgrey" />
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="~/DocumentFiles/Personel/@(KullaniciBilgi.Picture ?? "RYok.jpg")" alt="" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="~/DocumentFiles/Personel/@(KullaniciBilgi.Picture ?? "RYok.jpg")" alt="@KullaniciBilgi.EName @KullaniciBilgi.ESurName" style="width:100px; height:100px" />
                        </div>
                        <div class="profile-data">
                            <div id="div" style="color:black"></div>
                            <div class="profile-data-name">Sn. @KullaniciBilgi.EName @KullaniciBilgi.ESurName</div>
                            <div class="profile-data-title">Hoşgeldiniz</div>
                        </div>
                    </div>
                </li>
                <li class="xn-title">İŞLEMLER</li>
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-desktop"></span><span class="xn-text">Ana Sayfa</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Duyurular", new { area = "" })"><span class="fa fa-bullhorn"></span><span class="xn-text">Duyurular</span></a>
                </li>

                <li><a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })"><span class="fa fa-copy"></span><span class="xn-text">Mesajlar</span></a></li>
                <li>
                    <p style="margin-top:150%; color:white; text-align:center;"> &copy; Copyright Haveak</p>
                </li>
            </ul>

        </div>

        <div class="page-content">
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize">
                        <span class="fa fa-dedent">
                        </span>
                    </a>
                </li>
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <li class="xn-icon-button pull-right" id="mesajlar">
                  
                  
                </li>
                @*<li class="xn-icon-button pull-right" id="mesajlar">
                    <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="informer informer-danger">@mesajlar.Count</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="left: -350px; top: 50px;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>
                                <div class="pull-right">
                                    <span class="label label-danger">@mesajlar.Count Kişi (Bugün)</span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                                @foreach (var item in mesajlar)
                                {
                                    <a href="javascript:KullaniciyiSec('@item.Gonderen_Ref');" class="list-group-item">
                                        <div class="list-group-status status-online"></div>
                                        <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" class="pull-left" alt="@item.Personel.Adi @item.Personel.Soyadi" />
                                        <span class="contacts-title">@item.Personel.Adi @item.Personel.Soyadi</span>
                                        <p>@item.Icerik</p>
                                    </a>
                                }
                            </div>
                            <div class="panel-footer text-center">
                                <a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>
                            </div>
                        </div>
                </li>*@
            </ul>
            @RenderBody()
        </div>
    </div>
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span>Kullanıcı <strong>Çıkışı</strong> ?</div>
                <div class="mb-content">
                    <p>Programdan Çıkmak istediğiize eminmisiniz?</p>
                    <p>Çıkmak istemiyorsanız hayır a basınız</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("LogOff", "Kontrol", new { area = "" })" class="btn btn-success btn-lg">Evet</a>
                        <button class="btn btn-default btn-lg mb-control-close">Hayır</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START PRELOADS -->
    <audio id="audio-alert" src="~/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/audio/fail.mp3" preload="auto"></audio>
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="~/Content/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='~/Content/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='~/Content/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='~/Content/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='~/Content/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="~/Content/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/datatables/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/summernote/summernote.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->


    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/js/actions.js"></script>
    <script type="text/javascript" src="~/Content/js/faq.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/tocify/jquery.tocify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">


        //window.onbeforeunload = function (event) {
        //    var message = 'Dikkat sayfadan ayrılıyorsuuz. Eminmisiniz?';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};

        $(function () {
            digitalsaat();
            $('div').on('dragstart', function (event) { event.preventDefault(); });
            $('img').on('dragstart', function (event) { event.preventDefault(); });
            $("a").not('#lnkLogOut').click(function () {
                window.onbeforeunload = null;
            });
            $(".btn").click(function () {
                window.onbeforeunload = null;
            });
            $(document).keydown(function (event) {
                if (event.keyCode == 123) {
                    return false;
                }
                else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                    return false;  //Prevent from ctrl+shift+i
                }
            });
            $(document).on("contextmenu", function (e) {
                e.preventDefault();
            });
            //MesajKontrol();
        });

        function KullaniciyiSec(userRef) {
            debugger    

            $('#AliciRef').val(userRef);
            $('#AliciRef').selectpicker('refresh');
        }

        function BolumBasliklar(id)
        {
            $('#bolumIcerik').html();
            var olx = "<ol>";
            $.ajax({
                type: "POST",
                url: "@Url.Action("BolumBasliklari", "Icerik", new { area = "EGITIM" })",
                data: { 'id': id },
                async: false,
                success: function (data) {
                    var uniteModelID = 0;
                    var aktifTestVarmi = 0;
                    for (var i = 0; i < data.length; i++) {
                        uniteModelID = data[i].unite_modul_ref;
                        aktifTestVarmi = data[i].aktifTestAdet;
                        if ('@KullaniciBilgi.Roller.Contains(UserRoleName.PANEL_AdminGiris)' == "True" || '@KullaniciBilgi.Roller.Contains(UserRoleName.ADMIN_Egitim)' == "True") {
                            olx += "<li><a href='@Url.Action("Konu", "Icerik", new { area = "EGITIM" })?id=" + data[i].ID + "'>  " + data[i].UniteAdi + " </a></li>";
                        }
                        else {
                            if (data[i].abRef > 0 || i == 0) {
                                olx += "<li><a href='#' onclick='OkunduGonder(" + data[i].ID + ");'>  " + data[i].UniteAdi + " </a></li>";
                            }
                            else {
                                olx += "<li>" + data[i].UniteAdi + "</li>";
                            }
                        }
                    }
                    olx += "</ol>";
                    olx += "<hr>";
                    olx += "<a class='btn btn-info btn-large' href='/SINAV/Home/Modul_Testler?id=" + id + "&sonkonu=0'>TEST CEVAPLAR</a>";
                    if ('@KullaniciBilgi.Roller.Contains(UserRoleName.PANEL_AdminGiris)' == "True" || '@KullaniciBilgi.Roller.Contains(UserRoleName.ADMIN_Egitim)' == "True") {
                        olx += "<a style='margin-left:10px' class='btn btn-warning btn-large' href='/SINAV/Home/Modul_Testler?id=" + uniteModelID  + "&sonkonu=1'>ÜNİTE TESTLER</a>";
                    }
                    else {
                        if (aktifTestVarmi > 0) {
                            olx += "<a style='margin-left:10px' class='btn btn-warning btn-large' href='/SINAV/Home/Modul_Testler?id=" + uniteModelID + "&sonkonu=1'>ÜNİTE TESTLER</a>";
                        }
                    }
                   @* $.ajax({
                        type: "POST",
                        url: "@Url.Action("Testler", "Icerik", new { area = "EGITIM" })",
                        data: { 'modulRef': id },
                        async: false,
                        success: function (result) {*@
                    //olx += "<ul><li>";
                    //for (var i = 0; i < result.length; i++) {
                    //olx += "<a class='btn btn-info btn-large' href='/EGITIM/Home/Modul_Testler/" + result[i].UniteModul_Ref + "'>BÖLÜM TESTLERİ </a>";
                    //}
                    //    },
                    //    error: function (ex) {
                    //        alert(ex.error);
                    //    }
                    //});
                    $('#bolumIcerik').html(olx);
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

        setInterval(function () {
            MesajKontrol();
        }, 35000);

        function MesajKontrol()
        {
            $('#mesajlar').html('');
            $.get('@Url.Action("VitrinMesajlar", "Home", new { area = "" })', function (data) {
                var kontrol = '';
                var count = data.length;

                kontrol = '<a href="#"><span class="fa fa-comments"></span></a>' +
                    '<div class="informer informer-danger">' + count + '</div>' +
                    '<div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">' +
                    '<div class="panel-heading">' +
                    '<h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>' +
                    '<div class="pull-right">' +
                    '<span class="label label-danger">' + count + ' Kişi (Bugün)</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">';
                $.each(data, function (i, item) {
                    kontrol += '<a href="javascript:KullaniciyiSec(' + item.Gonderen_Ref + ');" class="list-group-item" name="kullanicilar" data-id="' + item.Gonderen_Ref +'">' +
                    '<div class="list-group-status status-online"></div>' +
                        '<img src="/DocumentFiles/Personel/' + item.Resim + '" class="pull-left" style="width:40px; height:37px;" alt="' + item.Ad + ' ' + item.Soyad + '" class="pull-left" alt="John Doe" />' +
                        '<span class="contacts-title">' + item.Ad + ' ' + item.Soyad + '</span>' +
                        '<p>' + item.Icerik + '</p>' +
                        '</a>'
                });

                kontrol +=  '</div>' +
                    '<div class="panel-footer text-center">' +
                    '<a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>' +
                    '</div>' +
                    '</div>';
                $('#mesajlar').html(kontrol);
                MesajDataGetir();
            });
        }

    function MesajDataGetir() {
        var gid = $('#AliciRef').val();
        if (gid == "0") {
            return;
        }
        $.get('@Url.Action("_MesajIcerikVt", "Home", new { area = "" })', { aliciRef: gid }, function (data) {
            $('#MesajDetay').html(data);
        });
    }

</script>
