﻿@model List<Tip_Sorular>
@{
    ViewBag.Title = "TipCevaplar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var tipcevaplar = (List<TipCevaplar>)ViewData["tipcevaplar"];
    HaveakEntities entity = new HaveakEntities();
    int index = 0;

}
@using HaveakPro.Models;

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TIP CEVAPLAR</li>
</ul>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>GİS SORULAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Soru</th>
                                            <th>Doğru Şık</th>
                                            <th>Cevap</th>
                                            <th>Koordinat</th>
                                            <th>Sonuç</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var sorucevap = tipcevaplar.Where(r => r.Tip_Sorular_Ref == item.ID).FirstOrDefault();
                                            index++;
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                @item.UniteSorular.Soru
                                            </td>
                                            <td>
                                                @item.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.SoruSikki).FirstOrDefault()
                                            </td>
                                            <td>
                                                @{
                                                    string verilencevap = string.Empty;
                                                    if (sorucevap != null)
                                                    {
                                                        verilencevap = entity.SoruSiklaris.Where(r => r.ID == sorucevap.GirilenCevap).Select(y => y.SoruSikki).FirstOrDefault();
                                                    }
                                                    else
                                                    {
                                                        verilencevap = "BOŞ";
                                                    }
                                                    @:@verilencevap
                                                }

                                            </td>
                                            <td>
                                                @{
                                                    string koordinat = string.Empty;
                                                    if (sorucevap != null)
                                                    {
                                                        koordinat = sorucevap.KoordinatSecim == true ? "Doğru" : "Yanlış";
                                                    }
                                                    else
                                                    {
                                                        koordinat = "YOK";
                                                    }
                                                @:@koordinat
                                                }
                                            </td>
                                            <td style="font-weight:bold">
                                                @{
                                                    string netice = string.Empty;
                                                    if (sorucevap != null)
                                                    {
                                                        netice = sorucevap.Netice == true ? "Doğru" : "Yanlış";
                                                    }
                                                    else
                                                    {
                                                        netice = "Boş";
                                                    }
                                                <span class="label label-@(netice == "Doğru" ? "success": netice== "Boş"? "primary": "danger")"> @netice</span>
                                                }

                                            </td>
                                        </tr>
                                                    }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger" role="alert">
                                                            <strong>DUYURU </strong> Bu sınava ait hiç cevap şıkkı işaretlenmedi!
                                                        </div>
                                                    }
        </div>
    </div>

</div>