﻿@model List<Tip_Sorular>
@{
    ViewBag.Title = "TipTesteBasla";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    int personel = (int)ViewBag.userId;
    HaveakEntities Entity = new HaveakEntities();
    //TimeSpan bitisSaati;

    var aktifSinav = (Personel_TIP)ViewBag.Per_TIP;
    int SinavID = (int)ViewBag.TipSinavID;
    int basladi = 0;
    int bitti = 0;
    //int Personel_TipRef = Model.Select(r => r.TipSinavlar_Ref).FirstOrDefault();
    //var zamanlar = Entity.Personel_TIP.Where(t => t.ID == Personel_TipRef).FirstOrDefault();
    DateTime zaman = DateTime.Now.Date;

    //var SOgrenciRef = Entity.Sinif_Ogrenci.Where(t => t.Bitti == false && t.Personel_Ref == personel).Select(e => e.ID).FirstOrDefault();
    if (aktifSinav != null)
    {
        //bitisSaati = zamanlar.CikisSaati.Value;
        if (aktifSinav.Basladi == 1)
        {
            basladi = aktifSinav.Basladi.Value;
            bitti = aktifSinav.Bitti;
        }
    }
    //string soruKontrol = basladi == 1 ? "block" : "none";
    var testler = Model.Select(t => new { t.TipSinavlar_Ref, t.TipSinavlar.Sure }).FirstOrDefault();
    //var per_test = Entity.Personel_TIP.Where(r => r.Personel_Ref == personel && r.TipSinavlar_Ref == testler.TipSinavlar_Ref).Select(t => new { t.ID, t.GirisSaati, t.TipSuresi, t.Basladi, t.Bitti }).FirstOrDefault();
    //if (per_test != null)
    //{
    //    basladi = per_test.Basladi.Value;
    //}


    TimeSpan baslamaSaati = aktifSinav == null ? DateTime.Now.TimeOfDay : aktifSinav.GirisSaati.Value;
    TimeSpan span = TimeSpan.FromMinutes(Convert.ToDouble(testler.Sure));
    TimeSpan testtoplamSuresi = baslamaSaati.Add(span);
    //int? sorunNo = (int?)ViewBag.Soruno;
    //if (sorunNo == null)
    //{
    int sorunNo = Model.Select(e => e.ID).FirstOrDefault();
}
@using HaveakPro.Models;


<div class="content-frame">
    <ul class="breadcrumb">
        <li></li>
    </ul>

    <div class="row">

        <div class="row">
            @if (basladi != 1 || bitti == 1)
            {
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title">DİKKAT!!!</h3>

                    </div>
                    <div class="panel-body" style="font-weight:400;font-size:16px">
                        Sınava başlandığında, hızlıca soruları cevaplamanız beklenmektedir.
                    </div>
                    <div class="panel-footer">
                        <button id="tststart" class="btn btn-success pull-right" onclick="TesteBaslaxx();" style="width:300px; font-weight:800; font-size:16px">Teste Başla</button>
                    </div>
                </div>
            }
            else
            {
                <div id="seciliSoruIcerik">
                </div>
                @*<div style="clear:both"></div>*@
            }

            @if (basladi == 1 && bitti == 0)
            {
                <div id="SoruIcerik" class="col-md-2" style="text-align: center;">
                    <div class="col-md-5">

                        <div id="kontrolEkran" style="text-align: center; display:none">
                            <h5>MEDDE INCELEME</h5>
                            <button id="P1" class="btn btn-info" style="width: 70px; height: 30px;" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                            <br />
                            <button id="NEG" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                            <br />
                            <br />
                            <button id="P2" class="btn btn-success" style="width: 70px; height: 30px;" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                            <br />
                            <button id="SB" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                            <br />
                            <br />
                            <button id="P3" class="btn btn-warning" style="width: 70px; height: 30px;" onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                            <br />
                            <button id="BW" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                            <br />
                            <br />
                            <button id="Hi" class="btn btn-danger" style="width: 70px; height: 30px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                            <br />
                            <button id="SEN" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>
                            <br />
                            <br />
                            @* <br />
                                <br />
                                <button id="outbtn" class="btn btn-primary  btn-rounded" style="width: 100px; height: 40px;" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT</button>*@
                        </div>
                    </div>
                    <div class="panel-body col-md-7 scroll" style="height: 600px;">
                        <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div>
                        <div id="tipSorular">
                            <h4 style="font-weight: bold">TIP</h4>
                            <table id="UgulamaTablo" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Soru</th>
                                        <th>Cevap</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.OrderBy(t => t.ID).Select((i, x) => new { Index = x, Data = i }))
                                    {
                                        <tr>
                                            <td style="width: 50%"><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                                            <td id="Cevap_@item.Data.ID">
                                                @{
                                                    string cevapSikki = "";
                                                    string kontrol1 = "";
                                                    //string cevapAltSikki = "";
                                                    //int userRef = AktifKullanici.Aktif.User_Ref;
                                                    var cevapID = item.Data.TipCevaplars.Where(m => m.Tip_Sorular_Ref == item.Data.ID && m.Personel_Tip_Ref == aktifSinav.ID).Select(t => new { t.GirilenCevap, t.Tip_Sorular_Ref }).FirstOrDefault();
                                                    if (cevapID != null)
                                                    {
                                                        cevapSikki = Entity.SoruSiklaris.OrderBy(t => t.ID).Where(t => t.ID == cevapID.GirilenCevap).Select(e => e.SoruSikki).FirstOrDefault();
                                                        //    if (cevapID.AltCevap != 0)
                                                        //    {
                                                        //        cevapAltSikki = Entity.AltSiklars.OrderBy(t => t.ID).Where(t => t.ID == cevapID.AltCevap).Select(e => e.AltSoruSikki).FirstOrDefault();
                                                        //    }
                                                    }
                                                    kontrol1 = cevapID == null ? "danger" : "success";
                                                }
                                                <span class="label label-@kontrol1" style="font-size:12px">@(cevapSikki == "" ? "BOŞ" : cevapSikki == null ? "NULL" : cevapSikki)</span>
                                            </td>
                                        </tr>
                                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                                    }
        </div>


    </div>
    <br />
    <br />

</div>
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="kapatma" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="devamet" class="btn btn-danger mb-control" data-box="#message-box-sound-3" style="visibility: hidden"></button>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Sınavı bitiriyorsunuz. Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="TestBitirManuel();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">İptal</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Soru için ayrılan süre tamamlandı !</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="GetTipSoruDetayNull();">Devam</button>
            </div>
        </div>
    </div>
</div>


@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
@section scripts{
    <script type="text/javascript">
        var saniye;

        function showImage(typeId)
    {
        switch (typeId) {
            case 'P1':
                $('#rsmx').attr('style', 'height: 630px; width:830px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P2':
                $('#rsmx').attr('style', 'height: 630px; width:830px; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P3':
                $('#rsmx').attr('style', 'height: 630px; width:830px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                break;
            case 'HI':
                $('#rsmx').attr('style', 'height: 630px; width:830px; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                break;
            case 'NEG':
                $('#rsmx').attr('style', 'height: 630px; width:830px; -webkit-filter: invert(100%); filter: invert(100%);');
                break;
            case 'SB':
                $('#rsmx').attr('style', 'height: 630px; width:830px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                break;
            case 'BW':
                $('#rsmx').attr('style', 'height: 630px; width:830px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                break;
            case 'SEN':
                $('#rsmx').attr('style', 'height: 630px; width:830px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            default:
                break;
        }

    }

    function defaultImage() {
        $('#rsmx').attr('style', 'height: 630px; width:830px; visibility: visible; background-color: white;');
    }

        function GetTipSoruDetay(Tip_Ref, id, kayitmi) {
            if (kayitmi == "true") {
                CevapKaydet(saniye);
            }
            else {
                $.ajax({
                    url: "@Url.Action("_TSoruDetay", "TipSinav", new { area = "SINAV" })",
                    data: { 'Tip_Ref': Tip_Ref, 'idx': id },
                    success: function (data) {
                        $("#seciliSoruIcerik").html(data);
                    },
                    error: function (hata) {
                        alert(hata.responseText);
                    }
                });
            }
        }

    function GetTipSoruDetayNull() {
        CevapKaydetNull();
    }

        function TesteBaslaxx()
        {

        $('#tststart').attr("disabled", "disabled");
        $.ajax({
            url: "/SINAV/TipSinav/TipTestStart",
            data: { 'id': '@testler.TipSinavlar_Ref', 'personel_ref': '@personel' },
            success: function () {
                window.location.href = '/SINAV/TipSinav/TipTesteBasla/@testler.TipSinavlar_Ref';
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }


   function TestBitirManuel()
   {
          $.ajax({
              url: "/SINAV/TipSinav/TipTestBitir",
              data: { 'aktifTipTestID': '@(aktifSinav == null ? 0 : aktifSinav.ID)' },
              success: function (data) {
              if (data == "tamam") {
                  window.location.href = '/SINAV/TipSinav/Index';
              }
          },
          error: function (hata) {
              alert(hata.responseText);
          }
          });
   }

      $(document).ready(function () {
         var sorukontrol = parseInt('@basladi');
    if (sorukontrol != 0) {
        var b = 1;
        saniye = setInterval(function () {
            var a = 25;
            var difference = a - b;
            var sonuc = "";
            if (difference > 9) {
                sonuc = "" + difference;
            }
            else {
                sonuc = "0" + difference;
            }
            $('#pulsate-regular').html("00:00:" + sonuc);
            if (difference == 0) {
                clearInterval(saniye);
                $('#devamet').click();
            }
            b++;
        }, 1000);
    }
    GetTipSoruDetay('@(testler.TipSinavlar_Ref)', '@sorunNo', false);
      });




    function displayTime() {
        var str = "";

        var currentTime = new Date()
        var hours = currentTime.getHours()
        var minutes = currentTime.getMinutes()
        var seconds = currentTime.getSeconds()

        if (minutes < 10) {
            minutes = "0" + minutes
        }
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        str += hours + ":" + minutes + ":" + seconds + " ";
        return str;
    }

    function toSeconds(time_str) {
        var parts = time_str.split(':');
        return parts[0] * 3600 +
        parts[1] * 60 +
        +
        parts[2];
    }

    </script>
}
