﻿@model Sinif_Ogrenci
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    EgitimGirisSayfasi icerik = (EgitimGirisSayfasi)ViewBag.Aciklama;
    HaveakEntities entity = new HaveakEntities();
    string yetki = "False";
    var Roller = (List<string>)ViewBag.Roller;
    if (Roller.Contains(UserRoleName.PANEL_AdminGiris) || Roller.Contains(UserRoleName.ADMIN_Egitim))
    {
        yetki = "True";
    } 
}
@using HaveakPro.Models;

<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li class="active">EĞİTİM</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>EĞİTİM KURSLARI</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <!-- END CONTENT FRAME TOP -->

    <!-- START CONTENT FRAME LEFT -->
    <div class="content-frame-right">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="push-up-0">Kurs Eğitim Bölümleri</h3>
                <div id="bolumIcerik">
                    <div class="alert alert-info" role="alert">
                        <strong>Lütfen</strong> Kurs içerisinden Bölüm seçiniz
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME LEFT -->

    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model != null)
                {
                    int modulSayi = 0;
                    foreach (var itemUnitList in Model.AtananBolumlers.Where(r=>r.Bolum.IsActive == true && r.Bolum.IsDelete== false))
                    {
                        modulSayi++;                                       
                    <div class="col-md-6">
                        <div class="panel panel-default push-up-20">
                            <div class="panel-heading">
                                <h3 class="panel-title">@itemUnitList.Bolum.BolumAdi</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-tags">
                                    @foreach (var itemModul in itemUnitList.Bolum.KursModullers.Where(q=>q.UniteModul.IsDelete == false && q.UniteModul.IsActive == true).Select((x, y) => new { Index = y, Data = x }))
                                    {   
                                        <li><a href="#" onclick="BolumBasliklar('@itemModul.Data.UniteModule_Ref');"><span class="fa fa-tag"></span>@itemModul.Data.UniteModul.Modul</a>
                                            @*  @(int idx = itemModul.Index)*@
                                            <input type="hidden" value="" />
                                        </li>
                                            
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>    
                    }
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Üzügünüz!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->
<script>
    function dilsec()
    {
        window.location.href = '@Url.Action("", "")'
    }


    function OkunduGonder(idx) {
        
        var kontrol = '@yetki';
        if (kontrol == "False")
        {
            var abRef = '@(Model != null ?  Model.AtananBolumlers.Select(e => e.ID).FirstOrDefault(): 0)';
            $.ajax({
                url: '/EGITIM/Home/OkunduBilgisi',
                data: { 'atananBolum_Ref': abRef, 'unite_Ref': idx },
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("Konu", "Icerik", new { area = "EGITIM" })?id=' + idx + '&atananblm=' + '@(Model != null ?  Model.AtananBolumlers.Select(e => e.ID).FirstOrDefault(): 0)';
                }
            }
        });
        }
        else {
            window.location.href = '/EGITIM/Icerik/Konu?id=' + idx;
        }
    }


</script>


